<div>
  <p class="title">
    <a href="#" {{action "downloadAttachment"}}><i class="icon-doc-text-inv"></i> {{ attachment.fileName }}</a>
  </p>

  <div class="hspacer"></div>
  
  <div>
    {{{ attachment.renderedHtml }}}
  </div>
  
</div>
