{{#if candidate.has_done_delete}}

    <strong>{{__ 'This candidate is awaiting for deletion from the source. It should disappear from these results shortly.'}}</strong>

{{else}}

    {{#unless isLoaded}}

        {{{candidate.profileBody}}}

    {{else}}

        {{#if candidate.email_body}}

            <h4 id="applicationMessageHeader" class="adcresponses-header" {{action 'toggleEmailBody'}}>
                {{__ 'Application Message'}}
                {{if showEmailBody "▼" "►"}}
            </h4>

            <!-- application message initially collapsed: direct eye to CV instead -->
            <div class="{{cv_preview}} {{if showEmailBody '' 'hidden'}}">
                {{{candidate.email_body}}}
            </div>

        {{/if}}

        <h4 class="adcresponses-header">{{__ 'CV'}}</h4>
        <div class="cv_preview">
            {{{candidate.profileBody}}}
        </div>

    {{/unless}}

{{/if}}
