        {{#unless selectedTag}}
            {{input value=input focus-in="entered" class="text" placeholder=translations.placeholderPleaseSelect}}

            <div class="autocomplete_hint {{if hasOptions '' 'hidden'}}">
                {{#each suggestions as |tag|}}
                    {{tag-suggestion tag=tag action='setTag'}}
                {{/each}}
            </div>
        {{else}}
            {{tag-suggestion tag=selectedTag}} <div class="link-like" style="padding-top:3px;margin-left:5px;" {{action "unsetTag"}}>{{__ "choose again"}}</div>
        {{/unless}}
