{{#link-to 'admin.emailtemplates.edit' template.id}}<b>{{template.name}}</b>{{/link-to}}
    {{#if template.rules_data.length}}
        <i class="icon-puzzle"></i>
    {{#if hasResponseReceivedRule }}
        <i class="icon-asterisk"></i>
    {{/if}}
    {{#each responseFlaggedRules as |rule|}}
        <i class="icon-flag-circled" style={{flag-style searchUser rule.flag_id}}></i>
    {{/each}}
{{/if}}
<div class="right">
    {{__ 'Created at:'}} {{isoDateToNiceDate template.insert_datetime searchUser.timezone}}
</div>
