{{#if flag.isRejectionFlag}}
    <div class="settings-row">
        <div class="settings-row-label"><strong>{{__ "Predefined Rejection Reasons"}}</strong></div>
    </div>
    {{#each rejectionReasons as |r|}}
    <div class="settings-row">
        <div class="settings-row-label">{{ r.label}}</div>
        <div class="pull-right">
            <button class="btn btn-danger"{{action "deleteRejectionRule" r }}><i class="icon-trash-1"></i></button>
        </div>
    </div>
    {{/each}}

<div class="settings-row">
    {{#if showAddReason}}
        <div class="settings-row-label">
            {{__ 'Add rejection reason'}}
        </div>
        <div class="pull-right">
            <button disabled={{hasNewReasonValue}} {{action "addRejectionRule"}}>{{__ "Add"}}</button>
            <button {{action "toggleShowAddReason"}}>{{__ "Cancel"}}</button>
        </div>
        {{input value=newReasonValue maxlength=this.maxReasonLength }}
    {{else}}
        <p {{action 'toggleShowAddReason'}}>+ {{__ "Add"}}</p>
    {{/if}}
</div>
{{/if}}
