{{input classNames="flag-colour-chooser" value=_flag.colour_hex_code }}
{{input value=_flag.description classNames="flag-description input-xlarge" maxlength="100" placeholder=translations.placeholderFlagDescription}}

<button {{action "submitFlag"}} disabled={{formInvalid}}>{{__ 'Submit'}}</button>
<button {{action "cancel"}}>{{__ "Cancel"}}</button>
