<div>
  <p class="title">
    <a href="#" {{action "downloadAttachment"}}><i class="icon-doc-text-inv"></i> {{ attachment.filename }}</a>
  </p>

  <div class="hspacer"></div>
    <div>
        {{#if (is-equal attachment.render_type 'pdf') }}
            <iframe class="pdfjs_viewer" src="{{attachment.pdfFrameSrc}}"></iframe>
        {{else}}
            {{{ attachment.rendered_html }}}
        {{/if}}
    </div>
</div>
