{{auto-complete-no-focus
        classNames="text"
        selectedVal=selectedValue
        searchingClass="location_searching"
        selectedClass="location_selected"
        allowVoidSearch="true"
        placeholder="Please Select"
}}

<div class="autocomplete_hint {{if hasOptions '' 'hidden'}}" style="width:100%;">
    {{#each autocompleteSuggestions as |suggestion|}}
        {{suggestion-options suggestion}}
    {{/each}}
</div>
