<div id="the-blockly-container" style="height: 600px; width: 100%;"></div>

<xml id="toolbox" style="display: none">
    <category name="Control/Logic" colour="225">
        <block type="controls_if"></block>
        <block type="logic_operation"></block>
        <block type="text"></block>
        <block type="math_number"></block>
    </category>

    <category name="Search functions" colour="110">
        <block type="s2_do_later"></block>
        <block type="s2_user_in_office"></block>
        <block type="s2_user_in_team"></block>
        <block type="s2_candidate_is_response"></block>
        <block type="s2_response_is_being_flagged"></block>
        <block type="s2_send_email_template"></block>
        <block type="s2_send_candidate"></block>
        <block type="s2_forward_candidate"></block>
        <block type="s2_do_action"></block>
    </category>
</xml>

{{#if searchUser.contact_details.contact_devuser}}
<button class="btn btn-office" {{action 'previewCode'}}>{{__ 'Preview Code'}}</button>
{{/if}}
