                <ul class="board-selection" id="tour-board-selection">
                    {{#each boards as |board|}}
                        {{#unless board.isHidden}}
                            {{#if board.disabled}}
                                <li class="disabled" title="{{__ 'This board has been temporarily disabled'}}">{{board.nice_name}}</li>
                            {{else}}
                                <li {{action 'changeBoard' board}} class="{{if board.selected 'selected' ''}} {{if board.quota.canSearch '' 'restrictUI'}} {{board.type}}" data-id="{{board.name}}" title="{{if board.quota.canSearch '' (__ 'No search credits left!')}}">
                                    {{#if (unbound searchUser.settings.quota-show_credit_counter)}}
                                        {{#if board.quota.usingSearchQuota}}
                                            <div class="board-badge {{board.quota.searchQuotaClass}}">
                                                <span title="{{board.quota.searchQuota}} Search credits left">
                                                {{board.quota.searchQuota}}
                                                </span>
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                    {{#if board.hasNewResults}}
                                        <div class="hover-container pill new-results {{if board.newResults 'badge-new' 'badge-old'}}">
                                            {{#if board.newResults}}
                                                <a href="#" title="Mark all as read" {{action 'clearWatchdogBoardResults' board bubbles=false}}>
                                                    <i class="on-hover icon-ok-circled"></i>
                                                </a>
                                            {{/if}}
                                            <span title="{{__ 'New watchdog results'}}">{{formatInteger board.newResults}}</span>
                                        </div>
                                    {{/if}}
                                    {{board.nice_name}}
                                </li>
                            {{/if}}
                        {{/unless}}
                    {{/each}}
                </ul>
