<div class="application-info-container">
    <span class="application-toggle-attachments" {{action "toggleAttachments"}}>
        {{#if showing}}▼{{else}}►{{/if}}
    </span>

    <div class="application-job-title-date-container">
        <div class="application-job-title">
            {{#if candidate.broadbean_adcadvert_is_requisition_ad}}
              <span>Requisition Ad</span>
            {{else}}
              <a href="{{application.advert_link}}" target="_NEW">{{application.job_title}}</a>
            {{/if}}
        </div>

        <div class="application-date" {{action toggleAttachments}}>
            {{epoch2DateTime application.application_time searchUser.timezone}}
        </div>
    </div>

    <div class="application-rank-container">
        <i class="icon-flag-circled" style="{{rankStyle}}"></i>
    </div>
    <div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>
<div class="application-attachments" style="display:none;">
    <ul class="application-list">
    {{#if application.attachments}}
        {{#each application.attachments as |attachment|}}
            <li class="application-list-item"><a href="#" {{action 'downloadAttachment' attachment}}><i class="icon-doc-text-inv"></i> {{attachment}}</a></li>
        {{/each}}
    {{else}}
        <li class="application-attachments-unavailable">{{__ 'attachments unavailable'}}</li>
    {{/if}}
    </ul>
</div>
