{{#if formIsShown}}
    <div class="inline-form inline-action" style="display: none;">


      {{#unless candidate.has_done_download}}
        {{#unless isInternalBoard}}
          <div class="alert alert-warning"><i class="icon-attention"></i> {{__ 'We will download this candidate\'s CV to perform this action. You might incur some cost.'}}</div>
          <div class="hspacer"></div>
        {{/unless}}
      {{/unless}}

      <strong>{{title}}:</strong>

      <div>

        {{select-2 query="queryCheeseSandwiches"
                 value=cheeseSandwich
                 placeholder=translations.placeholderPleaseSelect
                 multiple=false
                 allowClear=true
        }}


      </div>
      <div class="hspacer"></div>
      <div>
        <div class="pull-right">
           <button class="btn btn-primary"
                   {{action "doShortlist"}}
                   disabled={{formInvalid}}>{{__ "Submit"}}</button>
        </div>
        <button class="btn" {{action "switchOff"}}>{{__ "Cancel"}}</button>
      </div>
      <div class="hspacer"></div>
    </div>
{{/if}}
