  {{#if formIsShown}}

    <div class="inline-form inline-action" style="display: none;">

      {{#if hasPaidCandidate}}
      <div class="alert alert-warning"><i class="icon-attention"></i> {{__ 'You might incur some cost to message this candidate'}}</div>
      <div class="hspacer"></div>
      {{/if}}

      <strong>{{__ "Email Template"}}:</strong>
      <div class="line">
        <div class="unit size1of2">
            {{select-2 query="queryEmailTemplates"
                     value=emailTemplate
                     placeholder=translations.placeholderPleaseSelect
                     multiple=false
                     allowClear=true
            }}
        </div>
      </div>
      <div class="hspacer"></div>

      <strong>{{__ 'Reply To'}}:</strong><span class="required-field">*</span>
      <div class="line">
        <div class="unit size1of3">
          {{input type="email" value=messageEmail classNames="input-xxlarge" required="required" placeholder=translations.placeholderReplyTo}}
        </div>
      </div>
      <div class="hspacer"></div>
      <strong>{{__ 'Subject'}} {{__ '(Max 80 chars)'}}:</strong><span class="required-field">*</span>
      <div class="line">
        <div class="unit size1of3">
          <div class="input-prepend">
            <span class="add-on">{{messageSubjectPrefix}}</span>
            {{input value=messageSubject classNames="input-xxlarge" required="required" maxlength="80" placeholder=translations.placeholderSubject}}
          </div>
        </div>
      </div>
      <div class="hspacer"></div>
      <strong>{{__ 'Body'}}:</strong><span class="required-field">*</span>
      <div>
        {{tiny-mce value=messageContent height=400 updateContent=_tinymceUpdateContent}}
      </div>
      <div class="hspacer"></div>

      {{#if advertsAreAllowed}}
        <strong>{{__ "Include a link to"}}:</strong>
        {{#if advertId}}(<a target="_NEW" href="{{cheeseSandwichObject.internalPreviewUrl}}">{{__ 'preview'}}</a>){{/if}}

        <div class="{{if searchUser.restrictUI 'restrictUI' ''}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">
        {{select-2-restricted query="queryCheeseSandwiches"
                 value=cheeseSandwich
                 placeholder=translations.placeholderPleaseSelect
                 multiple=false
                 allowClear=true
        }}
        </div>
        <div class="hspacer"></div>
      {{/if}}

      <div>
        <div class="pull-right">
           <button class="btn btn-primary"
                   {{action "sendMessage"}}
                   disabled={{formInvalid}}>{{__ "Submit"}}</button>
        </div>
        <button class="btn" {{action "switchOff"}}>{{__ "Cancel"}}</button>
      </div>
      <div class="hspacer"></div>
    </div>
  {{/if}}
