{{select-2-flags content=flagsAsDropdown value=selectedDropdownFlag placeholder=(__ "Unranked")}}
{{#if showRejection}}
      <div class="hspacer"></div>
      <div>

        {{select-2
            query="getRejectionReasons"
            searchEnabled=false
            value=selectedRejectionReason
            placeholder=translations.placeholderPleaseSelect
        }}
      </div>
      <div>
        <button disabled={{ hasNoSelectedRejectionReason }} class="btn btn-primary pull-right" {{action 'selectReason'}}>{{__ 'Submit'}}</button>
        <button class="btn" {{action 'hideRejectionReasons'}}>{{__ 'Close'}}</button>
      </div>
      <div class="hspacer"></div>
{{/if}}
