{{#each flagType as |flag|}}
    {{candidate-response-flag
        hover="hover"
        leave="leave"
        flagClick="flagClick"
        numericDesignation=flag.value
        colourDesignation=flag.colour
        styleDesignation=flag.style
        isSelected=flag.isSelected
        isFlagged=candidateIsFlagged
        description=flag.description
    }}
{{/each}}
{{#if showRejection}}
      <div class="hspacer"></div>
      <div>

        {{select-2
            query="getRejectionReasons"
            searchEnabled=false
            value=selectedRejectionReason
            placeholder=translations.placeholderPleaseSelect
        }}
      </div>
      <div>
        <button disabled={{hasNoSelectedRejectionReason }} class="btn btn-primary pull-right" {{action 'selectReason'}}>{{__ 'Submit'}}</button>
        <button class="btn" {{action 'hideRejectionReasons'}}>{{__ 'Close'}}</button>
      </div>
      <div class="hspacer"></div>
{{/if}}
