<div>

  {{short-list-long-button candidate=candidate customList=list withAction="yes" action="showForm"}}

  {{#if formIsShown}}
    <div class="inline-form" style="display: none;">

      {{#unless candidate.has_done_download}}
        {{#unless isInternalBoard}}
          <div class="alert alert-warning"><i class="icon-attention"></i> {{__ 'We will download this candidate\'s CV to perform this action. You might incur some cost.'}}</div>
        {{/unless}}
      {{/unless}}

      <div>

        {{select-2 query="queryCheeseSandwiches"
                 value=cheeseSandwich
                 placeholder=translations.placeholderPleaseSelect
                 multiple=false
                 allowClear=true
        }}


      </div>
      <div class="hspacer"></div>
      <div>
        <div class="pull-right">
           <button class="btn btn-primary"
                   {{action "doShortlist"}}
                   disabled={{formInvalid}}>{{__ "Submit"}}</button>
        </div>
        <button class="btn" {{action "hideForm"}}>{{__ "Cancel"}}</button>
      </div>
      <div class="hspacer"></div>
    </div>
  {{/if}}

</div>
