{{#if formIsShown}}
    <div class="inline-form inline-action" style="display: none;">

      <strong>{{__ "Select recipients:"}}</strong>

      <div>
      {{select-2 query="queryRecipients"
                 value=recipients
                 placeholder=translations.placeholderSelectRecipients2
                 stickyPlaceholder=true
                 multiple=true
      }}
      </div>
      {{#if hasRecipientDomainRestrictions}}
        <div><strong>{{__x "Forwarding is restricted to these domains: {domains}" domains=recipientDomainRestrictions}}</strong></div>
      {{/if}}
      <div class="hspacer"></div>

      <strong>{{__ 'Optional Message'}}:</strong>
      <div>
        {{textarea value=messageContent placeholder=translations.placeholderMessage}}
      </div>
      <div class="hspacer"></div>


      <div>
        <div class="pull-right">
           <button class="btn btn-primary"
                   {{action "doForward"}}
                   disabled={{formInvalid}}>{{__ "Submit"}}</button>
        </div>
        <button class="btn" {{action "switchOff"}}>{{__ "Cancel"}}</button>
      </div>
      <div class="hspacer"></div>
    </div>
{{/if}}
