<label>{{tag.label}}</label>
{{#if (unbound searchUser.settings.candidate-actions-candidate_tag-enabled)}}
  {{#unless searchUser.restrictUI}}
    <span class="close" {{action "removeTag" target="view"}}>x</span>
  {{/unless}}
{{/if}}
