<div class="add-tag btn"
     id="add-{{namespace}}-{{candidate.idx}}-trigger"
     data-dropdown="#add-{{namespace}}-{{c.idx}}"
     title="{{translations.placeholderUserTag}}">
  <i class="{{icon}}"></i>
</div>

<div id="add-{{namespace}}-{{candidate.idx}}" class="dropdown dropdown-tip dropdown-relative dropdown-anchor-right" style="width: 300px">
  <div class="dropdown-panel">
    <div class="add-tag-container">
      <h4>{{addTitle}}</h4>
    </div>
  </div>
</div>

<div class="unit right candidate-tags-container">
  List of tags
</div>
