<div>
  {{#if formIsShown}}
    <div class="inline-form inline-action" style="display: none;">

      <div class="line">

        <div class="unit size1of2">
          <div class="hspacer"></div>
          {{#if user.canAddLongList}}
          <div>
            <strong>&nbsp;</strong>{{!-- Placeholder for pixel perfect alignment --}}
            <div>
              {{input type="text" class="input-inline input-medium" value=newListName placeholder=translations.placeholderNewLongList}}
              <button class="btn btn-primary"
                      {{action "createOrToggle"}}
                      disabled={{formInvalid}}><i class="icon-plus-1"></i></button>
            </div>
          </div>
          {{else}}
          <div>{{__x 'You already have {n_longlists} Longlists. Delete one to be able to create a new one.' n_longlists = user.long_lists.length }}</div>
          {{/if}}
        </div>

        <div class="unit size1of2">
          {{#if richerLists}}
          <div class="hspacer"></div>
          <strong>{{__ "Others:"}}</strong>
          <div>
            {{#each richerLists as |list|}}
            <button class="btn {{if list.on 'btn-info' 'btn-primary'}}" title="{{list.buttonTitle}}" {{action "createOrToggle" list}}><i class="{{if list.on 'icon-minus-1' 'icon-plus-1'}}"></i> {{list.name}}</button>
            {{/each}}
          </div>
          {{/if}}
        </div>

      </div><!-- End of line -->

      <div class="hspacer"></div>
      <div>
        <button class="btn" {{action "switchOff"}}>{{__ "Cancel"}}</button>
      </div>
      <div class="hspacer"></div>
        
    </div>
   {{/if}}
</div>
