<div>
  <button {{action "showForm"}}
          class="btn action-button {{if candidate.has_done_forward 'btn-success' ''}} {{if candidate.has_cv '' 'hidden'}} {{if candidate.can_downloadcv '' 'hidden'}}">{{__ "Forward"}}</button>

  {{#if formIsShown}}
    <div class="inline-form" style="display: none;">

      <strong>{{__ "Select recipients:"}}</strong>

      <div>
      {{select-2 query="queryRecipients"
                 value=recipients
                 placeholder=translations.placeholderSelectRecipients2
                 stickyPlaceholder=true
                 multiple=true
      }}
      </div>
      {{#if hasRecipientDomainRestrictions}}
        <div><strong>{{__x "Forwarding is restricted to these domains: {domains}" domains=recipientDomainRestrictions}}</strong></div>
      {{/if}}
      <div class="hspacer"></div>

      <strong>{{__ 'Optional Message'}}:</strong>
      <div>
        {{textarea value=messageContent placeholder=translations.placeholderMessage}}
      </div>
      <div class="hspacer"></div>

      <div>
        <div class="pull-right">
           <button class="btn btn-primary"
                   {{action "doForward"}}
                   disabled={{formInvalid}}>{{__ "Submit"}}</button>
        </div>
        <button class="btn" {{action "hideForm"}}>{{__ "Cancel"}}</button>
      </div>
      <div class="hspacer"></div>
    </div>
  {{/if}}

</div>
