<div>
    <button {{action "showForm"}} class="btn action-button {{if candidate.has_done_delegate 'btn-success' ''}}">{{__ "Delegate"}}</button>

    {{#if formIsShown}}
        <div class="inline-form" style="display: none;">

            <strong>{{__ "Select colleague"}}:</strong>

            <div>
                {{select-2 query="queryColleagues"
                 value=colleague
                 placeholder=translations.placeholderCandidateDelegate
                 stickyPlaceholder=true
                 multiple=false
                 allowClear=true
      }}
            </div>

            <div class="hspacer"></div>

            <div>
                <div class="pull-right">
                    <button class="btn btn-primary" {{action "delegateCandidate"}} disabled= {{formInvalid}}>{{__ "Submit"}}</button>
                </div>
                <button class="btn" {{action "hideForm"}}>{{__ "Cancel"}}</button>
            </div>
            <div class="hspacer"></div>
        </div>
    {{/if}}

</div>
