<div class="note-details" title="{{insertDateTime}}">
    <div class="note-content">{{note.content}}</div>
    <div class="note-author">{{author}}</div>
    <div class="note-date">{{relativeTime}}</div>
</div>

{{#if canDelete}}
<div class="note-delete">
    <a href="#" {{action 'delete'}} title="{{translations.placeholderDeleteThisNote}}"><i class="icon-trash-1"></i></a>
</div>
{{/if}}
<div style="clear:both;"></div>
