<div class="candidate-chooser">
{{#each candidates as |candidate|}}
    <div class="candidate-pill pill">
        <label>{{candidate.identity}} {{#if candidate.email}} {{else}} * {{/if}}</label>
        <span class="close" {{action 'deselect' candidate}}>x</span>
    </div>
{{/each}}
<div class="clear"></div>
</div>
