<div id="add_note">
    {{textarea value=noteContent}}
    <br>
    <button data-dropdown="#note-emoticon" class="btn">{{__ "Emoticon"}}</button>
    <div id="note-emoticon" class="dropdown dropdown-tip dropdown-relative dropdown-anchor-left">
        <div class="dropdown-panel">
            <a href="#" {{action "addEmoticon" "☎"}}>&#9742;</a>
            <a href="#" {{action "addEmoticon" "✉"}}>&#9993;</a>
            <a href="#" {{action "addEmoticon" "✍"}}>&#9997;</a>
            <a href="#" {{action "addEmoticon" "✔"}}>&#10004;</a>
            <a href="#" {{action "addEmoticon" "✘"}}>&#10008;</a>
        </div>
    </div>

    <button {{action 'add'}} class="btn">+{{__ "Add Note"}}</button>
</div>
