<div class="criteria">
  <p>{{__ "Keywords"}}: <strong>{{criteria.keywords}}</strong></p>
  {{#if criteria.location}}
  <p>{{__ "Location"}}: <strong>{{criteria.location}}</strong></p>
  {{/if}}
  
  {{#if showUpdated}}
    <p>{{__ "Updated"}}: <strong>{{criteria.cv_updated_within}}</strong></p>
  {{/if}}

  {{#if criteria.hasChangedCriteria}}
    <p>
      {{#if criteria.default_jobtype}}
      {{__ "Job Type"}}: <strong>{{criteria.default_jobtype}}</strong>
      {{/if}}
      {{#if hasShowableSalary}}
        {{__ "Desired Salary"}}: <strong>{{criteria.salary_cur}} {{criteria.salary_from}} ... {{criteria.salary_to}} {{criteria.salary_per}}</strong>
      {{/if}}
    </p>
  {{/if}}

</div>
