{{#if emailLists.length}}

    {{#if pager}}
        <div class="pager">
            {{__x 'displaying {first_item_on_page} to {last_item_on_page} of {total_items}' first_item_on_page=pager.first last_item_on_page=pager.last total_items=pager.total_entries}}

            <a href="#" class="icon-to-start" {{action "firstPage"}}></a>
            {{#if pager.previous_page}}
                <a href="#" class="icon-fast-bw" {{action "prevPage"}}></a>
            {{/if}}
            {{#if pager.next_page}}
                <a href="#" class="icon-fast-fw" {{action "nextPage"}}></a>
            {{/if}}
            <a href="#" class="icon-to-end" {{action "lastPage"}}></a>
        </div>

        {{#each emailLists as |emailList|}}
            <div>
                <p class="title"><strong>{{isoDateToEuroDate emailList.date searchUser.timezone}}</strong></p>
                <div class="emails">
                    {{#each emailList.emails as |email|}}
                        {{expandable-email email=email}}
                    {{/each}}
                </div>
            </div>
        {{/each}}

    {{else}}
        {{partial "admin/loading"}}
    {{/if}}

{{else}}
    <div class="no-emails-found">{{__ "No emails found."}}</div>
{{/if}}
