<p>{{__ "Send when the response is flagged with"}}
    {{select-2-flags content=flagsAsDropdown optionValuePath="id" value=rule.flag_id placeholder=(__ "Choose flag")}} <span class="required-field">*</span>.
    {{__ "With a delay of"}}
    {{input value=rule.in_minutes classNames="input-small"}} <span class="required-field">*</span>
    {{__ "minutes"}}.
</p>
