<div class="email-history-header {{if bodyShowing 'gray-dotted-border-bottom' ''}}">
  <div class="toggle-arrow-container">
    <a class="toggle-arrow" href="#" {{action "toggleBody"}}>{{#if bodyShowing}}▼{{else}}►{{/if}}</a>
  </div>
  <div class="email-header-container">
      {{#if showFromTo}}
        <div class="email-header from">{{__ "From"}}: <span class="email-from">{{email.from}}</span></div>
        <div class="email-header to">{{__ "To"}}: <span class="email-to" title="{{email.recipient}}">{{email.recipientName}}</span></div>
      {{/if}}
      <div class="email-subject-label">{{__ "Subject"}}: <span class="email-subject">{{email.subject}}</span></div>
  </div>
  <div style="clear:both;"></div>
</div>

<div class="email-history-body">
    {{#if bodyShowing}}
        {{#if email.url}}
            <iframe width="100%" height="400px" src="{{email.url}}"></iframe>
        {{else}}
            <img src="/static/images/loader.gif">
        {{/if}}
    {{/if}}
</div>
