    <h5 class="sub-header" {{action 'toggleFacetShow' facet}}>{{__b facet.Label}} <strong class="right-padd-by-1px">{{#if showing}}▼{{else}}►{{/if}}</strong></h5>
    <div class="facetExpand" style="{{style}}">

        {{!-- if flagsWithColours > 5 --}}
        {{#if (gt flagsWithColours.length 5) }}
            {{#each flagsWithColours as |option|}}
                <label class="facet-option vertical-check {{if option.isChecked 'strong' ''}}">
                    <span class="label"><i class="icon-flag-circled" style="{{option.style}}"></i> {{option.label}}</span>{{input type="checkbox" checked=option.isChecked classNames="hidden check facet-input"}}
                </label>
            {{/each}}
            {{#if isExpanded}}
                <p class="pull-right text-link" {{action 'showLess'}}>{{__ "less"}}</p>
                <div class="clear"></div>
            {{else}}
                <p class="pull-right text-link" {{action 'showMore'}}>{{__ "more"}}</p>
                <div class="clear"></div>
            {{/if}}
        {{else}}
            {{#each flagsWithColours as |option|}}
                <label class="facet-flag-option {{if option.isChecked 'selected' ''}}" title="{{option.label}}">
                    <i class="icon-flag-circled" style="{{option.style}}"></i>{{input type="checkbox" checked=option.isChecked classNames="hidden check facet-input"}}
                    {{option.count}}
                </label>
            {{/each}}
        {{/if}}
    </div>
