            {{#if facet.isHeading}}
                <h4 class="labelFacet">{{__b facet.Label}}</h4>
            {{else}}
                <h5 class="sub-header" {{action 'toggleFacetShow' facet}}>{{__b facet.Label}} <strong class="right-padd-by-1px">{{#if showing}}▼{{else}}►{{/if}}</strong></h5>
                <div class="facetExpand" style="{{style}}">
                    {{#if facet.isList}}
                        {{select-list selectedValue=value content=getOptions optionLabelPath="label" optionValuePath="value" action=(action (mut value))}}
                    {{/if}}
                    {{#if facet.isTextField}}
                        {{input value=facet.Value placeholder=translations.placeholderWhat}}
                    {{/if}}
                    {{#if facet.isTextArea}}
                        {{textarea value=facet.Value focus-out="facetSearch"}}
                    {{/if}}
                    {{#if facet.isBigList}}
                        <div class="line">
                            <div class="unit size1of1" style="margin: 10px 0px 5px 0px;">
                                <div class="search-icon-box">
                                    <i class="icon-search"></i>
                                    {{input class="input-search" value=textFilter placeholder=translations.placeholderWhat}}
                                </div>
                            </div>
                        </div>
                        {{#each topFilteredFacets as |option|}}
                            <label class="facet-option vertical-check {{if option.isChecked 'strong' ''}}">
                                <span class="label">{{option.label}}</span>{{input type="checkbox" checked=option.isChecked classNames="check facet-input hidden"}}
                            </label>
                        {{/each}}
                        {{#if hideMoreFacets}}
                            <a href="#" class="pull-right" {{action 'showMoreFacets' facet}}>{{__ "more"}}</a><br clear="both" />
                        {{else}}
                            {{#each hiddenFacets as |option|}}
                                <label class="facet-option vertical-check {{if option.isChecked 'strong' ''}}">
                                    <span class="label">{{option.label}}</span>{{input type="checkbox" checked=option.isChecked classNames="check facet-input hidden"}}
                                </label>
                            {{/each}}

                            <a href="#" class="pull-right" {{action 'showMoreFacets' facet}}>{{__ "less"}}</a><br clear="both" />
                        {{/if}}
                    {{/if}}
                    {{#if facet.isGroupedMultiList}}
                        {{#each getOptionListGroups as |group|}}
                            {{#if group.hasLabel}}
                                <h5 class="sub-header" {{action 'toggleGroupShow' group}}>
                                    {{group.Label}}<strong class="right-padd-by-1px">{{#if group.showing}}▼{{else}}►{{/if}}</strong>
                                </h5>
                            {{/if}}
                            <div class="facetGroupExpand" style="{{group.style}}">
                                {{#each group.Options as |option|}}
                                <label class="facet-option vertical-check {{if option.isChecked 'strong' ''}}">
                                    <span class="label">{{option.label}}</span>{{input type="checkbox" checked=option.isChecked classNames="hidden check facet-input"}}
                                </label>
                                {{/each}}
                            </div>
                        {{/each}}
                    {{/if}}
                    {{#if facet.isGroupedList}}
                        {{#each getOptionListGroups as |group|}}
                            {{#if group.hasLabel}}
                                <h5 class="sub-header" {{action 'toggleGroupShow' group}}>
                                    {{group.Label}}<strong class="right-padd-by-1px">{{#if group.showing}}▼{{else}}►{{/if}}</strong>
                                </h5>
                            {{/if}}
                            <div class="facetGroupExpand" style="{{group.style}}">
                                {{#each group.Options as |option|}}
                                    {{radio-button name=facet.Name label=option.label selection=value value=option.value}}
                                {{/each}}
                            </div>
                        {{/each}}
                    {{/if}}
                    {{#if facet.isMultiList}}
                        {{#each getOptions as |option|}}
                            <label class="facet-option vertical-check {{if option.isChecked 'strong' ''}}">
                                <span class="label">{{option.label}}</span>{{input type="checkbox" checked=option.isChecked classNames="hidden check facet-input"}}
                            </label>
                        {{/each}}
                    {{/if}}
                </div>
            {{/if}}
