    <h5 class="sub-header" {{action 'toggleFacetShow' facet}}>{{__b facet.Label}} <strong class="right-padd-by-1px">{{#if showing}}▼{{else}}►{{/if}}</strong></h5>
    <div class="facetExpand" style="{{style}}">

        {{#unless hasGroups}}
            <span>{{__x 'There are no {facetType}s to display at the moment.' facetType=facetType}}</span>
        {{/unless}}

        {{#if hasManyOptionsInGroups}}
            <div class="line">
                <div class="unit size1of1" style="margin: 10px 0px 5px 0px;">
                    <div class="search-icon-box">
                        <i class="icon-search"></i>
                        {{input class="input-search" value=textFilter placeholder=translations.placeholderWhat focus-in="filterHasFocus" focus-out="filterLostFocus"}}
                    </div>
                </div>
            </div>
        {{/if}}

        {{#each filteredGroups as |group|}}
            <div class="facet-group">
                <div class="facet-group-label {{facetType}}-flavour-{{group.name}}" {{action 'toggleGroupShow' group}}>
                    {{group.label}} <strong class="right-padd-by-1px">{{#if group.showing}}▼{{else}}►{{/if}}</strong>
                </div>

                {{! each group should be expandable, if this is a large group and NOT expanded then show the first 10 }}
                {{#if group.showing}}
                    {{#if facet.isAdvert}}
                         <label class="facet-option" {{action 'setAllOptions' true  group}}><i class="icon-ok-circled"></i>{{__ "Select All"}}</label>
                         <label class="facet-option" {{action 'setAllOptions' false group}}><i class="icon-cancel"></i>{{__ "Clear All"}}</label>
                    {{/if}}
                    {{#if group.largeGroup}}
                        {{#if group.expanded}}
                            {{#each group.options as |opt|}}
                                <label class="facet-option vertical-check {{if opt.isChecked 'strong' ''}}">
                                    <span class="label" title="{{opt.translatedLabel}}">
                                        {{#if filterHasFocus}}{{opt.longLabel}}{{else}}{{opt.label}}{{/if}}
                                    </span>
                                    {{input type="checkbox" checked=opt.isChecked classNames="check facet-input hidden"}}
                                </label>
                            {{/each}}
                            <p class="pull-right text-link" {{action 'showLess' group}}>{{__ "less"}}</p>
                            <div class="clear"></div>
                        {{else}}
                            {{#each group.firstTen as |opt|}}
                                <label class="facet-option vertical-check {{if opt.isChecked 'strong' ''}}">
                                    <span class="label" title="{{opt.translatedLabel}}">
                                        {{#if filterHasFocus}}{{opt.longLabel}}{{else}}{{opt.label}}{{/if}}
                                    </span>
                                    {{input type="checkbox" checked=opt.isChecked classNames="check facet-input hidden"}}
                                </label>
                            {{/each}}
                            <p class="pull-right text-link" {{action 'showMore' group}}>{{__ "more"}}</p>
                            <div class="clear"></div>
                        {{/if}}
                    {{else}}
                        {{#each group.options as |opt|}}
                            <label class="facet-option vertical-check {{if opt.isChecked 'strong' ''}}">
                                <span class="label" title="{{opt.translatedLabel}}">
                                    {{#if filterHasFocus}}{{opt.longLabel}}{{else}}{{opt.label}}{{/if}}
                                </span>
                                {{input type="checkbox" checked=opt.isChecked classNames="check facet-input hidden"}}
                            </label>
                        {{/each}}
                    {{/if}}
                {{/if}}
            </div>
        {{/each}}

        {{#if hasGroups}}
            <a href="#" class="pull-right" {{action "searchAll" facet}}>{{__x 'Search all {facetType}s' facetType=facetType}}</a>
        {{/if}}

        <br clear="both" />
    </div>
<div class="darkness {{if _facetSearch '' 'hidden'}}" {{action "close"}}></div>
<div class="facet-search-box {{if _facetSearch '' 'hidden'}}">

    <div class="facet-search-group-box facet-search-filter">
        <div class="line">
            <div class="unit size2of5">
                <div class="search-icon-box">
                    <i class="icon-search"></i> {{input class="input-search input-search-md" value=textFilter placeholder=translations.placeholderWhat}}
                </div>
            </div>
            <div class="unit lastUnit">
                <button class="right btn btn-success" {{action "close"}}>{{__ "Confirm"}}</button>
            </div>
        </div>
        <div class="line facet-group-selected" style="margin-top:10px">
            {{#each getOptionGroups as |group|}}
                {{#each group.options as |option|}}
                    {{#if option.isChecked}}
                        <div class="unit pill {{facetType}}-flavour-{{group.name}}" {{action 'facetClick' option}}>
                            {{option._label}} ({{option.count}})
                            <span class="close" {{action 'facetClick' option}}>x</span>
                        </div>
                    {{/if}}
                {{/each}}
            {{/each}}
        </div>
    </div>

    {{#each filteredGroups as |group|}}
        {{#if group.options}}
                <div class="facet-search-group-box">
                    <label class="{{facetType}}-flavour-{{group.name}}">{{group.label}}</label>
                    <div class="line facet-group">
                        {{#each group.options as |option|}}
                            {{#unless option.isChecked}}
                                <div class="unit size1of4 facet-block {{if option.isChecked 'isChecked' ''}}" {{action 'facetClick' option}}>
                                    <div class="facet-count">{{option._label}}</div>
                                    <div class="facet-count">({{option.count}})</div>
                                </div>
                            {{/unless}}
                        {{/each}}
                    </div>
                </div>
        {{/if}}
    {{/each}}
</div>
