<!-- google static image -->
{{#if hasLink}}
    <a href="{{ googlemapUrl }}" target="_blank">
        <img src="{{ googlemapStaticImageUrl }}" />
    </a>
{{else}}
    <img src="{{ googlemapStaticImageUrl }}" />
{{/if}}
