                {{#if (unbound searchUser.settings.behaviour-search-use_ofccp_field)}}
                    <div class="line">
                        {{input
                            value=criteria.ofccp_context
                            placeholder=translations.placeholderOFCCPContext
                            classNames="input-xxlarge"
                            required="required"}}
                        <span class="required-field">*</span>
                    </div>
                {{/if}}
                <div class="line">
                    <div class="unit size3of5" id="tour-keywords">
                        {{auto-complete
                            value=criteria.keywords
                            classNames   = "keywords"
                            url          = "/api/user/keyword-suggest"
                            delay        = 250
                            minLength    = 2
                            placeholder  = translations.placeholderKeywords
                        }}
                        <i class="icon-help-circled" title="{{__ "Boolean tips"}}" data-dropdown="#keywords-tooltip" id="keywrods-boolean-instructions"></i>
                    </div>
                    <div class="unit lastUnit" id="tour-location">
                        <div class="row">
                            <div class="unit size1of5">
                                {{input value=criteria.location_within classNames="span-all" placeholder="30"}}
                            </div>
                            <div class="unit size1of5 text-center text-mid-input">
                                {{__x "{distance_unit} of" distance_unit=searchUser.distance_unit}}
                            </div>
                            <div class="unit lastUnit">
                                {{select-2 query="suggestLocation"
                                    cssClass="unediable-input"
                                    value=criteria.location_object
                                    placeholder=translations.placeholderWhere
                                    multiple=false
                                    allowClear=true
                                }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="unit size3of5">
                        <label for="cv_updated_within">{{__ "Updated"}}</label>
                        {{select-list classNames="input-xlarge" selectedValue=criteria.cv_updated_within disabled=hasWatchdog optionLabelPath="1" optionValuePath="0" content=criteriaLists.cv_updated_within_options action=(action (mut criteria.cv_updated_within))}}
                    </div>
                </div>
                {{#if showSelectedAdverts}}
                    <div class="line">
                        <div class="unit size3of5 advert-chooser">
                            <label for="advert_chooser">{{__ "Advert"}}</label>
                            {{advert-chooser criteria=criteria facet=selectedAdvertsFacet}}
                        </div>
                    </div>
                {{/if}}
                <div id="more_options" class="{{line}} {{if hideMoreOptions 'hidden' ''}}" >
                    <div class="unit size1of5 lastUnit">
                        <label for="default_jobtype">{{__ "Job Type"}}</label>
                        {{select-list classNames="input-xlarge" selectedValue=criteria.default_jobtype optionLabelPath="1" optionValuePath="0" content=criteriaLists.jobtype_options action=(action (mut criteria.default_jobtype))}}
                    </div>
                    <div class="unit size3of5 lastUnit">
                        <label for="salary_cur">{{__ "Desired Salary"}}</label>
                        {{select-list classNames="input-mini" selectedValue=criteria.salary_cur optionLabelPath="1" optionValuePath="0" content=searchUser.currencyList action=(action (mut criteria.salary_cur))}}

                        {{__ "From"}}
                        {{input value=criteria.salary_from classNames="input-small"}}
                        {{__ "to"}}
                        {{input value=criteria.salary_to classNames="input-small"}}
                        {{__ "per"}}
                        {{select-list classNames="input-small" selectedValue=criteria.salary_per optionLabelPath="1" optionValuePath="0" content=criteriaLists.salary_per_options action=(action (mut criteria.salary_per))}}

                        <span class="unspecified-salaries">
                            {{input type="checkbox"
                                classNames="check search-check"
                                checked=criteria.include_unspecified_salaries}}
                            {{__ "Include unspecified salaries"}}
                        </span>
                    </div>
                </div>
                <div class="line">
                    <div class="unit more-less-options" id="tour-more-options">
                    <span {{action "showMoreOptions" this}} id="more_options_button"  class="{{if hideMoreOptions '' 'hidden'}}" >&#43;&nbsp;{{__ "More options"}}</span>
                    <span {{action "showLessOptions" this}} id="less_options_button"  class="{{if hideMoreOptions 'hidden' ''}}" >&#45;&nbsp;{{__ "Fewer options"}}</span>
                    </div>
                    <div class="unit size2of5 lastUnit search-btn-grp">
                        {{#if hasWatchdog}}
                            <button class="btn btn-success" {{action 'watchdogSave'}}
                                href="#"
                                title="Save current search criteria in this watchdog."
                            >{{__ "Update"}}</button>
                        {{/if}}
                        <button class="btn btn-success" {{action 'submit'}}>{{__ "Search"}}</button>
                    </div>
                </div>
