        <div class="unit right">
          <div class="btn add-to-folder" id="add-folder-{{candidate.idx}}-trigger"
            data-dropdown="#add-folder-{{candidate.idx}}" title="Add to My Folders">
            <i class="icon-folder-add"/>
          </div>
          <div id="add-folder-{{candidate.idx}}" class="dropdown dropdown-tip
            dropdown-relative dropdown-anchor-right" style="width: 340px">
            <div class="dropdown-panel">
              <div class="add-folder-container">
                <h4>{{__ "My Folders"}}</h4>

                <div style="margin-top: 5px;">
                  {{input value=input class="text"
                    placeholder="Select or type to create a new folder"}}
                  <button onclick={{action "save"}}>{{__ "Add"}}</button>
                </div>

                <h5>{{__ "Existing Folders"}}</h5>
                <div class="assigned-folders">
                  {{#if folderLoadError}}
                    <p>None found</p>
                  {{else}}
                    <ul>
                      {{#each suggestedFolders as |folder|}}
                        {{my-folders-suggestion name=folder parent=this}}
                      {{/each}}
                    </ul>
                  {{/if}}
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="unit right assigned-folders">
          <ul>
            {{#each folderNames as |existingFolder|}}
              <li>
                {{existingFolder}}
                <span {{action "delete" existingFolder}}>x</span>
              </li>
            {{/each}}
          </ul>
        </div>