<div class="pager">
        <strong style="font-size: 12px;">
            {{__x 'displaying {first_page} to {last_page} of {total_pages}' first_page=pager.first last_page=pager.last total_pages=pager.total_entries}}
             - 
            {{#link-to route (query-params page=pager.first_page)}}<i class="icon-to-start"></i>{{/link-to}}

            {{#if pager.previous_page}}
               {{#link-to route (query-params page=pager.previous_page)}}<i class="icon-fast-bw"></i>{{/link-to}}
            {{/if}}

            {{#link-to route (query-params page=pager.current_page)}}<i class="icon">{{pager.current_page}}</i>{{/link-to}}

            {{#if pager.next_page}}
              {{#link-to route (query-params page=pager.next_page)}}<i class="icon-fast-fw"></i>{{/link-to}}
            {{/if}}

            {{#link-to route (query-params page=pager.last_page)}}<i class="icon-to-end"></i>{{/link-to}}

        </strong>
</div>

