<div class="line title" title="{{result.user.id}}">
    <div class="unit size1of5" {{action 'expand'}}>
        <strong>{{#if expanded}}▼{{else}}►{{/if}}</strong>
        <span class="title">{{result.user.label}}</span>
    </div>
    <div class="unit size1of5" {{action 'expand'}}><span class="title">{{result.nice_name}}</span></div>
    <div class="unit size1of5" {{action 'expand'}}>
        <span class="title">
            {{__ "Results"}}: {{result.n_results}}
        </span>
    </div>
    <div class="unit size2of5 text-right">
        <span {{action 'expand'}}>{{isoDateToNiceDate result.time_completed searchUser.timezone}}</span>
        <a class="btn" href="{{searchURL}}">Run Search</a>
        {{#if searchUser.contact_details.contact_devuser}}
            <a class="btn btn-office btn-danger" target="_NEW" href="{{logURL}}">Log</a>
        {{/if}}
    </div>
</div>
{{#if result.error_type}}
    <div class="line alert alert-error">{{__b result.error_type}}</div>
{{/if}}
<div class="line criteria" {{action 'expand'}}>
    <div class="unit size5of5">
        <p>{{__ "Keywords"}}: <strong>{{result.tokens.tokens.keywords}}</strong></p>
        <p>{{__ "Location"}}:
            <strong>
                {{result.tokens.tokens.location_within}} {{__x "{distance_unit} of" distance_unit=searchUser.distance_unit}}
                {{result.tokens.tokens.location}}
            </strong>
        </p>
    </div>
</div>
<div class="line more-criteria {{if expanded 'expanded' ''}}" {{action 'expand'}}>
    {{#each globalCriteria}}
        <div class="unit size1of3">
            <p>{{__b label}}: <strong>{{value}}</strong></p>
        </div>
    {{/each}}
    {{#each result.board_specific}}
        <div class="unit size1of3">
            <p>{{__b label}}: <strong>{{value}}</strong></p>
        </div>
    {{/each}}
</div>
