{{#if (unbound searchUser.settings.quota-show_credit_counter)}}
<div id="stickyquotabar">
    <div class="quota-bar">
        {{#with quota}}
            {{#if usingProfileQuota}}
                <div>
                    {{#if profileQuota}}
                        <span class="{{profileQuotaClass}}">{{__nx '{profileQuota} Profile View credit left' '{profileQuota} Profile View credits left' profileQuota profileQuota=formattedProfileQuota}}</span>
                    {{else}}
                        <span class="{{profileQuotaClass}}">{{__ 'Your profile viewing credits have finished for this board.'}}</span>
                    {{/if}}
                </div>
            {{/if}}
            {{#if usingCvQuota}}
                <div>
                    {{#if cvQuota}}
                        <span class="{{cvQuotaClass}}">{{__nx '{cvQuota} Download credit left' '{cvQuota} Download credits left' cvQuota cvQuota=formattedCVQuota}}</span>
                    {{else}}
                        <span class="{{cvQuotaClass}}">{{__ 'Your CV credits have finished for this board.'}}</span>
                    {{/if}}
                </div>
            {{/if}}
        {{/with}}
    </div>
</div>
{{/if}}
