        <div id="search-side-control">
            <ul>
                <li>
                    <a href="#" {{action 'clearSearch'}}>
                        <i class="icon-cancel"></i>
                        {{__ "Clear criteria"}}
                    </a>
                </li>
                {{#unless searchUser.isZombie}}
                <li>
                    <a href="#" {{action 'exitResponses'}}>
                        <i class="icon-search"></i>
                        {{__ "Search external boards"}}
                    </a>
                </li>
                {{/unless}}

                <li class="dropdown-divider"></li>
            </ul>
        </div><!-- End of search-side-control -->
