                {{#if (unbound searchUser.settings.behaviour-search-use_ofccp_field)}}
                    <div class="line">
                        {{input
                            value=criteria.ofccp_context
                            placeholder=translations.placeholderOFCCPContext
                            classNames="input-xxlarge"
                            required="required"}}
                        <span class="required-field">*</span>
                    </div>
                {{/if}}
                <div class="line">
                    <div class="unit size3of5 advert-chooser">
                        {{advert-chooser criteria=criteria facet=selectedAdvertsFacet}}
                    </div>
                </div>
                <div class="line">
                    <div class="unit size3of5" id="tour-keywords">
                        {{auto-complete
                            value=criteria.keywords
                            classNames   = "keywords"
                            url          = "/api/user/keyword-suggest"
                            delay        = 250
                            minLength    = 2
                            placeholder  = translations.placeholderKeywords
                        }}
                        <i class="icon-help-circled" title="{{__ "Boolean tips"}}" data-dropdown="#keywords-tooltip" id="keywrods-boolean-instructions"></i>
                    </div>
                    <div class="unit lastUnit" id="tour-location">
                        <div class="line">
                            <div class="unit size1of5">
                                {{input value=criteria.location_within classNames="span-all" placeholder="30"}}
                            </div>
                            <div class="unit size1of5 text-center text-mid-input">
                                {{__x "{distance_unit} of" distance_unit=searchUser.distance_unit}}
                            </div>
                            <div class="unit lastUnit">
                                {{select-2 query="suggestLocation"
                                    cssClass="unediable-input"
                                    value=criteria.location_object
                                    placeholder=translations.placeholderWhere
                                    multiple=false
                                    allowClear=true
                                }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line responses-check-line">
                    <div class="unit size3of5">
                        {{input type="checkbox"
                            classNames="check search-check"
                            checked=hideRead}}
                        <span class="response-control-text">{{__ "Hide viewed candidates"}}</span>

                        {{input type="checkbox"
                            classNames="check search-check snippet-check"
                            checked=showSnippet}}
                        <span class="response-control-text">{{__ "Show snippet"}}</span>
                    </div>
                    <div class="unit size2of5 lastUnit search-btn-grp">
                        <button class="btn btn-success" {{action 'submit'}}>{{__ "Search"}}</button>
                    </div>
                </div>
