<div>
  <div>
  {{input value=name placeholder=translations.placeholderNameThisSearch size="30"}}
  </div>
  
  <div>
    <button class="btn btn-small btn-success" {{action 'clickOk'}}>Ok</button>
    <button class="btn btn-small" {{action 'clickCancel'}}>Cancel</button>
  </div>
</div>
