{{#each flavours as |flavour|}}
    <h4 class="saved-search-header">{{flavour.label}}</h4>
    <table class="watchdogs-list">
        <tbody>
            {{#each flavour.searches as |saved_search|}}
                <tr>
                    <td>
                        {{#link-to "criteria" saved_search.criteria_id title=saved_search.displayName}}
                            {{ellipsis saved_search.name 50}}
                        {{/link-to}}
                    </td>
                    <td>
                        <a href="#"  {{action "unsaveSearch" saved_search}} title="{{__ "Delete this search"}}"><i class="icon-trash-1"></i></a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/each}}
