<pre style="display: none">
REPORT ACTIVITY
USER ID={{searchUser.user_id}}
INVALID={{formInvalid}}
META= MIN {{report.meta.min_action_id}} MAX =  {{report.meta.max_action_id}}
</pre>

{{#unless showActionDetails}}
<div class="line">
    <div class="unit size3of5">
        Report Users Activity from:
        {{jquery-ui-datepicker
          value=fromDate
          yearRange="2000:2100"
          dateFormat="yy-mm-dd"
          maxDate=toDate
        }}
        to:
        {{jquery-ui-datepicker
          value=toDate
          yearRange="2000:2100"
          dateFormat="yy-mm-dd"
          minDate=fromDate
          maxDate=maxDate
        }}
    </div>
    <div class="unit">
        <button class="btn btn-primary"
                style="float:right"
                {{action 'generateReport'}}
                disabled={{buttonInvalid}}
        >
            {{__ 'Generate'}}
        </button>
    </div>
</div>
{{/unless}}

{{#if error}}
    <div class="alert alert-error">
        {{error.message}}
    </div>
{{/if}}

{{#if currentlyProcessing}}
    {{partial "admin/loading"}}

{{else if showActionDetails}}
    <h3>{{__x "List of {header} Candidates" header=selectedCell.header}}</h3>
    {{partial "action-report"}}
    <p class="reports-footer">
      <a class="btn" href="#" {{action 'hideActionDetails'}}>{{__ 'Back to Main Report'}}</a>
      <a class="btn" href="#" {{action 'saveActionsToClientDisk'}}>{{__ 'Download'}}</a>
    </p>

{{else if report}}
    <!-- {{report.log_chunk_id}} -->
    {{#each report.s3_files as |file|}}
        <div>
            <h3><a href="{{file.file_url}}"><i class="icon-download"></i> {{__ 'Download'}} {{file.file_name}}</a></h3>
        </div>
    {{/each}}

    <h3>{{__ 'Table view'}}</h3>
    <div class="line">
        
        <div style="overflow-x: auto">
            <table class="data-table">
                <thead>
                    {{#each report.table.head as |line|}}
                        <tr>
                            {{#each line as |cell|}}
                                <th>{{cell.value}}</th>
                            {{/each}}
                        </tr>
                    {{/each}}
                </thead>
                <tbody>
                    {{#each report.table.body as |line|}}
                        <tr>
                            {{#each line as |cell|}}
                                <td>
                                    {{#if cell.action}}
                                        <a href="#" {{action 'showActionsInCell' cell}}>{{cell.value}}</a>
                                    {{else}}
                                        {{cell.value}}
                                    {{/if}}
                                </td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div> <!-- End of table container -->
    </div>

{{/if}}
