        <div id="search-side-control">
            <ul>
                <li>
                    <a href="#" {{action 'clearSearch'}}>
                        <i class="icon-cancel"></i>
                        {{__ "Clear criteria"}}
                    </a>
                </li>
                <li class="dropdown-divider"></li>

                {{#if watchdog}}
                    <li>
                        <a {{action 'closeWatchdog'}} href="#" title="{{translations.placeholderBackToSearch}}">
                            <i class="icon-ccw"></i> {{__ "Back to Search"}}
                        </a>
                    </li>
                {{else}}
                    <li class="{{if searchUser.restrictUI 'restrictUI' ''}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">
                        <a {{action "cancelNav"}} id="save-search-link" href="#" data-dropdown="{{saveSearchTarget}}">
                            <i class="icon-floppy"></i>
                            {{__ "Save Search"}}
                        </a>
                    </li>
                    {{#if (unbound searchUser.settings.stream.email_campaigns)}}
                        <li>
                            <a id="email-campaign-link" href="#" data-dropdown="#email-campaign-dialog">
                                <i class="icon-floppy"></i>
                                {{__ "Save to Campaign Search"}}
                            </a>
                        </li>
                    {{/if}}
                    <li class="dropdown-divider"></li>

                    {{#if criteria.id}}
                        <li class="{{if searchUser.restrictUI 'restrictUI' ''}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">

                            {{!-- generate a "do-nothing" link for users with restricted UI --}}
                            {{#if searchUser.restrictUI}}
                            <a {{action "cancelNav"}} href="#" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">
                                <i class="icon-history"></i>
                                {{__ "Create Watchdog"}}
                            </a>
                            {{else}}
                            {{#link-to 'watchdogs.create' criteria}}
                                <i class="icon-history"></i>
                                {{__ "Create Watchdog"}}
                            {{/link-to}}
                            {{/if}}
                        </li>
                        <li class="dropdown-divider"></li>
                        <div class="hspacer"></div>
                        <li class="{{if searchUser.restrictUI 'restrictUI' ''}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">
                            <a {{action "cancelNav"}} id="share-search-link" href="#" data-dropdown="{{shareSearchTarget}}">
                                <i class="icon-share"></i>
                                {{__ "Share Search"}}
                            </a>
                        </li>
                    {{/if}}
                {{/if}}

            </ul>
        </div><!-- End of search-side-control -->
