{{#if optionGroupPath}}
    {{#each optionGroups as |group|}}
        <optgroup label="{{group.label}}">
            {{#each group.options as |item|}}
                <option value="{{get-attr-path item optionValuePath}}" selected={{is-equal-by-path item selectedValue optionValuePath}}>
                    {{get-attr-path item optionLabelPath}}
                </option>
            {{/each}}
        </optgroup>
    {{/each}}
{{else}}
    {{#each content key="@index" as |item|}}
        <option value="{{get-attr-path item optionValuePath}}" selected={{is-equal-by-path item selectedValue optionValuePath}}>
            {{get-attr-path item optionLabelPath}}
        </option>
    {{/each}}
{{/if}}
