    <div class="settings-row">
        <div class="settings-row-label">
            {{#if user.children}}
                <strong {{action 'toggleChildren'}} class="left clickable">{{#if user.showChildren}}▼{{else}}►{{/if}}</strong>
            {{/if}}
            {{user.label}}{{#if user.id}}<span class="hidden">{{user.id}}</span>{{/if}}
        </div>
        <div class="right">{{input type="text" focus-out="update" value=proxyVal placeholder=placeHolder}}</div>
    </div>
    {{#if user.children}}
        <div style="margin-left: 30px;" class="{{if user.showChildren '' 'hidden'}}">
            {{#each user.children as |child|}}
                {{settings-string user=child action=action updateAction=updateAction master=master autoExpand=autoExpand}}
            {{/each}}
        </div>
    {{/if}}
