    <div class="settings-row">
        <div class="settings-row-label">
            {{#if user.children}}
                <strong {{action 'toggleChildren'}} class="left clickable">{{#if user.showChildren}}▼{{else}}►{{/if}}</strong>
            {{/if}}
            {{user.label}}{{#if user.id}}<span class="hidden">{{user.id}}</span>{{/if}}
        </div>
        <span class="settings-confirm {{if displayConfirm 'show' ''}}">set all {{user.label}}: 
         <a href="#" {{action 'toggle' true}}>on</a> | 
         <a href="#" {{action 'toggle' false}}>off</a> | 
         <a href="#" {{action 'toggleConfirm'}}>cancel</a>
        </span>
        <div class="settings-toggle {{if active 'active' ''}} {{if maybe 'maybe' ''}}" title="{{overTitle}}" {{action 'toggle'}}>
            <span class="toggle-label">
                <span class="toggle-label-on">on</span>
                <span class="toggle-label-off">off</span>
            </span>
            <div class="toggle-switch"></div>
        </div>
    </div>
    {{#if user.children}}
        <div style="margin-left: 30px;" class="{{if user.showChildren '' 'hidden'}}">
            {{#each user.children as |child|}}
                {{settings-toggle user=child updateAction=updateAction master=master autoExpand=autoExpand}}
            {{/each}}
        </div>
    {{/if}}
