    <div class="line quota-row {{if user.error 'error' ''}}">
        <div class="unit size1of2 settings-row-label" style="padding-left: {{padding}}px">
            {{#if user.children}}
                <strong {{action 'toggleChildren'}} class="left clickable">{{#if user.showChildren}}▼{{else}}►{{/if}}</strong>
            {{/if}}
            {{user.label}}{{#if user.id}}<span class="hidden">{{user.id}}</span>{{/if}}
        </div>
        <div class="unit size1of3 right">
            <div class="unit size1of2">{{input type="text" value=user.remaining placeholder="Remaining"}}</div>
            <div class="unit size1of2">{{input type="text" value=user.reset_to placeholder="Reset to"}}</div>
        </div>
    </div>
    {{#if user.children}}
        <div class="{{if user.showChildren '' 'hidden'}}">
            {{#each user.children as |child|}}
                {{settings-quota user=child master=master autoExpand=autoExpand padding=addPadding}}
            {{/each}}
        </div>
    {{/if}}
