    <div class="settings-row">
        <div class="settings-row-label">
            {{#if user.children}}
                <strong {{action 'toggleChildren'}} class="left clickable">{{#if user.showChildren}}▼{{else}}►{{/if}}</strong>
            {{/if}}
            {{user.label}}{{#if user.id}}<span class="hidden">{{user.id}}</span>{{/if}}
        </div>
        {{select-list selectedValue=user.string_value optionLabelPath="0" optionValuePath="1" content=options}}
    </div>
    {{#if user.children}}
        <div style="margin-left: 30px;" class="{{if user.showChildren '' 'hidden'}}">
            {{#each user.children as |child|}}
                {{settings-list user=child updateAction=updateAction master=master autoExpand=autoExpand options=options}}
            {{/each}}
        </div>
    {{/if}}
