<div>

    <strong>{{__ "Select recipients:"}}</strong>

    <div>
    {{select-2 query="queryRecipients"
        value=recipients
        placeholder=translations.placeholderSelectRecipients
        multiple=true
    }}
    </div>

    <div class="hspacer"></div>

    <strong>{{__ 'Optional Message'}}:</strong>
    <div>
      {{textarea value=messageContent placeholder=translations.placeholderMessage}}
    </div>
    <div class="hspacer"></div>

    <div>
        <div class="pull-right">
          <button class="btn btn-primary"
                   {{action "doShare"}}
                   disabled={{formInvalid}}>{{__ "Submit"}}</button>
        </div>
        <button class="btn" {{action "clickCancel"}}>{{__ "Cancel"}}</button>
    </div>

</div>
