<h4 class="section-header">{{__ "Details"}}</h4>
<div class="details" id="details">

{{#if candidate.name}}
    <div class="details-row">
        <div class="label">{{__ 'Name'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{candidate.name}}
          {{else}}
            {{editable-detail-text storedValue=candidate.name field="name"}}
          {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.email}}
    <div class="details-row">
        <div class="label">{{__ 'Email'}}</div>
        <div class="label-value">
        {{#if searchUser.restrictUI}}
          {{candidate.email}}
        {{else}}
          {{editable-detail-text storedValue=candidate.email field="email"}}
        {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.advert_job_title}}
    <div class="details-row">
        <div class="label">{{__ 'Job Title'}}</div>
        <div class="label-value">{{candidate.advert_job_title}}</div>
    </div>
{{/if}}
{{#if candidate.employer_org_name}}
    <div class="details-row">
        <div class="label">{{__ 'Employer'}}</div>
        <div class="label-value">{{candidate.employer_org_name}}</div>
    </div>
{{/if}}
{{#if candidate.advert_industry}}
    <div class="details-row">
        <div class="label">{{__ 'Industry'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{candidate.advert_industry}}
          {{else}}
            {{select-list selectedValue=candidate.advert_industry optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.industry_options}}
          {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.advert_job_type}}
    <div class="details-row">
        <div class="label">{{__ 'Job Type'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{candidate.advert_job_type}}
          {{else}}
            {{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.talentsearch_jobtype_options selectedValue=candidate.advert_job_type}}
          {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.applicant_recruitment_status}}
    <div class="details-row">
        <div class="label">{{__ 'Rec. Status'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{candidate.applicant_recruitment_status}}
          {{else}}
            {{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.recruitment_status_options selectedValue=candidate.applicant_recruitment_status}}
          {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.applicant_notice_period}}
    <div class="details-row {{if searchUser.restrictUI 'restrictUI' ''}}">
        <div class="label">{{__ 'Notice'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{candidate.applicant_notice_period}}
          {{else}}
            {{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.notice_options selectedValue=candidate.applicant_notice_period}}
          {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.applicant_availability_date}}
    <div class="details-row {{if searchUser.restrictUI 'restrictUI' ''}}">
        <div class="label">{{__ 'Avail. Date'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{#if candidate.applicant_availability_date_epoch}}
                {{epoch2Date candidate.applicant_availability_date_epoch searchUser.timezone}}
            {{else}}
                {{candidate.applicant_availability_date}}
            {{/if}}
          {{else}}
            <input type="text" class="date-proxy" name="applicant_availability_date" />
          {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.telephone}}
    <div class="details-row">
        <div class="label">{{__ 'Home Telephone'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{candidate.telephone}}
          {{else}}
            {{editable-detail-text storedValue=candidate.telephone field="telephone"}}
          {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.mobile}}
    <div class="details-row">
        <div class="label">{{__ 'Mobile Telephone'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{candidate.mobile}}
          {{else}}
            {{editable-detail-text storedValue=candidate.mobile field="mobile"}}
          {{/if}}
        </div>
    </div>
{{/if}}
{{#if candidate.salary_from}}
    <div class="details-row {{if searchUser.restrictUI 'restrictUI' ''}}">
        <div class="label">{{__ 'Applied to Salary'}}</div>
        <div class="label-value">
          {{#if searchUser.restrictUI}}
            {{candidate.salary_currency}} {{candidate.salary_from}} {{__ 'to'}} {{candidate.salary_to}} {{__ 'per'}} {{candidate.salary_per}}
          {{else}}
            <div class="salary-container">
                {{select-list optionLabelPath="1" optionValuePath="0" content=searchUser.maybeCurrencyList class="currency" selectedValue=candidate.salary_currency}}
                {{editable-detail-text storedValue=candidate.salary_from field="salary_from" class="salary-low"}}
                <span class="salary-low-high">to</span>
                {{editable-detail-text storedValue=candidate.salary_to field="salary_to" class="salary-high"}}
                {{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.talentsearch_salary_per_options class="time-period" selectedValue=candidate.salary_per}}
            </div>
          {{/if}}
        </div>
    </div>
{{/if}}

</div>
