<h4 class="section-header">{{__ "Recent Applications"}}</h4>
<div class="application-history" id="application_history">
    {{#if candidate.applicationHistory}}
        {{#if candidate.applicationHistory.length}}
            <ul class="application-history-list">
            {{#each candidate.applicationHistory as |application|}}
                {{candidate-application application=application itemIndex=_view.contentIndex}}
            {{/each}}
            </ul>
        {{else}}
            <div class="no-application-history">{{__ "No application history"}}</div>
        {{/if}}
    {{else}}
        {{__ "Loading..."}}
    {{/if}}
</div>

<h4 class="section-header">{{__ "Details"}}</h4>
<div class="details" id="details">
    <div class="details-row">
        <div class="label">{{__ 'Name'}}</div>
        <div class="label-value">{{editable-detail-text storedValue=candidate.name field="name"}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Email'}}</div>
        <div class="label-value">{{editable-detail-text storedValue=candidate.email field="email"}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Job Title'}}</div>
        <div class="label-value">{{candidate.advert_job_title}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Employer'}}</div>
        <div class="label-value">{{candidate.employer_org_name}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Industry'}}</div>
        <div class="label-value">{{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.industry_options selectedValue=candidate.advert_industry}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Job Type'}}</div>
        <div class="label-value">{{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.talentsearch_jobtype_options selectedValue=candidate.advert_job_type}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Rec. Status'}}</div>
        <div class="label-value">{{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.recruitment_status_options selectedValue=candidate.applicant_recruitment_status}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Notice'}}</div>
        <div class="label-value">{{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.notice_options selectedValue=candidate.applicant_notice_period}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Avail. Date'}}</div>
        <div class="label-value"><input type="text" class="date-proxy" name="applicant_availability_date" /></div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Home Tel'}}</div>
        <div class="label-value">{{editable-detail-text storedValue=candidate.telephone field="telephone"}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Mobile Tel'}}</div>
        <div class="label-value">{{editable-detail-text storedValue=candidate.mobile field="mobile"}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Applied to salary'}}</div>
        <div class="label-value">
            <div class="salary-container">
                {{select-list optionLabelPath="1" optionValuePath="0" content=searchUser.maybeCurrencyList class="currency" selectedValue=candidate.salary_currency}}
                {{editable-detail-text storedValue=candidate.salary_from field="salary_from" class="salary-low"}}
                <span class="salary-low-high">to</span>
                {{editable-detail-text storedValue=candidate.salary_to field="salary_to" class="salary-high"}}
                {{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.talentsearch_salary_per_options class="time-period" selectedValue=candidate.salary_per}}
            </div>
        </div>
    </div>
</div>
