                    <a href="https://www.xing.com/app/search?keywords={{ candidate.name }}&amp;op=combined&amp;section=members&amp;name=&amp;haves=&amp;wants=&amp;interests=&amp;education=&amp;myc=0&amp;sorting=default&amp;advanced_form=default" target="_blank" title="{{translations.placeholderResearchOnXing}}"
                       ><img src="/static/images/social/xing.png"></a>

                    <a href="http://www.linkedin.com/search/fpsearch?type=people&amp;keywords={{ candidate.name }}" target="_blank" title="{{translations.placeholderResearchOnLinkedIn}}"
                       ><img src="/static/images/social/linkedin.png"></a>

                    <a href="http://www.facebook.com/search.php?q={{  candidate.name }}&amp;type=users" target="_blank" title="{{translations.placeholderResearchOnFacebook}}"
                       ><img src="/static/images/social/facebook.png"></a>

                    <a href="https://twitter.com/#!/search/users/{{  candidate.name }}" target="_blank" title="{{translations.placeholderResearchOnTwitter}}"
                       ><img src="/static/images/social//twitter.png"></a>

                    <a href="https://plus.google.com/s/{{  candidate.name }}/people" target="_blank" title="{{translations.placeholderResearchOnGooglePlus}}"
                       ><img src="/static/images/social/social_google_box.png"></a>

                    {{#if candidate.employer_org_name}}
                    <a href="https://www.duedil.com/search/companies?view=ListView&amp;page=1&amp;name={{  candidate.employer_org_name }}" target="_blank" title="{{translations.placeholderResearchOnDuedil}}"
                       ><img src="/static/images/social/duedil.png"></a>
                    {{else}}
                    <a href="https://www.duedil.com/" target="_blank" title="{{translations.placeholderResearchOnDuedil}}"
                       ><img src="/static/images/social/duedil.png"></a>
                    {{/if}}
