<p>{{#if history.data.was_shortlisted}}{{__ "Was shortlisted"}}{{else}}{{__ "Applied to"}}{{/if}}:
  <a href="{{history.data.advert_link}}"
       target="_blank"
       ><i class="font-{{history.data.rank_colour}}
                  icon-flag-circled"></i> {{ history.data.job_title }}</a></p>

{{#each history.data.attachments as |attachment|}}
  <p><a href="#" {{action 'downloadAttachment' attachment}}><i class="icon-doc-text-inv"></i> {{attachment}}</a></p>
{{/each}}
