{{#if history.inTheFuture }}
    {{#if history.data.cancelled_on}}
        <p>{{__x "This email template <b>{template_name}</b> was going to be sent" template_name=history.data.template_name}} <b>{{isoDateFromNow history.data.at_time searchUser.timezone}}</b>
            {{__ "but was <b>cancelled</b>"}} <b>{{isoDateFromNow history.data.cancelled_on searchUser.timezone}}</b>.
        </p>
    {{else}}
        <button class="btn btn-danger right" {{action "cancelFutureActionId" candidate history.action_id}}><i class="icon-cancel"></i> {{__ "Cancel"}}</button>
        <p>{{__x "The email template <b>{template_name}</b> is going to be sent" template_name=history.data.template_name}}  <b>{{isoDateFromNow history.data.at_time searchUser.timezone}}.</b></p>
    {{/if}}
{{else}}
    <p>{{__x "This email template <b>{template_name}</b> was scheduled for" template_name=history.data.template_name}}  <b>{{isoDateToNiceDate history.data.at_time searchUser.timezone}}</b>.</p>
    {{#if history.data.cancelled_on}}
        <p>{{__ "It has been <b>cancelled</b> on"}} <b>{{isoDateToNiceDate history.data.cancelled_on searchUser.timezone}}</b>.</p>
    {{/if}}
{{/if}}
