{{#if history.inTheFuture }}
    {{#if history.data.cancelled_on}}
        <p>{{__ "This action was planned"}} <b>{{isoDateFromNow history.data.at_time searchUser.timezone}}</b>
            {{__ "but has been <b>cancelled</b>"}} <b>{{isoDateFromNow history.data.cancelled_on searchUser.timezone}}</b>.
        </p>
    {{else}}
        <button class="btn btn-danger right" {{action "cancelFutureActionId" candidate history.action_id}}><i class="icon-cancel"></i> {{__ "Cancel"}}</button>
        <p>{{__ "This action is planned"}} <b>{{isoDateFromNow history.data.at_time searchUser.timezone}}:</b></p>
    {{/if}}
{{else}}
    <p>{{__ "This action was planned for"}} <b>{{isoDateToNiceDate history.data.at_time searchUser.timezone}}</b>.</p>
    {{#if history.data.cancelled_on}}
        <p>{{__ "But was <b>cancelled</b> on "}}<b>{{isoDateToNiceDate history.data.cancelled_on searchUser.timezone}}</b>.</p>
    {{/if}}
{{/if}}

<pre>
 {{history.data.lisp_code}}
</pre>
