{{#if history.data.delegate_to_contact_name}}
    <p>
        {{__ "This candidate was delegated to"}} {{history.data.delegate_to_contact_name}}
        {{#if history.data.delegate_from_contact_name}}
            {{__ "from"}} {{history.data.delegate_from_contact_name}}
        {{/if}}
    </p>
{{/if}}
