{{#if history.data.recipients_emails}}
	<p>{{__ "This Candidate was forwarded to:"}}</p>
	<p>
	{{#each history.data.recipients_emails as |email_address|}}
		{{ email_address}}
	{{/each}}
	</p>
{{/if}}

{{#if history.data.message}}
	<p>{{__ "Message:"}}</p>
	<pre>{{history.data.message}}</pre>
{{/if}}
