{{#if history.data.advert_label}}
	<p>{{__ "Shortlisted for"}}:
		{{#if history.data.advert_link}}
			<a target="_NEW" href="{{history.data.advert_link}}">{{ history.data.advert_label }}</a>
		 {{else}}
			{{ history.data.advert_label }}
		 {{/if}}
		{{#if history.data.board_nice_name}} from <strong>{{ history.data.board_nice_name }}</strong>{{/if}}
	 .</p>
{{/if}}
