{{#if history.data.updated_fields}}
    {{#each history.data.updated_fields as |updated_value|}}
        {{#if (is-equal updated_value.field_name "broadbean_adcresponse_rank_reason")}}
            <p>{{__x 'This candidate was rejected for the following reason: "{rejectionReason}".' rejectionReason=updated_value.new_value }}</p>
        {{else}}
            <p>{{__x 'The value of "{field_name}" was changed ' field_name=updated_value.field_name }}
            {{#if updated_value.old_value}}
                {{__x 'from "{old_value}"' old_value=updated_value.old_value}}
            {{/if}}
            {{#if updated_value.new_value}}
                {{__x 'to "{new_value}"' new_value=updated_value.new_value}}
            {{/if}}.</p>
        {{/if}}
    {{/each}}
{{/if}} 
