<div class="profile-actions-panel perfect-scrollbar" id="profile-actions-panel">

  {{#if (unbound searchUser.settings.candidate-actions-forward-enabled)}}
      {{candidate-forward-inline candidate=previewCandidate shown=previewCandidate.inProfileshowForward}}
  {{/if}}

  {{#if (unbound searchUser.settings.candidate-actions-shortlist-enabled)}}
      {{#each controllers.search.customLists as |list|}}
          {{candidate-shortlist-inline
              candidate=previewCandidate
              list=list
              shown_binding_prefix="inProfileshowShortlist_"
              isInternalBoard=controllers.search.selectedBoard.isInternal}}
      {{/each}}
  {{/if}}
  {{candidate-longlists-inline
      candidate=previewCandidate
      user=searchUser
      shown=previewCandidate.inProfileshowLongLists
  }}
  {{#if (unbound searchUser.settings.candidate-actions-message-enabled)}}
  {{candidate-message-inline candidate=previewCandidate
      shown=previewCandidate.inProfileshowMessage
      customLists=controllers.search.customLists
  }}
  {{/if}}


  {{#if previewCandidate.isGeneralSubmission}}
    {{candidate-delegate-inline candidate=previewCandidate shown=previewCandidate.inProfileshowDelegate}}
  {{/if}}

</div>
