{{#each previewCandidate.historicActionsByMonth as |yearMonthContainer|}}
<h5 class="date-label"><span>{{momentFormat yearMonthContainer.yearMonthDate 'MMMM'}} <small>{{momentFormat yearMonthContainer.yearMonthDate 'YYYY'}}</small></span></h5>
<ul class="recent-activity-list">
  {{#each yearMonthContainer.collection as |history|}}
  <li class="list-item" {{action "scrollToHistory" previewCandidate history}}>
    <div class="circle-outer">
      <div class="circle-inner cand-history-{{history.action}}">
        <i class="{{history.icon}}"></i>
      </div>
    </div>
    <div class="information-container">
      <div class="cand-history-text cand-history-{{history.action}}">{{history.label}}</div>
      <div class="history-actor">{{__ "By"}} {{history.actor}}</div>
      <div class="history-date">{{isoDateFromNow history.date searchUser.timezone}}</div>
      {{#if history.data.email_template_name }}
        <div class="history-data">{{__ "with template"}} "{{history.data.email_template_name}}"</div>
      {{/if}}
    </div>
  </li>
  {{/each}}
</ul>

{{/each}}
