{{#if candidate.historicActionsChronological.length}}


    <div class="history-cards">
        {{#each candidate.historicActionsChronological as |history|}}
        <div class="history-card" id="history-{{history.id}}">
            <h3 class="history-card-header cand-history-{{history.action}}">{{history.label}}
                <span class="history-date">{{isoDateToNiceDate history.date searchUser.timezone}}</span>
            </h3>
            <div class="history-meta">
                {{#if history.data.email_template_name}}
                    <span>{{__ "Email Template"}}: {{history.data.email_template_name}}</span>
                {{/if}}
                <span class="actor">{{__ "By"}} <span class="actor-name">{{history.actor}}</span></span>
            </div>

            <!--
            {{toJson history }}
            -->
            {{partial history.partialName}}
        </div>
        {{/each}}
    </div>
{{else}}
    <div class="no-emails-found">{{__ "No history found."}}</div>
{{/if}}
