<div class="profile-actions-panel perfect-scrollbar" id="profile-actions-panel">


<div class="email-component">
{{#each candidate.otherAttachments as |attachment| }}

{{attachment-box attachment=attachment}}

{{/each}}

{{#if candidate.otherAttachmentsLoading}}
  <div class='loading-candidate-data'>{{__ "Please wait..." }}</div>
{{/if}}

</div>

</div>
