<script>
  function view_content_text_xml(content_id){
     $('#test_xpath_xml').val( $('#' + content_id).text() );
     $('#test_xpath').submit();
  }

  function view_content_text_html(content_id){
       $('#show_html_html').val( $('#' + content_id).text() );
       $('#show_html_base').val( $('#' + content_id + '_base').text() );
       $('#show_html').submit();
  }

  function toggle_response_body(response_body_index) {
      var $container = jQuery( "#response_body_" + response_body_index );
      $container.find("pre").slideToggle();
      var $link = $container.find("a");
      $link.text(
          $link.text().toLowerCase().indexOf("view") >= 0
              ? "Hide Source" : "View Source"
      );
      return false;   // cancel hyperlink's natural behaviour
  }

</script>

<a name="top_log"></a>

<h3>Full log:</h3>
       <div style="background-color: #fdf6e3;">
[% SET requests = [] %]
[% FOREACH line IN log_lines %]
  [% IF line.request_num.defined %]
    [% requests.push( line.request_num ) %]
    <a name="request[% line.request_num %]"></a>
  [% END %]
  [% IF line.line %]
    <span class="log-line log-[% line.type %]">[% line.line | html %]</span><br/>
  [% END %]
  [% IF line.http_request %]
    [% INCLUDE 'components/http_request.tt'
      http_request = line.http_request
      request_num  = line.request_num %]
  [% END -%]
  [% IF line.http_response %]
    [% INCLUDE 'components/http_response.tt'
      http_response = line.http_response
      request_num   = line.request_num
      s3_log_id     = s3_log_id %]
  [% END %]
[% END %]
<a name="bottom_log"></a>
</div>

<div style="position: fixed; top: 40px; right: 10px; padding: 10px; border: 1px solid gray; background-color: white">

<h4>Log Nav</h4>

 <p><a href="#top_log">Top</a></p>


[% FOREACH request_num IN requests %]

 <p><a href="#request[% request_num %]">Request / Response [% request_num %]</a></p>

[% END %]

 <p><a href="#bottom_log">Bottom</a></p>

</div>


<!-- Rendering HTML using a small helper in Search2 -->
<form id="show_html" method="post" action="/show_html" charset="utf-8" target="_blank">
  <input type="hidden" id="show_html_html" name="html" value="">
  <input type="hidden" id="show_html_base" name="base" value="">
</form>

<!-- Reusing live XPATH Tester -->
<form id="test_xpath" method="post" action="https://www.adcourier.com/manage/test_xpath.cgi" charset="utf-8" target="_blank">
  <input type="hidden" id="test_xpath_xml" name="xml" value="">
</form>
