<div>
  {{#if templateId}}
  <div class="pull-right">
    <button class="btn btn-danger"
            {{action "deleteTemplate"}}
            ><i class="icon-trash-1"></i></button>
  </div>
  {{/if}}

  <div>
{{#if templateId}}
<h3>{{__ 'Edit template'}}</h3>
{{else}}
<h3>{{__ 'Create new template'}}</h3>
{{/if}}
</div>

</div>


{{#if searchUser.manageResponsesView}}

    <h4><i class="icon-puzzle"></i> {{__ 'Template Rules'}}</h4>
    <div class="hspacer"></div>

    {{#each templateRules as |rule|}}
        <div class="email-template-rule">
            <div class="pull-left"><i class="icon-puzzle"></i></div>
            <div class="pull-right"><a href="#" {{action "removeRule" rule}}><i class="icon-trash-1"></i></a></div>
            {{component rule.componentName rule=rule}}
        </div>
        <div class="hspacer"></div>
    {{/each}}

    <button class="btn"
            {{action "addFlagRule"}}
    ><i class="icon-plus-1"></i> <i class="icon-flag-circled"></i> {{__ 'Send when response is flagged'}}</button>

    <button class="btn"
            {{action "addResponseReceivedRule"}}
    ><i class="icon-plus-1"></i> <i class="icon-asterisk"></i> {{__ 'Send when application is received'}}</button>


    <div class="hspacer"></div>

    <hr/>
{{/if}}

<strong>{{__ 'Name'}}:</strong><span class="required-field">*</span>
<div>
{{input  classNames="input-xxlarge"  value=templateName required="required" placeholder=translations.placeholderNameThisTemplate}}
</div>
<div class="hspacer"></div>


<div>
  <strong>{{__ 'Reply To'}}:</strong>
  <div>
    {{input  classNames="input-xxlarge"  value=emailReplyto}}
  </div>
</div>


<div>
  <strong>{{__ 'Bcc'}}:</strong>
  <div>
    {{input  classNames="input-xxlarge"  value=emailBcc}}
  </div>
</div>

<div>
  <strong>{{__ 'Subject'}}  {{__ '(Max 80 chars)'}}:</strong><span class="required-field">*</span>
  <div>
    {{input  classNames="input-xxlarge" required="required" maxlength="80" value=emailSubject}}
  </div>
</div>

<div>
{{tiny-mce value=emailBody}}
</div>

<div class="hspacer"></div>


{{#if error}}
<div class="alert alert-error">
  {{error.message}}
</div>
<div class="hspacer"></div>
{{/if}}

<div>
  <strong>{{__ 'Grant usage to these users'}}:</strong>
  <div>
    {{settings-toggle user=hierarchy master=this autoExpand=true}}
  </div>
  <div class="hspacer"></div>
</div>


<div>
  <div class="pull-right">
    <button class="btn btn-primary"
            {{action "saveTemplate"}}
            disabled={{formInvalid}}>{{__ "Save"}}</button>
  </div>
  <div>
    {{#link-to 'admin.emailtemplates.index' class='btn'}}{{__ 'Cancel'}}{{/link-to}}

    <button class="btn btn-primary"
            {{action "sendSample"}}
            disabled={{formInvalid}}
            >{{__ 'Send a Sample to myself'}}</button>
  </div>
</div>
