<div>
  {{#link-to 'admin.emailtemplates.new' class='btn'}}<i class="icon-plus-1"></i>{{__ "New"}}{{/link-to}}
</div>

<div class="line">
  <div class="unit right">{{pager-render pager=pager route='admin.emailtemplates.index'}}</div>
</div>

<div class="hspacer"></div>

<ul class="tags">
  {{#each emailtemplates as |template|}}
    {{admin-emailtemplate-item template=template}}
  {{/each}}
</ul>

<div class="hspacer"></div>

<div class="line">
  <div class="unit right">{{pager-render pager=pager route='admin.emailtemplates.index'}}</div>
</div>
