@mixin max-height($height) {
    max-height: $height;
    height: auto !important;
    height: $height;
}

@mixin max-width($width) {
    max-width: $width;
    width: auto !important;
    width: $width;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Variables that can be customised per theme
// Text colours
$textColor: #373A3F  !default;
$textMainTab: $white !default;
$textRed:     #FB2F03 !default;
$textFacet: #eeeee9 !default;

// Background colours
$bgMainTab: $darkGrey !default;
$bgGutter: white !default;
$bgPage:   white !default;
$bgBody: #262930 !default;
$bgFooter: #e8e8e8 !default;

// Borders
$borderRadius: 5px;

// Spacing
$componentSpacing: 5px !default;
$menuOffset: 15px !default;
