    div.bb-logo-large {
        background: url(/static/images/logo-green.png);
        background-size: 188px 110px;
        width: 188px;
        height: 110px;
        margin: 20px auto;
    }
    img.bb-logo-small {
        width: 80px;
    }
    input, textarea, select, .uneditable-input {
        padding: 4px;
    }
    .board-selection {
        padding: 10px;
        margin: 0px;
    }
    ul.board-selection {
       /* This makes the board selection a float container */
       overflow: hidden;
    }
    ul.board-selection li {
        float: left;
        list-style-type: none;
        margin: 2px 5px;
        background: white;
        padding: 5px 28px;
        width: 125px;
        text-align: center;
        cursor: pointer;
        position: relative;
        border: solid 1px #ccc;
        box-shadow: 1px 1px 0px 0px #ccc;

        div.pill {
            position: absolute;
            top: 2px;
            right: 5px;
        }
    }

    .board-selection li.selected {
        color: white;
        background-color: #08c;
    }

    .board-selection li.disabled {
        color: grey;
        background-color: lightGrey;
        cursor: default;
    }

    div.unit.miles-of {
        margin: 5px;
        margin-left: 12px;
    }
    input.location-text {
        width: 65%;
        padding: 4px;
    }
    .selection {
        margin: 1px;
        background: white;
        text-align: center;
        cursor: pointer;
    }

    .text-link {
        cursor: pointer;
        color: #0088cc;
    }
    .text-link:hover {
        color: #005580;
    }
    .header-custom {
        display: none;
    }
    .slogan {
        text-decoration: none;
        font-size: 11px !important;
        margin-left: 0px !important;
    }
    #more_options_button, #less_options_button {
        cursor: pointer;
    }
    #more_options_button:hover, #less_options_button:hover {
        text-decoration: underline;
    }
    .selection img {
        padding: 5px;
        border-radius: 5px;
        background: white;
        margin-top: 5px;
    }

    .banner-right {
        margin-top: 5px;
        margin-right: 10px;
        float: right;
        text-align: right;
    }

    .banner-right h2 {
        color: #222222;
        font: 20px Tahoma,Helvetica,Arial,Sans-Serif;
        margin-bottom: 10px;
    }

    .board-selector {
        background: white;
        border-radius: 5px 5px 5px 5px;
        width: 150px;
        text-align: center;
        box-shadow: 1px 1px 5px #E0DEDE;
        margin: 10px 10px 5px 10px;
        cursor: pointer;
    }

    .board-selected {
        width: 150px;
        height: 100px;
        text-align: center;
    }

    .board-selected img {
        background: white;
        border: 1px solid #ccc;
        margin: 10px;
        box-shadow: 0 0 5px #0174D1;
    }

    .board-selector:hover {
/*        box-shadow: 0 0 5px #0174D1; */
    }

    .board-selector p {
        background: #294B93;
        color: white;
        font-size: 10px;
        text-align: left;
        padding-left: 10px;
        text-shadow: 1px 1px #000;
        box-shadow:inset 0 0 10px #617EB7;
        margin-bottom: 0px;
    }
    .banner {
        background: #F5F5F5;
        padding: 5px;
        box-shadow: 0 4px 2px -2px #ccc;
        border-radius: 0px 0px 5px 5px;
    }
    #result-footer {
        padding: $componentSpacing;
    }
    #where_the_results_go {
        height: 100%;
        padding: 15px;
    }
    .board_type_title {
        clear: both;
        width: 700px;
        border-bottom: 2px solid #ccc;
        padding: 5px;
        margin-bottom: 5px;
    }
    .board_selected a {
        background: #28488E;
    }
    .board_selected a {
        color: white;
    }

    #toggle-boards a {
        font-weight: bold;
    }

    #toggle-boards a:hover {
        background: #365BAA;
    }

    form {
        margin: 0px;
    }

    .location_selected {
        color: white;
        border: none;
        box-shadow: 0px 0px 5px rgb(0, 0, 0) inset;
        padding-right: 20px;
        background: url("/static/images/location_clear.png") no-repeat scroll 98% 50% rgb(115, 115, 115);
        cursor: pointer;
    }

    .location_searching {
        background: white;
    }

    #location_id_hint {
        height: 250px;
        overflow: auto;
    }

    /* These styles are used by the location list autocompleter */
    .autocomplete_field, .autocomplete_hint ul {
        border: 1px solid #999;
        padding: 3px;
    }

    /* overflow auto forces scrollbars */
    input.combo {
        background: url(/static/images/downward.gif) 99% 50% no-repeat;
        padding-right: 25px;
    }

    div.candidate-history-container {
        width: 350px;
        max-height: 250px;
        height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: 11px;
        background-color: #FFFFFF;
        padding: 5px;
    }
    h4.candidate-history-title {
        color: #007FC6;
        margin-bottom: 8px;
    }
    h5.candidate-history-label {
        color: #7C7F84;
    }
    div.candidate-history-action-group {
        margin-bottom: 8px;
    }
    div.candidate-history-action {
        color: #7C7F84;
    }
    div.control-icons {
        float: right;
        text-align: right;
        max-width: 400px;
        height: 32px;
        padding-right: 8px;
    }
    img.candidate-history-icon {
        cursor: pointer;
        opacity: 0.5;
        width: 30px;
    }
    img.candidate-history-icon:hover {
        opacity: 1;
    }
    img.notes-icon {
        cursor: pointer;
        max-width: 100%;
        width: auto9;
        height: auto;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
        width: 32px;
        margin-bottom: -2px;
        opacity: 0.5;
    }
    img.notes-icon:hover {
        opacity: 1;
    }
    div.search-btn-grp {
        text-align: right;
        max-width: 100%;
    }
    div.more-less-options {
        padding-top: 5px;
    }
    input.search-check {
        vertical-align: text-bottom;
    }
    span.unspecified-salaries {
        padding-left: 40px;
        padding-right: 50px;
    }
    .autocomplete_hint {
        list-style-type: none;
        margin: 0; /* -1px 0 0 0; */
        border: 1px solid #999 !important;
        border: none;
        color: #69900f;
        background-color: #fff;
        text-align: left;
    }

    .clickable {
        list-style-type: none;
        margin: 0;
        padding: 2px;
        cursor: pointer;
    }

    .autocomplete_hint .selected {
        background: #ffc;
    }

    .autocomplete_hint #no_results {
        background: #fff;
        color: #666;
        font-style: italic;
    }

    .tabrow {
        margin-top: 15px;
        margin-bottom: 0px;
        list-style: none;
        padding: 0 0 0 5px;
        overflow: hidden;
        font-size: 12px;
        position: relative;
        margin-left: 5px;
    }
    .tabrow li {
        border: 1px solid #DBDBDB;
        border-bottom: none;
        background: #F2F2F2;
        display: inline-block;
        position: relative;
        z-index: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        text-shadow: 0 1px #FFF;
        margin: 0 -5px;
        padding: 5px 10px 5px 5px;
    }
    .tabrow .more-tab {
        background: #2F51A4;
        border: 1px solid #2F51A4;
        text-shadow: none;
        float: right;
        margin-right: 0px;
        text-align: center;
        padding-left: 10px;
    }
    .tabrow .more-tab a {
        color: white;
    }
    .tabrow a {
        color: #737373;
        text-decoration: none;
    }
    .tabrow a:hover {
        color: #2F5197;
    }
    .tabrow li:hover {
        background: #E2E2E2;
    }

    .company-table-footer {
        padding: 10px 5px 5px 5px;
    }

    .text {
        width: 65%;
    }

    textarea.keywords {
        width: 90%;
        min-height: 28px;
        height: 18px;
        box-sizing: border-box;
        overflow: hidden;
        resize: none;
    }

    i.icon-help-circled {
        font-size: 1.5em;
        cursor: pointer;
        position: absolute;
    }

    ul.keyword-boolean-tips {
        width: 500px;
    }

    div.candidate_float_container {
        position: fixed;
        right: 10px;
        top: 100px;
        border: solid 2px red;
        background-color: white;
    }
    .right{ float: right; }
    .right-padd-by-1px{ float: right; padding-right: 1px; }
    .full-width { width: 100%; }
    .body-standalone { padding: 20px !important; }
    .body-block { background: #f2f2f2; }

    img.information {
        margin: -5px 15px 0px 20px;
        width: 100px;
        height: 100px;
    }
    a.nav-disabled {
        color: grey !important;
        cursor: default;
    }
    div.clear {
        clear: both;
    }
    .pill {

        float:left;
        margin: 2px;
        border-radius: 5px;
        padding: 1px 5px;

        label {
            display: inline;
        }
        span.close {
            margin-left: 2px;
            float: none;
            font-size: 15px;
        }
    }

    .pill a, .pill a:hover{
        color: white;
    }
    .pill a:hover{
        cursor: pointer;
    }

   div.hspacer{
      height: 20px;
   }
   span.small {
       font-size: 11px;
       font-weight: bold;
   }
   span.big {
       font-size: 16px;
       font-weight: bold;
   }
   .lightBlue {
       background-color: $bgBody;
   }
   .statusBar {
       height: 42px;
   }
   .dropdown, .dropdown-panel {
       border-radius: 0px !important;
   }
   .right-pane {
       background-color: rgb(232,232,232);
   }
   .font-red { color: red; }
   .font-yellow { color: yellow; }
   .font-green { color: green; }
   .font-amber { color: #FFA500; }
   .font-grey { color: grey; }
   .font-purple { color: purple; }
   .clickable { cursor: pointer; }

   div.hopscotch-bubble .hopscotch-bubble-close {
       background: transparent url(../images/sprite-green.png) -192px -92px no-repeat;
   }
   div.hopscotch-bubble .hopscotch-bubble-number {
       background: transparent url(../images/sprite-green.png) 0 0 no-repeat;
   }
   div#loading-screen {
       position: fixed;
       text-align: center;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       background-color: white;
       padding-top: 100px;
       z-index: 1000;
   }


/* Pure CSS hover magic */
.on-hover{
  display: none;
}

/* Note that the inherit might require the hovered element
   to be wrapped into an appropriate inline elt or block element to
   make sure its display property stays fixed.
*/
.on-hover:hover{
  display: inherit;
}
.hover-container:hover .on-hover{
  display: inherit;
}



div.jerome-face {
    width: 100px;
    height: 150px;
    background-image: url(../images/jerome.png);
    background-position: 100px 0px;

    position: absolute;
    top: 0px;
    left: 0px;
}
div.jerome-face-caption {
    position: absolute;
    top: 100px;
    left: 80px;
    max-width: 200px;
    background-color: #888;
    padding: 5px;
    color: white;
}
