
* {
/*  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif; */
    font-family:  "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}

body {
  font-size: 12px;
  line-height: 18px;
  color: #373A3F;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
p {
  margin: 0 0 9px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999999;
}
a.muted:hover,
a.muted:focus {
  color: #808080;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}
.text-error {
  color: #b94a48;
}
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}
.text-success {
  color: #468847;
}
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  line-height: 36px;
}
h1 {
  font-size: 35.75px;
}
h2 {
  font-size: 29.25px;
}
h3 {
  font-size: 22.75px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11.049999999999999px;
}
h1 small {
  font-size: 22.75px;
}
h2 small {
  font-size: 16.25px;
}
h3 small {
  font-size: 13px;
}
h4 small {
  font-size: 13px;
}

p small {
  font-size: 11px;
  color:     #999;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.required {
  color: $textRed;
}
.strong {
    font-weight: bold;
}
i[class^="icon-"] {
    font-size: 1.3em;
}
/* make text appear mid down an input */
.text-mid-input {
    padding-top: 5px;
}
