// include default colour palette

$theme-colour: black;
$font: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;

@mixin themeFont($size: inherit, $weight: normal){
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
}

/** Flexbox mixin for vertically centering div's in div's **/
@mixin flexbox-display-flex {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox-flex($width) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: $width; // Passing our width value here
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@mixin flexbox-order($order) {
  -webkit-box-ordinal-group: $order;
  -moz-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}

@mixin truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  src: local('Yellowtail'), url(//fonts.gstatic.com/s/yellowtail/v5/GcIHC9QEwVkrA19LJU1qlBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

@import 'colours';

// override theme defaults and mixins
// EXAMPLE: $heading_bg: $dark_red;

// include theme defaults
@import '_defaults.scss';

// include all the blocks (don't change this)
//@import 'reset';
@import 'normalize';
@import 'html5bp';
@import 'grids';

@import 'typography';
@import 'components';

@import 's2';
