$theme-colour: #1b75bb;
$theme-hover-colour: #095d96;
$bgBody: #f3f3f3;
$font: frutiger57, arial, sans-serif;
$bold-font: frutiger77, arial, sans-serif;
$adc-font: arial, sans-serif;

@mixin themeFont($size: inherit, $weight: normal){
  @if $weight == 'bolder' {
      font-family: $bold-font;
  }
  @else {
      font-family: $font;
      font-weight: $weight;
  }
  font-size: $size;
}

/** Flexbox mixin for vertically centering div's in div's **/
@mixin flexbox-display-flex {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox-flex($width) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: $width; // Passing our width value here
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@mixin flexbox-order($order) {
  -webkit-box-ordinal-group: $order;
  -moz-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}

@mixin truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  src: local('Yellowtail'), url(//fonts.gstatic.com/s/yellowtail/v5/GcIHC9QEwVkrA19LJU1qlBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

@import 'colours';

// override theme defaults and mixins
// EXAMPLE: $heading_bg: $dark_red;

// include theme defaults
@import '_defaults.scss';

// include all the blocks (don't change this)
//@import 'reset';
@import 'normalize';
@import 'html5bp';
@import 'grids';

@import 'typography';
@import 'components';

@import 's2';

// include default colour palette
html, html body {
    background-color: $bgBody;
}

/** LEFT COLUMN **/
*:focus {
    outline: 0 none;
}

html>body {
    min-height: 495px;
    height: auto;
}

.body {
    background-color: $bgBody;
    padding: 0 20px;
}

header.bb-nav {
    background: url("/static/images/skHeaderBar.png") repeat-x;
    height: 66px;
}

header.bb-nav .header-inner-container {
    margin: 0 auto;
    min-width: 900px;
    padding: 2px 20px 0px 20px;
}

header.bb-nav img {
    margin: 5px 10px 5px 0;
    width: 80px;
}

header.bb-nav .header-logo {
    width: 95px;
}

header.bb-nav div ul {
    margin-top: -9px;
}

header.bb-nav div.nav-links {
    left: -35px;
    position: relative;
    margin-top: -33px;
    width: 80%;
}

header.bb-nav div.nav-links nav ul li {
    border: solid #CCC;
    border-width: 0 1px 0 0;
    padding: 4px 8px;
    line-height: 14px;
}

header.bb-nav div.nav-links nav ul li.last {
    border-width: 0;
}

header.bb-nav div.nav-links nav ul li a {
    color: #8bc451;
    font-family: $adc-font;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 14px;
    transition: all 0.3s ease 0s;
    &.active {
        color: $theme-colour
    }

}

header.bb-nav div.nav-links nav ul li a:hover {
    color: $theme-colour;
}

.link-like {
    @extend .clickable;
    color: $theme-colour;
    &:hover {
        text-decoration: underline;
    }
}

.logged-in-as {
    color: $theme-colour;
    font-family: $adc-font;
    font-size: 12px;
    line-height: 15px;
    padding: 14px 8px 0 0;
}

span.v5-secondary-sub-nav {
    display: block;
    margin-top: 4px;
}

span.v5-secondary-sub-nav a {
    border-right: 1px solid #ccc;
    color: #8bc451;
    font-family: $adc-font;
    font-size: 12px;
    line-height: 12px;
    padding: 0 8px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

span.v5-secondary-sub-nav a:hover {
    color: $theme-colour;
}

span.v5-secondary-sub-nav a:last-child {
    border-right: 0;
    padding-right: 0;
}

.spinner {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: 40px;
  left: 52%;
  background-color: rgb(243, 243, 243)
}

#nav-toggle {
    display: none;
    height: 20px;
    width: 25px;
}

.hamburger {
    position: relative;
    top: 8px;
}
.hamburger,
.hamburger:before,
.hamburger:after {
    background-color: #ccc;
    border-radius: 3px;
    display: block;
    height: 3px;
    transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
    width: 25px;
}

.hamburger:before,
.hamburger:after {
    content: "";
    left: 0;
    position: absolute;
}

.hamburger:before {
    top: -7px;
}

.hamburger:after {
    bottom: -7px;
}

.v5-hide {
    display: none !important;
}

.btn-primary {
    background-color: $theme-colour !important;
    margin: 2.5px 0 !important;
}

.layout-fixed {
    background: transparent;
}

.layout-fixed .layout-inner {
    text-align: left;
    background-color: #f3f3f3;
}

.facetContainer {
    border-top: none;
    color: #373A3F;
}

div.results-container {
    border-top: 20px solid #f3f3f3;
}

.facetHeader .hspacer {
    height: 0;
}

.facetHeader h4 {
    font-size: 14px;
    color: $theme-colour;
    margin: 10px 30px;
}

.facetHeader ul li {
    list-style: none;
    margin: 10px;
}

.facetHeader ul li a {
    color: #888;
    margin-left: 5px;
}

#share-search-dialog {
    width: 300px;
    z-index: 1;
}

.facets h5 {
    font-size: 12px;
    cursor: pointer;
    margin: 10px;
    letter-spacing: 0.3px;
    transition: all 0.3s ease 0s;
}
.facets h5:hover {
    color: $theme-colour;
}

.facets div.facetExpand {
    background-color: transparent;
    padding: 0 10px 10px 10px;
}
.facets div.facetExpand a {
    color: $theme-colour;
    margin-right: 3px;
}

.facets div.facet-group {
    margin: 5px 0;
}
.facets .facet-option.strong {
    border-left: 5px solid $theme-colour;
    padding-left: 25px !important;
    color: $theme-colour;
}
.facets .facet-option.vertical-check {
    padding-left: 30px;
}
.facets .facet-option.vertical-check::before {
    position: absolute;
    margin-left: -9px;
}

.facets .facet-option.radio-option.strong::before {
    margin-left: -9px;
    color: $theme-colour;
    margin-right: 0;
}

/* Tags/ Hotlists */
.facets .search-icon-box input {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 4px !important;
    width: 81% !important;
    height: auto !important;
    box-sizing: inherit !important;
}

.facets input, .facets select {
    margin: 0 !important;
    width: 100% !important;
    background-color: #fff !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    color: #888 !important;
    box-sizing: border-box !important;
    height: 30px !important;
}

/** Get rid of all styles for class input#ember1578 **/

.facets div.facetExpand select {
    width: 100%;
    -webkit-appearance: menulist-button;
    height: 34px;
    overflow: hidden;
    background: #fff;
    box-sizing: border-box;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    margin: 0 !important;
    color: #888 !important;
}


div.candidate-tags.closed {
    margin-top: 0 !important;
}

div.candidate-tags ul {
    margin: 0 !important;
}
div.candidate-tags ul li {
    margin-top: 0 !important;
}

.tag-flavour-default label {
    color: #fff;
    font-size: 12px;
}
.tag-flavour-default label:hover {
    color: #ddd;
}

/** LEFT COLUMN END **/

/** RIGHT BODY **/

table.watchdogs-list {
    text-align: center;
}

input.search-check {
    margin-right: 5px;
}

.right-pane {
    background-color: #fff;
    border-left: 20px solid #f3f3f3;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: $theme-colour;
    margin-top: 10px;
}

.btn-success, .btn-sucess:active {
    background-color: $theme-colour;
}

.btn-success:hover {
    background-color: #0A5D9E;
}

ul.board-selection li {
    float: left;
    list-style-type: none;
    margin: 5px;
    background: #fff;
    padding: 8px 25px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid #f3f3f3;
    box-shadow: 1px 1px 0 0 #ccc;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.3px;
}

.board-selection li.selected {
    color: #fff;
    background-color: $theme-colour;
    border: 1px solid $theme-colour;
}

div#stickybanner {
    height: 30px;
    padding: 10px 0;
    background-color: $theme-colour;
    z-index: 10;
    min-width: 800px;
}

.pager li.page-num-disabled {
    background-color: #ccc;
    padding: 4px 5px;
}

.pager li.selected {
    border-color: rgba(204, 204, 204, 0.7);
}

div.head-container {
    overflow: hidden;
    background: none repeat scroll 0 0 #E9EFF4;
    padding: 5px 4px;
    border-radius: 5px 5px 0 0;
}

div.head-container.selected {
    background-color: $theme-colour;
}

.line.head-container.selected h4 span {
    color: #fff;
}

.result-h4 {
    color: $theme-colour;
    letter-spacing: 0.3px;
}

.btn-primary.active,
.btn-primary.disabled,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary[disabled] {
    background-color: $theme-colour !important;
}

/** RIGHT BODY END **/

/** TOP BAR **/

.menu-pill-header {
    height: 33px;
    padding-top: 14px;
    background-color: transparent;
}

.menu-pill-header .title-box {
    color: $theme-colour;
}

.menu-pill-header .title-box span {
    @include themeFont( 30px, bolder );
    padding-top: 5px;
}

.menu-pill-header .title-box span.slogan {
    @include themeFont();
}

.menu-pill-header a {
    display: inline-block;
    padding: 15px;
    margin-top: -15px;
    line-height: 18px;
    height: 18px;
    color: $theme-colour;
    @include themeFont( 13px, bolder );
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-pill-header a:hover {
    color: #0A5D9E;
}

.menu-pill-header a.active {
    color: #fff;
}

.footer-s2 {
    display: none;
}

/* Preview Candidate Resume */
div.darkness {
    opacity: 0.6;
}

div.profile-box div.profile-controls h3 {
    @include themeFont( inherit, bold );
}

div.profile-container div.profile-content div.heading {
    background-color: $theme-colour;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    @include themeFont( 16px );
    margin-bottom: 10px;
    margin-top: -30px;
    padding: 10px;
}

div.profile-box div.profile-container .profile-details {
    background-color: #f0f0f0;
}

div.profile-box div.profile-container .profile-details h4 {
    color: $theme-colour;
    @include themeFont( 18px );
    margin: 20px 0 0;
}

div.profile-section#social {
    background-color: transparent;
}
div.profile-section .candidate-tags ul {
    width: 75%;
}
div.profile-section .profile-tags.btn {
    width: 10%;
}

/* Admin Panel */
div.admin-panel {
    background-color: transparent;
    padding: 20px;
}
div.admin-panel h3 {
    color: $theme-colour;
    font-family: $font;
}
div.admin-panel .pager strong {
    color: #888;
    font-size: 11px !important;
}
div.admin-panel .pager a i {
    font-size: 12px;
}
div.admin-panel .pager a.active {
    color: #888;
    transition: all 0.3s ease 0s;
}
div.admin-panel .pager a.active:hover {
    color: $theme-colour;
    cursor: pointer;
}

div.admin-navigation ul {
    padding-left: 20px;
}

div.admin-navigation li a {
    color: #888;
}
div.admin-panel div.admin-navigation a.active {
    color: $theme-colour;
}

/* Responses Channel */

// disable some UI components for users viewing Responses without TalentSearch
.restrictUI {
    opacity: 0.5 !important;
}
// the star applies the css to decendents of the selector
.restrictUI, .restrictUI *, .restrictUI-cursor, .restrictUI-cursor * {
    cursor:  not-allowed !important;
}

// Button styling for disabled candidate action buttons
.disabled-action-btn {
    @extend .restrictUI;
}

/* Perfect Scrollbar Customization */
.ps-container {
    &.ps-in-scrolling {
        &.ps-y {
            > .ps-scrollbar-y-rail {
                background-color: #ccc;
                opacity: 1;
            }
        }
    }

    .ps-scrollbar-y-rail {
        border-radius: 0;
        right: 0 !important;
        width: 5px;
        z-index: 1;

        .ps-scrollbar-y {
            background-color: #555;
            border-radius: 0;
            width: 5px;
        }
    }

    .ps-scrollbar-x-rail {
        border-radius: 0;
        bottom: 0 !important;
        height: 5px;
        z-index: 1;

        .ps-scrollbar-x {
            background-color: #555;
            border-radius: 0;
            height: 5px;
        }
    }
}

@media screen and (max-width: 1170px) {
    header.bb-nav div.nav-links {
        height: auto;
        left: 0;
        margin-top: -27px;
        width: 297px;
    }

    #nav-toggle {
        display: block;
    }

    ul.primary-nav-ul {
        display: block;
        position: relative;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: 0;
        top: -326px;
        width: 250px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        z-index: -1;
    }

    header.bb-nav div ul li {
        border-top: 1px solid #ccc !important;
        border-right: 0 !important;
        text-align: center;
        width: 100%;
        padding: 5px 0 !important;
        margin: 0;
        display: block;
        float: none;

        a.active {
            color: $theme-colour
        }
    }

    header.bb-nav div ul li:first-child {
        border-top: 0 !important;
    }
}
