<html>
[% # The inline styles %]
[% SET style_body = 'font-family: Verdana, Arial;' %]
[% SET style_id_container = 'width: 650px; margin-left: auto; margin-right: auto;' %]
[% SET style_h1 = 'background-color: #454545; color: white; padding: 20px; font-size: 1.4em; font-weight: bold;' %]
[% SET style_h2 = 'background-color: #7EB111; color: white; padding: 10px; font-size: 1.4em;' %]
[% SET style_h4 = 'color: #456C01; background: #B3D4FC; padding: 10px 10px 0px 10px; margin-bottom: 0px ; border-radius: 10px 10px 0px 0px;' %]
[% SET style_h5 = 'margin-top: 0px; background: #B3D4FC; padding: 10px;' %]
[% SET style_class_hidden = 'display: none' %]
[% SET style_advice='background-color: #060; color: white; font-weight: bold; padding: 10px; margin: 10px; font-size: 1.4em;' %]
<body style="[% style_body %]">

<div style="[% style_id_container %]">

[% watchdog_name = watchdog.name | html %]

<h1 style="[% style_h1 %]">[% i18nx('Watchdog "{name}" Alert' , name = watchdog.name )  | html  %]</h1>

<p>[% i18nx("Hello {name}" , name = watchdog.user.contact_name ) | html %],</p>


[% SET watchdog_link = watchdog.base_url _ 'watchdogs/' _ watchdog.id _ '/view' %]

<p>[% i18nx("your Watchdog &quot;{name}&quot; has yielded <a href=\"{watchdog_link}\">{n_new_results} new candidates</a> for you.", { name = watchdog_name , watchdog_link = watchdog_link , n_new_results = n_new_results } ) %]<p>

[% IF can_link %]
<p style="[% style_class_hidden %]">[% i18n("Click here to see them all:") | html %]<small><a href="[% watchdog_link %]">[% watchdog_link %]</a></small>
[% ELSE %]
<p style="[% style_advice %]">[% i18n('To access the results, please log into your database account.') %]</p>
[% END %]

<h2 style="[% style_h2 %]">[% i18n('Here is a quick summary:') | html %]</h2>

[% FOREACH subscription_result IN subscriptions_results %]
  [% SET subscription = subscription_result.watchdog_subscription.subscription %]
  <p>      
     [% i18nx('On the job board "{name}":' , name = subscription.board_nice_name ) | html %] 
     <a href="[% watchdog_link %]/[% subscription.board %]">[% i18nx('{n_candidates} new candidates' , n_candidates => subscription_result.new_results.size ) | html %]</a>. [% IF can_link %]<span style="[% style_class_hidden %]">[% i18n('Click here:') | html %] <small><a href="[% watchdog_link %]/[% subscription.board %]">[% watchdog_link %]/[% subscription.board %]</a></small></span>[% END %]
  </p>

  [% IF subscription_result.watchdog_subscription.last_run_error %]
    <p style="color: red">
      [% SET error_string = subscription_result.watchdog_subscription.last_run_error %]
      [% i18nx('An error was detected searching this board: {error}' , error => error_string ) | html  %]
    </p>
  [% END %]
[% END %]


<h2 style="[% style_h2 %]">[% i18n('New candidates:') | html %]</h2>

[% FOREACH subscription_result IN subscriptions_results %]

 [% SET subscription = subscription_result.watchdog_subscription.subscription %]

[% # Avoid outputting stuff that have no new results %]
[% IF ! subscription_result.new_results.size %]
[% NEXT %]
[% END %]

<h3>[% i18n('From') %]
    <a href="[% watchdog_link %]/[% subscription.board %]">[% subscription.board_nice_name | html %]</a>[% IF can_link %]<small style="[% style_class_hidden %]"> (<a 
                                                href="[% watchdog_link %]/[% subscription.board %]"
                                               >[% watchdog_link %]/[% subscription.board %]</a>)</small>[% END %]:
</h3>

[% FOREACH candidate IN subscription_result.new_results %]

[% # This logic is shamelessly copied from app/templates/board/results.hbs %]
<h4 style="[% style_h4 %]">
    [% IF candidate.name %]
       [% candidate.name | html %]
       [% IF  candidate.email %]
         [% candidate.email | html %]
       [% END %]
    [% ELSE %]
       [% IF candidate.email %]
         (<a href="mailto:[% candidate.email | html %]">[% candidate.email | html %]</a>)
       [% ELSE %]
         [% candidate.headline | html %]
       [% END %]
    [% END %]
</h4>

<h5 style="[% style_h5 %]">
  [% IF candidate.name %]
    [% candidate.headline | html %]
  [% ELSE %]
    [% IF candidate.email %]
     [% candidate.headline | html %]
    [% END %]
  [% END %]
</h5>


[% PROCESS stream/results/body.html.tt %]
[% # SET candidate_template = 'stream/results/body/'_ candidate.destination _ '.inc' %]
[% # PROCESS $candidate_template %]

[% END %]

[% END %]

</body>
</html>
