<hr />
<h4>CV matches</h4>
{{#if search_keywords}}
    {{#each cv_snippets}}
        <p>...{{this}}...</p>
    {{else}}
        <p><i>{{__ "No CV matches"}}</i></p>
    {{/each}}
{{else}}
    <p><i>{{__ "To view CV matches, search using keywords"}}</i></p>
{{/if}}

<h4>{{__ "Skills"}}</h4>
<div>
    {{#if skills}}
        <ul style="list-style: none; padding: 0">
            {{!-- Trim whitespace to avoid inline-block word wrap  --}}
            {{#each skills~}}
                <li style="
                    display: inline-block;
                    background: #f5f5f5;
                    padding: 2px 6px;
                    margin: 1px;
                ">
                    {{skillName}}
                </li>
            {{~/each}}
        </ul>
    {{else}}
        <i>{{__ "No information"}}</i>
    {{/if}}
</div>
<hr />
<div class="line">
    <div class="unit size1of2">
        <h4>{{__ "Top sectors applied to"}}</h4>
        {{#if sectors}}
            <ul>
                {{#each sectors}}
                    <li>{{parentSector}}</li>
                {{/each}}
            </ul>
        {{else}}
            <i>{{__ "No information"}}.</i>
        {{/if}}
    </div>
    <div class="unit size1of2">
        <h4>{{__ "Preferred work locations"}}</h4>
        {{#if locations}}
            <ul>
                {{#each locations}}
                    <li>{{locationName}}</li>
                {{/each}}
            </ul>
        {{else}}
            <i>{{__ "No information"}}.</i>
        {{/if}}
    </div>
</div>

<hr />

<div class="line">

    <div class="unit size1of2">
        <h4>{{__ "Highest Qualification"}}</h4>
        {{#each qualifications}}
            <strong>{{qualificationTypeName}}</strong><br />
            {{educationSubjectName}}
            {{#if gradeName}}
                ( {{gradeName}} )
            {{/if}}
            <br />

            {{instituationName}}
            <br />

            {{startedOn}} - {{finishedOn}}
        {{else}}
            <i>{{__ "No information"}}</i>
        {{/each}}
    </div>

    <div class="unit size1of2">
        <h4>{{__ "Other information"}}</h4>
        {{#with eligibility}}
            {{#if hasDrivingLicence}}
                <strong>Has driving licence</strong><br />
            {{/if}}
            {{#if hasCar}}
                <strong>Owns vehicle</strong><br />
            {{/if}}
            {{#if isEligible}}
                <strong>{{isEligible}}</strong> to work in the UK<br />
            {{/if}}
            {{#if noticePeriod}}
                <strong>Notice Period:</strong> {{noticePeriod}}<br />
            {{/if}}
        {{/with}}
    </div>
</div>