body {
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}
div.content {
    margin: 30px auto;
    width: 1000px;
    color: #222;
    @media screen and (max-width: 480px) {
        width: 100%;
    }

    div.icon {
        width: 14%;
        float: left;
        font-size: 120px;
        color: white;
        border: solid 5px #2394f2;
        border-radius: 100px;
        margin-right: 1%;
        text-align: center;
        background-color: #2394f2;

        @media screen and (max-width: 480px) {
            float: none;
            width: 140px;
            margin: 10px auto 40px;
        }
    }
    div.info {
        text-align: center;
        width: 80%;
        float: left;

        @media screen and (max-width: 480px) {
            width: 100%;
        }

        h1 {
            font-size: 70px;
            margin: 0px;
            @media screen and (max-width: 480px) {
                font-size: 30px;
            }
        }
    }
}
