@font-face {
  font-family: frutiger57;
  src: url("../font/Frutiger_57_Condensed.eot") format('eot'),
       url("../font/Frutiger_57_Condensed.otf") format('opentype');
}

@font-face {
  font-family: frutiger77;
  src: url("../font/Frutiger_77_Black_Condensed.eot") format('eot'),
       url("../font/Frutiger_77_Black_Condensed.otf") format('opentype');
}
