body {
    font-family: arial;
}
div.container {
    width: 1000px;
    @media screen and (max-width: 480px) {
        width: 100%;
    }
    margin: 30px auto;

    h1 {
        font-size: 70px;
        text-align: center;
        margin-bottom: 10px;
        color: #222;
        @media screen and (max-width: 480px) {
            font-size: 30px;
        }
    }
    p.description {
        font-size: 13px;
        text-align: center;
        margin-bottom: 30px;
    }
    p.subtitle {
        text-align: center;
        font-size: 20px;
    }
    div.input-section {
        text-align: center;
        margin: 10px;
        padding: 40px;
        @media screen and (max-width: 480px) {
            padding: 10px;
            margin: 20px;
        }
        background-color: #fafafa;
        border: solid 1px #f8f8f8;

        input, select{
            height: 40px;
            border: solid 1px #ddd;
            font-size: 20px;
            padding-left: 5px;
            margin-top: 10px;
        }
        input#comments {
            width: 70%;
        }
        input#email {
            width: 70%;
        }
        select#comment-select {
            width: 71%;
        }
        input#submit {
            width: 15%;
            margin-left: 10px;
            cursor: pointer;
            text-decoration: none;
            color: black;
            border: solid 1px #ddd;
            background-color: #E4E4E4;
            height: 44px;
        }
        @media screen and (min-width: 480px) {
            a:after {
                content: "Unsubscribe"
            }
        }
        @media screen and (max-width: 480px) {
            a:after {
                content: "Go"
            }
        }
    }
    div.about {
        margin-top: 50px;
        div img {
            width: 120px;
        }
        div.about-text {
            padding-top: 30px;
            color: #555;
            font-size: 12px;
            @media screen and (max-width: 480px) {
                padding-top: 0px;
            }
        }
    }
}
.inline {
    float: left;
    margin-right: 10px;
}
.inline.last {
    float: none;
    margin-left: 0px;
}
.success {
    color: green;
}

