    <div class="line response-data">
        <div class="line">
            <div class='unit size1of2'>
                <div class="unit">
                    {{#if (unbound (gt searchUser.activeFlags.length 5))}}
                        {{candidate-response-flagging-dropdown candidate=c rankField='broadbean_adcresponse_rank'}}
                    {{else}}
                        {{candidate-response-flagging candidate=c rankField='broadbean_adcresponse_rank'}}
                    {{/if}}
                </div>
                <div class="unit">
                    {{#if c.isGeneralSubmission}}
                      <p class="general-submission-info" title="{{__ "Details from General Submissions"}}">
                        <span>{{c.broadbean_adcresponse_general_submission_sector}}</span> |
                        <span>{{c.broadbean_adcresponse_general_submission_location}}</span> |
                        <span>{{c.broadbean_adcresponse_general_submission_jobtype}}</span>
                      </p>
                    {{else}}
                      <p class="jobtitle">
                        <strong>
                          <a target="_NEW" href="{{c.advert_preview_url}}" title="{{__ "view this advert"}}">{{c.broadbean_adcadvert_title}}</a>
                              {{isoDateToNiceDate c.broadbean_adcresponse_date searchUser.timezone}}
                        </strong>
                        <br>
                        <span class="application-source">{{c.applicationSource}}</span>
                      </p>
                    {{/if}}
                </div>
            </div>

            <div class='unit size1of2'>
                {{#if c.hasFlaggingHistory}}
                    <div class='unit response-history'>
                            <p>Application History: </p> {{candidate-flagging-history flagging_history=c.flagging_history}}
                    </div>
                {{/if}}
                {{my-folders candidate=c}}
            </div>
        </div>
    </div>
    {{#if showSnippet}}
        <div class="line response-snippet">
            <div class="line">
              <div class="unit size1of2">
                    {{textOrDefault "Job Title" c.broadbean_employer_org_job_title}}
                    {{textOrDefault "Employer" c.broadbean_employer_org_name}}
                    {{textOrDefault "Years at current employer" c.broadbean_employer_years}}
                    {{textOrDefault "Phone" c.phone}}
                    &nbsp;
                </div>
                    <div class="unit size1of2 lastUnit">
                        {{textOrDefault "City" c.city}}
                        {{textOrDefault "Country" c.country}}
                        {{#if c.education_list.length}}
                            <strong>{{__ "Education"}}</strong>
                            {{#slice-list list=c.education_list  as |list_element|}}
                                {{#if list_element.degree_name}}{{list_element.degree_name}}, {{/if}}
                                {{#if list_element.major_name}}{{list_element.major_name}}, {{else}}{{list_element.degree_code}}, {{/if}}
                                {{#if list_element.school_name}}{{list_element.school_name}}, {{/if}}
                                {{isoDateToShortDate list_element.graduation_date searchUser.timezone}}
                            {{/slice-list}}
                        {{else}}
                            {{textOrDefault "Education" ''}}
                        {{/if}}
                    </div>
            </div>
            <div class="line">
                <p>
                    <strong>{{__ "Current Role"}}:</strong>
                    {{#if c.current_position.description}}
                        {{trimString c.current_position.description 1500}}
                    {{else}}
                        <span><em class="font-grey">Not available</em></span>
                    {{/if}}
                </p>
            </div>
        </div>
    {{else}}
        <div class="line response-snippet">
            <div class="line">
              <div class="unit size1of2">
                    {{textOrDefault "Job Title" c.broadbean_employer_org_job_title}}
                    {{textOrDefault "Employer" c.broadbean_employer_org_name}}
                    {{textOrDefault "Years at current employer" c.broadbean_employer_years}}
                    &nbsp;
                </div>
                    <div class="unit size1of2 lastUnit">
                        {{textOrDefault "City" c.city}}
                        {{textOrDefault "Country" c.country}}
                    </div>
            </div>
        </div>
    {{/if}}
