    <div class="line">
        <div class="unit size1of2">
            {{textOrDefault "Address" c.address}}
            {{textOrDefault "City" c.city}}
            {{textOrDefault "Country" c.country}}
            {{textOrDefault "Phone" c.phone}}

            <br />
            {{textOrDefault "Employer" c.broadbean_employer_org_name}}
            {{textOrDefault "Job Title" c.broadbean_employer_org_job_title}}

            <strong>{{__ "Start Date"}}:</strong>
            {{#if c.current_position}}
                {{epoch2Date c.current_position.start_date_epoch searchUser.timezone}}
            {{else}}
                <em class="font-grey">Not available</em>
            {{/if}}
            <br />

            <strong>{{__ "End Date"}}:</strong>
            {{#if c.current_position}}
                {{epoch2Date c.current_position.end_date_epoch searchUser.timezone}}
            {{else}}
                <em class="font-grey">Not available</em>
            {{/if}}

            &nbsp;
        </div>
        <div class="unit size1of2 lastUnit">

            <strong>{{__ "Desired Salary"}}:</strong>
            {{#if c.broadbean_desired_salary_currency}}
                {{c.broadbean_desired_salary_currency}} {{c.broadbean_desired_salary_minimum}} - {{c.broadbean_desired_salary_range_top}} {{__ "Per"}} {{c.broadbean_desired_salary_pay_period}}
            {{else}}
                <em class="font-grey">Not available</em>
            {{/if}}
            <br />

            <strong>{{__ "Availability Date"}}:</strong>
            {{#if c.broadbean_applicant_availability_time}}
              {{isoDateToShortDate c.broadbean_applicant_availability_time 'UTC'}}
            {{else}}
              <em class="font-grey">Not available</em>
            {{/if}}
            <br />

            <p>
                {{textOrDefault "Original Source" c.broadbean_initial_source}}
                {{textOrDefault "Latest Source" c.broadbean_final_source}}
            </p>

            {{#if c.education_list.length}}
                <strong>{{__ "Education"}}:</strong>
                <ul>
                {{#each c.education_list as |education|}}
                    <li>
                        {{#if education.degree_name}}{{education.degree_name}}, {{/if}}
                        {{#if education.major_name}}{{education.major_name}}, {{else}}{{education.degree_code}}, {{/if}}
                        {{#if education.school_name}}{{education.school_name}}, {{/if}}
                        {{isoDateToShortDate education.graduation_date searchUser.timezone}}
                    </li>
                {{/each}}
                </ul>
            {{else}}
                {{textOrDefault "Education" ''}}
            {{/if}}
        </div>
    </div>
    <div class="line">
        <br />
        <p>{{textOrDefault "Skills" c.skills}}</p>
        {{textOrDefault "Job Description" c.current_position.description}}
    </div>
    <div class="line">
        {{#if c.highlight_cv.length}}
            <p class="result-text">
            {{#each c.highlight_cv as |highlight|}}
                {{handleHighlight c.highlight}}
            {{/each}}
            </p>
        {{else}}
            <p>{{trimString c.cv_text 250}}</p>
        {{/if}}
    </div>
