    <div class="line">
        <div class="unit size1of2">
            {{#if c.application_time}}<p><strong>{{__ "Application Time"}}:</strong> {{isoDateToNiceDate c.application_time searchUser.timezone}}</p>{{/if}}
            {{#if c.original_channel_id}}<p><strong>{{__ "Original Source"}}:</strong> {{c.original_channel_id}}</p>{{/if}}
            {{#if c.channel_id }}<p><strong>{{__ "Latest Source"}}:</strong> {{c.channel_id}}</p>{{/if}}
            {{#if c.address}}<p><strong>{{__ "Address"}}:</strong> {{c.address}}</p>{{/if}}
            {{#if c.telephone}}<p><strong>{{__ "Home"}}:</strong> <a href="tel:{{c.telephone}}">{{c.telephone}}</a></p>{{/if}}
            {{#if c.mobile}}<p><strong>{{__ "Mobile":}}</strong> <a href="tel:{{c.mobile}}">{{c.mobile}}</a></p>{{/if}}
            {{#if c.applicant_availability_date}}
                <p><strong>{{__ "Availability Date"}}:</strong>
                {{#if c.applicant_availability_date_epoch}}
                    {{epoch2Date c.applicant_availability_date_epoch 'UTC'}}
                {{else}}
                    {{c.applicant_availability_date}}
                {{/if}}
                </p>
            {{/if}}
            {{#if c.advert_job_type}}<p><strong>{{__ "Jobtype"}}:</strong> {{__b c.advert_job_type}}</p>{{/if}}

            <p><strong>{{__ "Rec. Status"}}:</strong> {{#if c.applicant_recruitment_status }}{{__b c.applicant_recruitment_status}}{{else}}{{__ "Available"}}{{/if}}</p>
        </div>
        <div class="unit size1of2 lastUnit">
            {{#if c.employer_org_name}}<p><strong>{{__ "Employer"}}:</strong> {{c.employer_org_name}}</p>{{/if}}

            {{#if c.employer_org_position_title}}<p class="result-text"><strong>{{__ "Job Title"}}:</strong></p>

              {{#if c.highlight_title.length}}
                {{#each c.highlight_title as |highlight|}}
                  {{handleHighlight highlight}}
                {{/each}}
              {{else}}
                 <p>{{c.employer_org_position_title}}</p>
              {{/if}}

            {{/if}}

            {{#if c.employer_org_position_start_date}}
                <p><strong>{{__ "Start Date"}}:</strong>
                {{#if c.employer_org_position_start_date_epoch}}
                    {{epoch2Date c.employer_org_position_start_date_epoch searchUser.timezone}}
                {{else}}
                    {{c.employer_org_position_start_date}}
                {{/if}}
                </p>
            {{/if}}
            {{#if c.employer_org_position_end_date}}
                <p><strong>{{__ "End Date"}}:</strong>
                {{#if c.employer_org_position_end_date_epoch}}
                    {{epoch2Date c.employer_org_position_end_date_epoch searchUser.timezone}}
                {{else}}
                    {{c.employer_org_position_end_date}}
                {{/if}}
                </p>
            {{/if}}
            {{#if c.advert_industry}}<p><strong>{{__ "Industry"}}:</strong> {{__b c.advert_industry}}</p>{{/if}}
            {{#if c.applicant_salary}}
                <p><strong>{{__ "Salary"}}:</strong> {{c.applicant_salary}}</p>
            {{else}}
                {{#if c.advert_salary}}<p><strong>{{__ "Advert Salary"}}:</strong> {{c.advert_salary}}</p>{{/if}}
            {{/if}}
        </div>
    </div>
    <div class="line">
    {{#if c.highlight_cv.length}}
        <p class="result-text">
        {{#each c.highlight_cv as |highlight|}}
            {{handleHighlight highlight}}
        {{/each}}
        </p>
    {{else}}
        <p>{{trimString c.cv_text 250}}</p>
    {{/if}}

    </div>
