<div class="line admin-section">
    <h3>{{__ 'Create a watchdog:'}}</h3>

    <p>{{__ 'Keywords:'}} <strong>{{criteria.keywords}}</strong></p>
    {{#if criteria.location}}
    <p>{{__ 'Location:'}} <strong>{{criteria.location}}</strong></p>
    {{/if}}

    {{#unless hasKeywords}}
    <div class="alert notice-info">
      <i class="icon-attention"></i>
      {{__ 'Warning: no keywords specified'}}
    </div>
    {{/unless}}

    <div class="hspacer"></div>

    <h4>{{__ 'Your Watchdog name:'}}</h4>

    <div class="hspacer"></div>

    <div class="line">
        <div class="unit size4of5">
            {{input classNames="text" value=watchdog.name placeholder=translations.placeholderNameYourWatchdog}}
        </div>
    </div>

    {{#if nameAlreadyExists}}
      <div class="alert notice-info">
        <i class="icon-attention"></i>
        {{__ "Warning: name already exists" }}
      </div>
    {{/if}}

    <div class="hspacer"></div>

    <h4>{{__ 'Select at least one board:'}}</h4>

    <div class="hspacer"></div>

    <ul class="board-selection">
      {{#each boards as |board|}}
         {{#unless board.isHidden}}
             <li {{action 'selectBoard' board}} class="{{if board.selected 'selected' ''}}">
               {{board.nice_name}}
             </li>
         {{/unless}}
      {{/each}}
    </ul>



    <div class="hspacer"></div>


    {{#if error}}
    <div class="alert alert-error">
      {{error.message}}
    </div>
    <div class="hspacer"></div>

    {{/if}}


    <button class="btn btn-info" disabled={{formInvalid}} {{action 'createWatchdog'}}>{{__ 'Create Watchdog'}}</button>
</div>
