<div class="line admin-section">
    <h3><i class="icon-cog"></i> {{__ 'Your Watchdog Settings'}}</h3>

    {{criteria-render criteria=watchdog.criteria}}

    <div class="hspacer"></div>

    <h4>{{__ 'Name:'}}</h4>

    <div class="hspacer"></div>

    <div class="line">
        <div class="unit size4of5">
            {{input classNames="text" value=watchdog.name placeholder=translations.placeholderNameYourWatchdog}}
        </div>
    </div>

    <div class="hspacer"></div>

    <h4>{{__ 'Active boards (select at least one):'}}</h4>

    <div class="hspacer"></div>

    <ul class="board-selection">
      {{#each boards as |board|}}
        {{#unless board.isHidden}}
          <li {{action 'selectBoard' board}} class="{{if board.selected 'selected' ''}}">
            {{board.nice_name}}
          </li>
        {{/unless}}
      {{/each}}
    </ul>



    <div class="hspacer"></div>


    {{#if error}}
    <div class="alert alert-error">
      {{error.message}}
    </div>
    <div class="hspacer"></div>

    {{/if}}

    <div class="alert alert-warning">
        {{__ 'Changes to a watchdog may reset any current "new result" alerts'}}
    </div>
    <div class="hspacer"></div>

    <button class="btn btn-info" disabled={{formInvalid}} {{action 'updateWatchdog'}}><i class="icon-floppy"></i> {{__ 'Save'}}</button>
</div>
