<div class="line admin-section">
    <h3>{{__ 'Watchdog Summary'}}</h3>
    {{#each model as |watchdog|}}
        <div class="line watchdog-section">
            <div class="line title">
                {{#link-to 'watchdogsview' watchdog.id title=translations.placeholderEditThisWatchdog}}<i class="icon-cog"></i>{{/link-to}}
                {{#link-to 'watchdogsview' watchdog.id title=translations.placeholderOpenThisWatchdog}}<span class="big">{{watchdog.name}}</span>{{/link-to}}
                {{#if watchdog.last_run_datetime}}- <span class="small">{{__ 'last run:'}} {{watchdog.last_run_datetime}}</span>{{/if}}
                <span class="pull-right small">
                    <a href="#" {{action 'unsaveWatchdog' watchdog}} title="{{translations.placeholderDeleteThisWatchdog}}"><i class="icon-trash-1"></i></a>
                </span>
            </div>
            <table>
                <tr>
                    <th>{{__ 'Destination'}}</th>
                    <th>{{__ 'New Results'}}</th>
                    <th style="width: 130px">{{__ 'Last Ran'}}</th>
                    <th>{{__ 'Status'}}</th>
                </tr>
                {{#each watchdog.boards as |board|}}
                    <tr>
                        <td>{{#link-to 'watchdogsview.board' watchdog board.name}}{{board.nice_name}}{{/link-to}}</td>
                        <td>{{formatInteger board.count}}</td>
                        {{#if board.last_run_datetime}}
                          <td>{{isoDateToNiceDate board.last_run_datetime searchUser.timezone}}</td>
                        {{else}}
                          <td>{{ __ 'Not ran yet'}}</td>
                        {{/if}}
                        <td>
                            {{#if board.last_run_datetime}}
                                <div class="watchdog-board-status {{if board.last_run_error 'alert-error' 'alert-success'}}">
                                    {{#if board.last_run_error}}{{board.last_run_error}}{{else}}OK{{/if}}
                                </div>
                            {{else}}
                                <div class="watchdog-board-status alert-info">
                                    {{__ 'Waiting to be initialised'}}
                                </div>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    {{/each}}
</div>
