@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66060386');
  src: url('../font/fontello.eot?66060386#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?66060386') format('woff2'),
       url('../font/fontello.woff?66060386') format('woff'),
       url('../font/fontello.ttf?66060386') format('truetype'),
       url('../font/fontello.svg?66060386#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66060386#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-profile-view:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e805'; } /* '' */
.icon-help-circled:before { content: '\e806'; } /* '' */
.icon-link-ext:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e808'; } /* '' */
.icon-forward:before { content: '\e809'; } /* '' */
.icon-attention:before { content: '\e80a'; } /* '' */
.icon-doc-text-inv:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-down-open:before { content: '\e80e'; } /* '' */
.icon-up-open:before { content: '\e80f'; } /* '' */
.icon-angle-down:before { content: '\e810'; } /* '' */
.icon-ccw:before { content: '\e811'; } /* '' */
.icon-history:before { content: '\e812'; } /* '' */
.icon-to-end:before { content: '\e813'; } /* '' */
.icon-to-start:before { content: '\e814'; } /* '' */
.icon-fast-fw:before { content: '\e815'; } /* '' */
.icon-fast-bw:before { content: '\e816'; } /* '' */
.icon-shortlist1:before { content: '\e817'; } /* '' */
.icon-floppy:before { content: '\e818'; } /* '' */
.icon-euro:before { content: '\e819'; } /* '' */
.icon-pound:before { content: '\e81a'; } /* '' */
.icon-dollar:before { content: '\e81b'; } /* '' */
.icon-sort-down:before { content: '\e81c'; } /* '' */
.icon-plus-1:before { content: '\e81d'; } /* '' */
.icon-minus-1:before { content: '\e81e'; } /* '' */
.icon-login-1:before { content: '\e81f'; } /* '' */
.icon-logout:before { content: '\e820'; } /* '' */
.icon-shortlist0:before { content: '\e821'; } /* '' */
.icon-gauge:before { content: '\e822'; } /* '' */
.icon-edit:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e824'; } /* '' */
.icon-trash-1:before { content: '\e825'; } /* '' */
.icon-mail:before { content: '\e826'; } /* '' */
.icon-flag-circled:before { content: '\e827'; } /* '' */
.icon-download:before { content: '\e828'; } /* '' */
.icon-shortlist2:before { content: '\e829'; } /* '' */
.icon-asterisk:before { content: '\e82a'; } /* '' */
.icon-clipboard:before { content: '\e82b'; } /* '' */
.icon-guidedog:before { content: '\e82c'; } /* '' */
.icon-location:before { content: '\e82d'; } /* '' */
.icon-star:before { content: '\e82e'; } /* '' */
.icon-user:before { content: '\e82f'; } /* '' */
.icon-left-open:before { content: '\e830'; } /* '' */
.icon-right-open:before { content: '\e831'; } /* '' */
.icon-linkedin-rect:before { content: '\e832'; } /* '' */
.icon-facebook-rect:before { content: '\e833'; } /* '' */
.icon-gplus-squared:before { content: '\e834'; } /* '' */
.icon-pinterest-squared:before { content: '\e835'; } /* '' */
.icon-stackexchange:before { content: '\e836'; } /* '' */
.icon-github-squared:before { content: '\e837'; } /* '' */
.icon-twitter-squared:before { content: '\e838'; } /* '' */
.icon-angellist:before { content: '\e839'; } /* '' */
.icon-xing-squared:before { content: '\e83a'; } /* '' */
.icon-viadeo:before { content: '\e83b'; } /* '' */
.icon-quora:before { content: '\e83c'; } /* '' */
.icon-youtube-squared:before { content: '\e83d'; } /* '' */
.icon-tumblr-squared:before { content: '\e83e'; } /* '' */
.icon-meetup:before { content: '\e83f'; } /* '' */
.icon-photo:before { content: '\e840'; } /* '' */
.icon-thumbs-up:before { content: '\e841'; } /* '' */
.icon-thumbs-down:before { content: '\e842'; } /* '' */
.icon-careerbuilder-logo:before { content: '\e843'; } /* '' */
.icon-folder-add:before { content: '\e844'; } /* '' */
.icon-vcard:before { content: '\e845'; } /* '' */
.icon-clock:before { content: '\e846'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */