div.admin-panel {
    background-color: #EFEFEF;
    padding: 10px 20px;
    min-height: 200px;

    h3 {
        margin-left: 10px;
    }
    div.admin-section {
        background-color: white;
        padding: 10px;
        border: solid 1px #DADADA;

        h3 {
            margin: 10px 0px;
        }


        ul.tags {
            border: solid 1px #DADADA;
            border-bottom: none;
            background-color: #EFEFEF;
            padding: 0px;
            margin: 0px;
            li {
                list-style: none;
                padding: 5px 10px;
                border-bottom: solid 1px #DADADA;
                span.pill {
                    float: none;
                    cursor: default;
                }
            }
        }
    }
    div.admin-navigation {
        ul {
            li {
                list-style: none;
                color: #0088cc;
            }
        }
    }
    a.active {
        color: #373A3F;
        cursor: default;
        font-weight: bold;
    }
    a.active:hover {
        color: #373A3F;
        text-decoration: none;
    }
}

input.tag-options-check {
    margin: 0px;
}

div.admin-flag-form, div.admin-update-flag-form {
    padding: 5px;

    input.flag-description {
        margin-top: 10px;
        height: 22px;
    }

    button {
        height: 31px;
    }
}

div.admin-add-flag-form {
    margin-bottom: 10px;
    border: solid 1px #DADADA;
    padding: 5px;

    p {
        margin: 0px;
        color: $theme-colour;
        font-weight: bold;
    }
}

div.new-flag-button {
    font-size: 14px;
    color: $theme-colour;
    margin-left: 10px;

    p {
        cursor: pointer;
    }
}
h4.flag-header {
    margin-bottom: 5px;
}

div.flag-table-container {
    border: solid 1px #DADADA;
    border-bottom: none;
    background-color: #EFEFEF;
    margin-bottom: 20px;

    div.flag-line {
        border-bottom: solid 1px #DADADA;
        padding: 5px;
        i.icon-flag-circled {
            font-size: 25px;
            margin-right: 5px;
        }
        div.flag-description {
            margin-top:5px;
        }
        p {
            float: left;
            margin: 5px 10px 0px 0px;
            cursor: pointer;
            color: $theme-colour;
        }
    }

}

div.email-template-rule{
    .select2-container{
        width: 200px;
    }
}