.advert-flavour-default {
    background-color: #007FC6;
    border: solid 1px #123456;
    color: white;
}
.advert-flavour-archived {
    background-color: #F17B00;
    border: solid 1px red;
    color: white;
}
.advert-flavour-general_submissions {
    background-color: green;
    border: solid 1px green;
    color: white;
}
