.alert {
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  margin: 10px;
  -webkit-box-shadow: 0px 3px 17px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 17px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.3);
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.notice-warning {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

.notice-info {
  background-color: #08c;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: none;
}


.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #C11B18;
  font-weight: bold;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
ul.alert-block {
    list-style-type: none;
}
