.badge-new {
    color: white !important;
    background-color: #51a351 !important;
}
.badge-old{
    color: white !important;
    background-color: #A3A4A6 !important;
}
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.board-badge {
    @extend .badge;
    position: absolute;
    top: -3px;
    left: -3px;
}
.badge:empty {
  display: none;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-danger {
  background-color: #b94a48;
}
.badge-danger[href] {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning[href] {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success[href] {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info[href] {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse[href] {
  background-color: #1a1a1a;
}
