// .ui-sortable-helper selects the job board currently being dragged
ul.board-selection li.ui-sortable-helper {
    background-color: lighten($theme-colour, 25%);
    opacity:          0.5;
}

// represents the space where the job board currently being dragged will be
// placed if dropped
ul.board-selection li.job-board-dropzone {
    border:     1px dashed #CCCCCC;
    box-shadow: none;
}