.back-to-top-container {
    position:         fixed;
    bottom:           1em;
    right:            1em;
    z-index: 16;
}
.global-status {
    text-decoration:  none;
    color:            #000;
    background-color: rgba(220, 220, 220, 0.75);
    font-size:        1.25em;
    padding:          5px;
    display:          inline-block;
    height:           30px;
    width:            30px;
    float:            left;
    margin-left:      5px;
}
.global-status.back-to-top {
    display:          none;
    cursor:           pointer;
}
.global-status.back-to-top:hover {
    background-color: rgba(180, 180, 180, 0.50);
    color:            #000;
    text-decoration:  none;
}
.global-status.current-actions {
    position: relative;
    img {
        height: 100%;
    }
    div.actions-count {
        position: absolute;
        right: 40px;
        top: 0px;
        text-align: center;
        vertical-align: middle;
        font-size: 15px;
        padding: 8px;
        white-space: nowrap;
        background-color: white;
        border: solid 3px rgba(220, 220, 220, 0.75);
        border-right: none;
    }
}
