div.candidate-chooser {
    border: solid 1px #D5D5D5;
    padding: 5px;
}
div.candidate-chooser > .candidate-pill {
    border: solid 1px green;
    background-color: #51a351;
    color: white;
}
ul.candidate-outcome {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.candidate-outcome > li {
    margin: 3px;
}
ul.candidate-outcome > li > span.outcome-symbol {
    border: solid 3px;
    border-radius: 30px;
    float: right;
    padding: 2px 6px;
    margin-top: -5px;
}
