.email-component {
    a {
        color: $theme-colour;
        transition: all 0.3s ease 0s;
        
        &:hover {
            color: #095d96;
            text-decoration: none;
        }
        
        &:focus {
            text-decoration: none;
        }
    }
    
    .pager {
        @include themeFont(12px, lighter);
        color: #888;
        line-height: 12px;
        padding-bottom: 5px;
        text-align: right;
    }
    
    .title {
        @include themeFont(14px, bolder);
        border-bottom: 1px solid #ccc;
        color: $theme-colour;
        line-height: 16px;
        margin: 0;
        padding: 0;
    }

    .emails {
        padding: 10px 0;
        
        .toggle-arrow-container {
            display: inline-block;
            float: left;
            padding-right: 5px;
            position: relative;
        }
        
        .email-history-header {
            @include themeFont(12px, lighter);
            color: #555;
            line-height: 14px;
            padding: 5px 0;
            
            a.toggle-arrow {
                padding-right: 5px;
            }
            
            .email-header-container {
                display: inline-block;
                float: left;
                position: relative;
                
                .email-from,
                .email-to,
                .email-subject {
                    @include themeFont(12px, bolder);
                    color: #777;
                }
            }
            
            &:last-of-type {
                border-bottom: 0;
            }
        }

        .email-history-body {
            iframe {
                border: 0;
                padding-top: 10px;
            }
        }
    }
}