body.exception {
    background-color: #f2dede;
    width: 100%;
    height: 100%;

    div.exception-body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            border: 0;
            left: -420px;
            height: 800px;
            opacity: 0.4;
            bottom: -200px;
            z-index: -1;
        }
        div.message {
            padding: 10%;
            h1 {
                font-size: 120px;
                line-height: 130px;
            }
            p {
                font-size: 20px;
                margin-left: 50px;
            }
        }
    }
}
