p.email-history-header {
    span:nth-child(even) { font-weight: 700; }
    span:nth-child(odd)  { margin-right: 10px; }

    span:nth-child(even)::after { content: ": " }

    a { color: #373A3F; }
}

p.messageBody {
    margin-bottom: 14px;
    padding:       6px;
    border:        0;
    display:       none;
    overflow-y:    auto;
    overflow-x:    hidden;
    background:    linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
                       rgba(236, 236, 236, 1) 100%);
                       
    iframe {
        a {
            word-wrap: break-word;
        }
    }
}
