h4#search-activity {
    font-size: 20px;
    color: #4caf51;
}


.facets {
    background-color: #fff;
    color: #888;
    border-bottom: 1px solid #ccc;
    overflow: hidden;

    &:last-child {
        border-bottom: none;
    }

    position: relative;

    .txt {
        width: 90%;
    }

    input, select {
        width: 95%;
    }

    .facet-option {
        font-size: 11px;
        margin-bottom: 0;
    }
    .facet-option > .label:hover {
        text-decoration: underline;
    }
    .facet-option.strong {
        border-left: solid 5px #cad6d0;
        padding-left: 19px !important;
        color: white;
    }
    .facet-option.radio-option.strong::before {
        margin-left: -7px;
        color: #cad6d0;
        margin-right: 5px;
    }
    .facet-option.vertical-check {
        padding-left: 25px;
        margin: 2px 0px;
    }
    .facet-input {
        float: right;
    }

    div.facet-group {
        margin-top: 5px;

        div.tag-group-label {
            cursor: default;
        }
        p {
            margin: 0px 4px;
        }
    }
    div.facet-group-label {
        padding-left: 9px;
        border: none;
        cursor: pointer;
    }

    h5 {
        cursor: pointer;
        margin: 10px;
    }

    div.facetExpand {
        background-color: #202126;
        padding: 1px 0px 0px 15px;
        input, select {
            margin: 4%;
            width: 84%;
            border: solid 1px #090a0f;
            box-shadow: 0px 2px 1px 1px #303135;
            border-radius: 2px;
            padding: 5px;
            font-size: 11px;
        }
        input {
            background-color: #12151c;
            color: #eeeeef;
        }
        select {
            width: 91%;
            height: 34px;
            overflow: hidden;
            padding-top: 3px;
        }
        a {
            color: $textFacet;
            margin-right: 3px;
        }
    }
    div.facet-search-group-box {
        input {
            margin: 0px;
            width: 80%;
        }
    }

    &.major_filter {
        margin-bottom: 20px;
        background: #1b75bb;
        color: #fff;

        h5:hover {
            color: #fff;
        }
    }
}

// Used inside .facetContainer, added/removed using stickyjs events.
// Keeps long facet lists scrollable when container becomes sticky.
.stickyFacetContainer {
    max-height: 95vh;
    overflow: auto;
}

.facetContainer {
    border-top: solid 1px #32353e;
    h4 {
        color: $theme-colour;
        text-align: center;
        padding: 5px 2px;
    }
}
.facetHeader {
    background: white;
    margin-bottom: 20px;

    ul {
        padding-left: 20px;
        li {
            a {
               color: #eeeee9;
               margin-left: 5px;
            }
            list-style: none;
            margin: 5px;
        }
    }
}

div.facets#adcresponses_broadbean_adcadvert_id,
div.facets#adcresponses_broadbean_adcresponse_rank {
    margin-bottom: 20px;
}

.facet-count {
    display: inline-block;
    margin-right: 2px;
}

.facet-search-box {
    position: fixed;
    width: 95%;
    padding: 0px 5px;
    left: 2%;
    overflow: auto;
    overflow-x: hidden;
    z-index: 200;

    div.facet-search-group-box {
        margin-bottom: 10px;
        background-color: $textFacet;
        border-radius: 5px;

        label {
            border-radius: 5px 5px 0px 0px;
            padding: 5px;
            cursor: default;
        }
        div.facet-group {
            margin: 5px 25px;
            color: #4B4B4B;
            border: none;
            .facet-block {
                cursor: pointer;
                margin: 3px 0px;
                &:hover {
                    color: #3366BB;
                }
            }
            .facet-block.is-checked {
                color: #08c;
                font-weight: bold;
            }
        }
    }

    div.facet-search-group-box.facet-search-filter {
        padding: 10px;
    }
}

div.search-icon-box {
     input.input-search {
        border-left: none !important;
        border-radius: 4px;
        padding: 5px 5px 5px 10px !important;
        width: 90% !important;
        text-indent: 28px;
     }
     i.icon-search {
        position: absolute;
        padding: 5px;
        border: solid 1px #cccccc;
        border-radius: 5px 0px 0px 5px;
        background-color: #eeeee9;
     }
}

label.facet-flag-option {
    display: inline-block;
    padding: 3px;
    border: solid 1px #ccc;
    margin-right: 4px;
    padding-top: 4px;
    cursor: pointer;
    min-width: 45px;

    &:hover {
        border: solid 1px #777;
    }

    &.selected {
        box-shadow: 0px 0px 4px #1b75bb;
        border: solid 1px #1b75bb;
    }
}

