.footer-s2 {
  color: #bbb;
  margin-top: 10px;
  padding: 10px $menuOffset;
  border-radius: 0px 0px $borderRadius $borderRadius;
}

.footer-twitter {
  background: url("/static/images/icon-twitter-footer.png");
  background-repeat: no-repeat;
  font-weight: bold;
  padding: 1px 0 0 20px;
}
