$headerHeight: 85px !default;
$headerBorderWidth: 1px !default;

.header-s2 {
    min-height: 9px;
    padding: 10px;
    .logo {
        margin: 10px 10px 10px 0px !important;
        clear: both;
    }
}
.logged-in-as {
    padding: 10px 10px 0px 0px;
    color: $textColor;
}
