/*
    for each history action, add an entry with given colour
    very sass
*/
$history_types: (message #9cd11f) (shortlist_adc_shortlist #4adda7) (shortlist_bullhorn_jobs #4adda7) (shortlist_bullhorn_tearsheets #4adda7) (note #8098c8)
                (candidate_tag_add #71a8eb) (import #eba8eb) (download #eba871) (profile #eb71a8) (update #71eba8) (note_delete #ff5e5e) (candidate_tag_delete #ff5e5e)
                (forward #c89880) (download_fail #ff5e5e) (profile_fail #ff5e5e) (longlist_add #98c880) (longlist_remove #ff5e5e) (message_fail #ff5e5e)
                (import_fail #ff5e5e) (forward_fail #ff5e5e);

@each $history_def in $history_types {
    $action: nth($history_def, 1);
    $colour: nth($history_def, 2);

    div.cand-history-#{$action}, h3.cand-history-#{$action} {
        border-color: $colour;
        color: $colour;
    }
}
