.sprite {
    background: url('/static/images/icons-separated25pxblack.png') no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.action-btn {
    padding: 5px 0px 9px;
    background: none;
    background-color: #DAD7D7;
    height: 15px;
    color: #575757 !important;
    width: 60px;
}

button.btn.action-btn{
    padding: 0px 0px;
    height: 30px;
}

.action-btn.action-success:hover {
    background-color: #36911A;
}

i.sprite-fontello{
    font-size: 1.2em;
}

.action-btn.action-success {
    background-image: none;
    background-color: #3DA21D;
    border: none;
    padding-bottom: 1px;
    color: white !important;
}

.action-btn i.sprite-fontello{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    color: #5A5C5E;
    display: inline-block;
}
.action-btn.action-success > .sprite-fontello{
   color: white;
}


.sprite.friend { background-position: 0px 0px; }
.sprite.profile { background-position: -25px 0px; }
.sprite.download { background-position: -50px 0px; }
.sprite.shortlist { background-position: -75px 0px; }
.sprite.message { background-position: -100px 0px; }
.sprite.save { background-position: -125px 0px; }
.sprite.tag { background-position: -150px 0px; }
.sprite.favourite { background-position: -175px 0px; }
.sprite.forward { background-position: -200px 0px; }
.sprite.pay-GBP { background-position: -225px 0px; }

.action-success {
    .sprite.friend { background-position: 0px -25px; }
    .sprite.profile { background-position: -25px -25px; }
    .sprite.download { background-position: -50px -25px; }
    .sprite.shortlist { background-position: -75px -25px; }
    .sprite.message { background-position: -100px -25px; }
    .sprite.save { background-position: -125px -25px; }
    .sprite.tag { background-position: -150px -25px; }
    .sprite.favourite { background-position: -175px -25px; }
    .sprite.forward { background-position: -200px -25px; }
    .sprite.pay-GBP { background-position: -225px -25px; }
}
