html, html body {
    height: 100%;
    min-height: 100%;
}

html>body {
    height: auto;
    min-height: 100%;
    margin: 0;
}

.layout-fixed {
  text-align: center;
  background: $bgGutter;

  .layout-inner {
    text-align: left;
    background: $bgPage;
  }
}

.layout-full {
  background: $bgPage;
  padding: 0 $componentSpacing $componentSpacing $componentSpacing;

  .layout-inner {
    width: 100%;
  }
}
