.menu-primary {
  padding-left: $componentSpacing;

  a {
    padding: 4px 5px 3px 5px;
    color: $textMainTab;
    border-bottom: none;
    text-decoration: none;
    border-radius: 3px 3px 0px 0px;
    font-size: 12px;

    &:hover {
      color: $textMainTab;
    }
  }

  .active {
    background: $textMainTab;
    border: 1px solid #D0D0D0;
    border-bottom: none;
    color: $bgMainTab;
  }
}

.menu-secondary {
  color: #A6A19B;

  a {
    color: #6C6D68;
    font-size: 12px;
    text-shadow: 1px 1px #CCCCCC;
    text-decoration: none;

    &:hover {
      color: #7EAD0C;
    }
  }
}

.menu-pill-header {
    height: 33px;
    padding-top: 15px;
    background-color: #2394f2;

    a {
        display: inline-block;
        padding: 15px;
        margin-top: -15px;
        line-height: 18px;
        height: 18px;
        color: #eeeee9;
        font-size: 12px;
        text-decoration: none;
        margin-right: 10px;

        &:hover, .active {
          color: white;
        }
    }
    a.active {
        background-color: #36a3ff;
    }
    .title-box {
        color: #eeeee9;
        span { 
            margin-left: 25px;
            font-size: 30px;
            font-weight: 100;
        }
    }
}

.menu-pill-header.top-nav {
    background-color: $bgPage;
    a {
        color: black;
    }
}
.menu-right {
  padding-right: $componentSpacing;
}

.menu-sliding-buttons {
}

/*
  1: .result left padding + left margin + left border width + .result-hd left padding
*/
.menu-sliding-buttons-left {
  float: left;
  padding-left: $componentSpacing + 0 + 1px + $componentSpacing; /* 1 */
}

header.bb-nav {
    img {
        width: 130px;
        margin: 5px 10px;
    }
    div.nav-links {
        margin-top: 21px;
        margin-bottom: 5px;
        height: 35px;
    }
    div {
        ul {
            padding-left: 20px;
            li {
                float: left;
                list-style: none;
                margin: 0px;

                a {
                    color: #4B4B4B;
                    padding: 0px;
                }
                a:hover {
                    color: #8cbd30;
                    text-decoration: none;
                }
            }
        }
    }
}
