div.messaging {
    background-color: white;
    padding: 10px;
    margin: 5px;
}
td.form-input > input,textarea {
    width: 98%;
}
td.form-input > textarea {
    height: 150px;
}
td.form-input > div > input {
    width: 98%;
}
div.messaging > table {
    width: 98%;
    border: none;
}
td.form {
    border: none;
}
td.form-label {
    text-align: right;
    font-weight: bold;
    padding-top: 0px;
}
td.form-label-textarea {
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}
td.form-input {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
}

input.message-subject{
    width: 98%;
}

textarea.message-content{
    height: 300px;
}

.select2-container{
    width: 100%;
}

.select2-drop{
   text-align: left;
}

input.bulk-check {
    margin: 0px;
}

span.select2-option-email-template-sent {
   color:orange;
   font-style: italic;
}