.add-to-folder {
    padding: 4px 4px;
    margin-right: 8px;
}

.assigned-folders {
    margin-right: 5px;
}

.assigned-folders ul {
    display: inline;
    padding: 0;
    li {
        list-style-type: none;
        float: right;
        padding: 5px;
        margin: 5px 2px;
        border: 1px solid #aaa;
        border-radius: 3px;
        line-height: 13px;
        color: #333;
        background-color: #e4e4e4;
        span {      /* the [x] button */
            cursor: pointer;
            padding: 5px 3px 5px 5px;
            font-weight: bold;
        }
    }
}
.assigned-folders:after {
    content: "";
    display: block;
    clear: both;
}

/* regrettably necessary to align it with Ember's input helper */
.add-folder-container button {
    margin-bottom: 9px;
}