
$pagerSpacing: 3px !default;

.pager {
  ul {
    text-align: center;
    margin: 0;
    margin-left: -20px;
    float: right;
    margin-right: 2px;
  }
  li {
    cursor: pointer;
    display: inline-block;
    margin: 0 $pagerSpacing 0 0;
    padding: 3px 6px;
    font-weight: bold;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 4px;
  }
  li:hover, a:focus {
    background: #f0f0f0;
    border-color: #ccc;
  }
  li.selected {
    background: #08c;
    border-color: #ddd;
    color: white;
  }
  li.page-num-disabled {
    background-color: grey;
    border: none;
    color: white;
    padding: 3px 2px;
    cursor: default;
  }
}
div#stickybanner {
    height: 30px;
    padding: 5px 0px 5px 0px;
    background-color: $bgBody;
    z-index: 10;
    width: 100%;
    min-width: 800px;

    h4 {
        color: white;
        padding: 5px 15px;
    }

    button {
        height: 28px;
    }
    a div.page-num {
        height: 20px;
        padding: 4px;
        font-size: 17px;
        margin-left: 5px;
        background-color: white;
    }
    div.page-numbers {
        float:right;
    }
    a div.page-num.selected {
        background-color: blue;
        color: white;
    }

    div input {
        margin-right: 5px;
    }
}



.pager-right {
  float: right;
}
