$group_border: solid 1px #ddd;

div.previous-search-container {
    margin-top: 11px;
    div.previous-searches {
        margin: 5px 0px;
        div.line {
            cursor: pointer;
        }
        div.search-row {
            border: $group_border;
            border-bottom: none;
            div.title {
                background-color: #376cc9;
                padding: 3px 5px;
                color: #eeeeef;

                span.title {
                    font-size: 14px;
                    font-weight: bold;
                }
                div > a.btn {
                    padding: 0px 5px;
                }
            }
            div.criteria {
                padding: 10px;
            }
        }
        div.group-divider {
            border-top: $group_border;
            height: 20px;
        }
        div.more-criteria {
            padding: 0px 10px;
            max-height: 0px;
            transition: max-height 0.3s ease-out;
            overflow: hidden;
        }
        div.more-criteria.expanded {
            padding: 0px 10px;
            max-height: 300px;
            transition: max-height 0.5s ease-in;
        }
    }
}
div.go-back {
    padding-left: 10px;
}
div.previous-searches-facets {
    margin-top: 10px;

    div.facet-container {
        margin: 5px;
        padding: 5px;
        ul {
            padding-left: 0px;
            li {
                list-style-type: none;
                a.active {
                    color: green;
                    cursor: pointer;
                }
            }
        }
    }
}
