.darkness {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 150;
}

.profile-box {
    background: $white;
    border: 10px solid rgba(0, 0, 0, 0.5);
    width: 95%;
    z-index: 200;

    left: 0;
    margin: 20px auto;
    position: absolute;
    right: 0;

    .profile-container {
        background: $white;
        border: 4px solid #ccc;
    }

    .loading-candidate-data,
    .no-emails-found {
        @include themeFont(24px, lighter);
        color: $theme-colour;
        line-height: 24px;
        text-align: center;
    }

    .gray-dotted-border-bottom {
        border-bottom: 1px dotted #ccc;
    }

    .profile-controls {
        @include flexbox-display-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        height: 7%;
        overflow: hidden;

        .profile-navigation {

            .prev-next-container,
            .close-container {
                box-sizing: border-box;
                display: inline-block;
                float: left;
                position: relative;

                .navigation-btn {
                    color: $theme-colour;
                    transition: all 0.2s ease 0s;

                    &:hover {
                        color: #095d96;
                    }

                    &.nav-disabled {
                        color: #555;
                        opacity: 0.3;
                    }
                }
            }

            .prev-next-container {
                width: 85%;

                .navigation-text {
                    @include themeFont(14px, bolder);
                    color: $theme-colour;
                    line-height: 14px;
                }
            }

            .close-container {
                border-left: 1px solid #ccc;
                padding-left: 10px;
                text-align: center;
                width: 15%;
            }
        }
    }

    h4 {
        color: $theme-colour;
        @include themeFont( 23px, lighter );
        margin: 20px 0 0;
    }

    .profile-container .profile-content {
        box-sizing: border-box;
        position: relative;
        height: inherit;

        /*  Perfect Scrollbar customisations/overrides;
            Always display the scrollbar over profile content
            to indicate the section is scrollable when hovered.
        */
        &:hover {
            .ps-scrollbar-y-rail {
                display: block !important;
                opacity: 0.6 !important;

                .ps-scrollbar-y {
                    min-height: 100px !important;
                }
            }
        }

        .profile-actions-panel{
            max-height: 100%;
            position: relative;

            .inline-form {
                border-bottom: 1px solid #ccc;
                padding: 20px;
            }
        }

        .profile-tabs {
            @include flexbox-display-flex;
            align-items: center;
            background: $white;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            height: 7%;
            justify-content: center;
            overflow: hidden;
            padding-top: 10px;

            ul.profile-tabs-list {
                list-style-type: none;
                margin: 0;
                padding: 0;
                text-align: center;

                li.tab-link {
                    @include themeFont ( 16px, lighter );
                    border-bottom: 3px solid transparent;
                    color: #999;
                    cursor: pointer;
                    display: inline-block;
                    line-height: 16px;
                    padding: 5px 20px;
                    position: relative;
                    transition: all 0.2s ease 0s;

                    &.selected {
                        color: $theme-colour;
                    }

                    &:hover {
                        color: $theme-colour;
                    }
                }
            }
        }

        h4.adcresponses-header {
            background-color: #f0f0f0;
            padding: 20px 50px 10px 10px;
            width: 100%;
            margin-left: -30px;
            margin-bottom: 22px;
            font-size: 30px;

            &#applicationMessageHeader {
                cursor: pointer;
            }
        }

        .profile-content {
            box-sizing: border-box;
            height: 93%;
            padding: 30px;

            iframe.pdfjs_viewer {
                width: 100%;
                height: 30cm;
                border: 0;
            }

            .history-cards {
                .history-card {
                    border-bottom: 1px solid #ccc;
                    padding: 15px 0;
                    position: relative;

                    p {
                        color: #555;
                        padding: 10px 0;
                    }

                    h3.history-card-header {
                        @include themeFont(23px, lighter);
                        line-height: 23px;

                        .history-date {
                            float: right;
                            font-size: 12px;
                        }
                    }

                    .history-meta {
                        @include themeFont(11px, lighter);
                        color: #888;
                        overflow: hidden;

                        .actor {
                            @include themeFont(11px, lighter);
                            float: right;

                            .actor-name {
                                @include themeFont(11px, bolder);
                                line-height: 11px;
                            }
                        }
                    }

                    .email-history-header {
                        color: #888;
                        padding: 5px 0;

                        .toggle-arrow-container {
                            display: inline-block;
                            position: relative;

                            a.toggle-arrow {
                                color: $theme-colour;
                                transition: all 0.3s ease 0s;

                                &:hover {
                                    color: #095d96;
                                    text-decoration: none;
                                }

                                &:focus {
                                    text-decoration: none;
                                }
                            }
                        }

                        .email-header-container {
                            display: inline-block;
                            position: relative;

                            .email-subject-label {
                                @include themeFont(13px, lighter);
                                line-height: 13px;
                            }
                            .email-subject {
                                @include themeFont(12px, bolder);
                                line-height: 12px;
                            }
                        }
                    }

                    .email-history-body {
                        iframe {
                            border: 0;
                            padding-top: 10px;
                        }
                    }

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    .history-container {
        border-right: 1px solid #ccc;
        box-sizing: border-box;
        height: inherit;

        .contact-details {
            @include themeFont( null, lighter );
            background: #fafafa;
            border-bottom: solid 1px #ccc;
            box-sizing: border-box;
            color: $theme-colour;
            height: 20%;
            overflow: hidden;
            padding: 20px;
            position: relative;
            text-align: center;

            h2.contact-name {
                @include truncate-text;
                font-size: 20px;
                line-height: 22px;
                padding-bottom: 5px;
            }

            h3.contact-headline {
                @include themeFont( 14px, bolder );
                @include truncate-text;
                line-height: 16px;
                padding-bottom: 5px;
            }

            .contact-location,
            .contact-phone,
            .contact-email {
                @include truncate-text;
                font-size: 13px;
                line-height: 15px;
                padding-bottom: 5px;

                i {
                    font-size: 13px;
                    position: relative;
                    left: 2px;
                }
            }

            a {
                transition: all 0.3s ease 0s;

                &:hover,
                &:focus {
                    color: #095d96;
                    outline: 0;
                    text-decoration: none;
                }
            }
        }

        .history-content {
            box-sizing: border-box;
            height: 80%;
            position: relative;
            text-align: center;

            h4.history-content-header {
                font-size: 18px;
                line-height: 20px;
                margin: 0;
                padding: 20px 0 5px;
                text-align: center;
            }

            h5.date-label {
                @include themeFont( 13px, lighter );
                background: $white;
                color: #bdbdbd;
                line-height: 15px;
                padding: 10px 15px;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                z-index: 1;

                span {
                    background-color: $white;
                    padding: 0 10px;
                }

                small {
                    color: #bdbdbd;
                }

                &:before {
                    border-top: 2px solid #bdbdbd;
                    content: "";
                    margin: 0 auto;
                    position: absolute;
                    top: 45%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 85%;
                    z-index: -1;
                }
            }

            ul.recent-activity-list {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li.list-item {
                    border-bottom: 1px solid transparent;
                    border-top: 1px solid transparent;
                    cursor: pointer;
                    padding: 10px 15px;
                    transition: all 0.2s ease 0s;

                    .circle-outer {
                        display: inline-block;
                        float: left;
                        padding: 1px 0;
                        position: relative;
                        width: 20%;

                        .circle-inner {
                            background: $white;
                            border-radius: 50%;
                            border-style: solid;
                            border-width: 2px;
                            display: table;
                            height: 35px;
                            text-align: center;
                            width: 35px;

                            i {
                                display: table-cell;
                                font-size: 18px;
                                line-height: 18px;
                                vertical-align: middle;
                            }
                        }
                    }

                    .information-container {
                        box-sizing: border-box;
                        display: inline-block;
                        padding-left: 10px;
                        position: relative;
                        text-align: left;
                        width: 80%;

                        .cand-history-text {
                            @include themeFont( 14px, lighter );
                            @include truncate-text;
                            line-height: 14px;
                        }

                        .history-actor,
                        .history-date,
                        .history-data {
                            @include themeFont( 12px, lighter );
                            color: #888;
                            line-height: 14px;
                        }
                    }

                    &:hover {
                        background: #fafafa;
                        border-color: #bdbdbd;
                    }
                }
            }
        }
    }

    .profile-details {
        border-left: 1px solid #ccc;
        box-sizing: border-box;
        height: inherit;

        .candidate-actions {
            @include flexbox-display-flex;
            align-items: center;
            background: #fafafa;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            height: 20%;
            justify-content: center;
            min-height: 150px;
            overflow: hidden;
            padding: 20px;
            position: relative;
            z-index: 1;

            .candidate-action-btn {
                background: $theme-colour;
                border-radius: 50%;
                color: $white;
                cursor: pointer;
                display: inline-block;
                height: 40px;
                margin: 2.5px;
                opacity: 0.4;
                position: relative;
                transition: all 0.2s ease 0s;
                width: 40px;

                .candidate-action-btn-inner {
                    @include flexbox-display-flex;
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                }

                &:hover {
                    background: #095d96;
                    opacity: 1.0;
                }

                &.success {
                    opacity: 0.9;

                    &:hover {
                        background: #095d96;
                        opacity: 1.0;
                    }
                }
            }
        }

        .profile-details-content {
            box-sizing: border-box;
            height: 73%;
            position: relative;
            top: -1px;

            h4.section-header {
                @include themeFont( 14px, lighter );
                background: $white;
                border-bottom: 1px solid #ccc;
                border-top: 1px solid #ccc;
                color: #888;
                line-height: 16px;
                margin: 0;
                padding: 7px 0 3px;
                text-align: center;
            }

            .application-history {
                ul.application-history-list {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li.application-item {
                        border-bottom: 1px solid #ccc;
                        margin: 5px 10px;
                        padding: 7px 0 3px;

                        .application-info-container {
                            padding-bottom: 5px;

                            .application-toggle-attachments {
                                color: $theme-colour;
                                cursor: pointer;
                                float: left;
                                font-size: 12px;
                                line-height: 12px;
                                position: relative;
                                top: 1px;
                            }

                            .application-job-title-date-container {
                                display: inline-block;
                                float: left;
                                padding: 0 10px;
                                position: relative;
                                width: 75%;

                                .application-job-title {
                                    @include themeFont ( 12px, lighter );
                                    @include truncate-text;
                                    color: $theme-colour;
                                    line-height: 12px;
                                    padding-bottom: 3px;
                                }

                                .application-date {
                                    @include themeFont ( 10px, lighter );
                                    @include truncate-text;
                                    color: #888;
                                    line-height: 10px;
                                }
                            }

                            .application-rank-container {
                                display: inline-block;
                                float: left;
                                position: relative;

                                i {
                                    position: relative;
                                    top: -2px;
                                }
                            }
                        }

                        .application-attachments {
                            ul.application-list {
                                list-style-type: none;
                                margin: 0;
                                padding: 0;

                                li.application-list-item {
                                    @include truncate-text;
                                    color: $theme-colour;
                                    padding: 2.5px 0;

                                    a {
                                        color: $theme-colour;
                                        transition: all 0.2s ease 0s;

                                        &:hover {
                                            color: #095d96;
                                        }
                                    }
                                }

                                li.application-attachments-unavailable {
                                    @include themeFont(12px, lighter);
                                    line-height: 12px;
                                    text-align: center;
                                }
                            }
                        }

                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }
                }

                .no-application-history {
                    @include themeFont(12px, lighter);
                    color: #555;
                    line-height: 12px;
                    padding: 12px 0 8px;
                    text-align: center;
                }
            }

            .details {
                padding: 7px 0;

                .details-row {
                    padding: 5px 10px;

                    .label {
                        @include themeFont( 10px, lighter );
                        color: #555;
                        line-height: 10px;
                        padding-bottom: 2px;
                    }

                    .label-value {
                        @include themeFont( 12px, lighter );
                        color: $theme-colour;
                        line-height: 14px;

                        input, select {
                            @include themeFont( 12px, lighter );
                            border: 1px solid #888;
                            border-radius: 2px;
                            box-sizing: border-box;
                            color: $theme-colour;
                            height: 24px;
                            line-height: 14px;
                            margin: 0;
                            padding: 5px 5px 3px;
                            width: 100%;
                        }

                        .salary-container {
                            .currency,
                            .salary-low,
                            .salary-low-high,
                            .salary-high {
                                display: inline-block;
                                float: left;
                                margin-bottom: 5px;
                                position: relative;
                            }

                            .currency {
                                width: 26%;
                            }

                            .salary-low-high {
                                padding-top: 5px;
                                text-align: center;
                                width: 10%;
                            }

                            .salary-low,
                            .salary-high {
                                width: 32%;
                            }
                        }
                    }
                }
            }

            .candidate-tags {
                position: relative;

                .add-tags {
                    @include themeFont( 12px, lighter );
                    background-color: $theme-colour;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                    color: $white;
                    cursor: pointer;
                    font-weight: bold;
                    line-height: 12px;
                    padding: 10px 0;
                    text-align: center;
                    transition: all 0.2s ease 0s;

                    &:hover {
                        background-color: #095d96;
                    }
                }

                ul.candidate-tags-list {
                    padding: 15px 0;
                    text-align: center;

                    li.profile.pill.tag-flavour-default {
                        border-radius: 2px;
                        display: inline-block;
                        float: none;
                        white-space: nowrap;

                        label {
                            @include themeFont( 12px, lighter );
                            line-height: 12px;
                        }
                    }
                }
            }
        }

        .notes {
            padding: 10px;
            position: relative;

            textarea {
                box-sizing: border-box;
                height: 50px;
                padding: 5px;
                width: 100%;
            }

            .btn {
                @include themeFont( 12px, lighter );
                background: $theme-colour;
                border: 0;
                border-radius: 3px;
                color: $white;
                line-height: 12px;
                padding: 7px 10px 5px;
                text-shadow: none;
                transition: all 0.3s ease 0s;

                &:hover {
                    background: #095d96;
                    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
                }

                &:focus {
                    outline: 0;
                }
            }

            .dropdown {
                .dropdown-panel {
                    max-width: 86% !important;
                    padding: 12px 10px 8px;
                    text-align: center;

                    a {
                        font-size: 18px;
                        line-height: 18px;
                        padding: 0 5px;
                    }
                }
            }

            ul.notes-list {
                list-style-type: none;
                margin: 0;
                padding: 10px 0 0;

                li.note {
                    background: #fafafa;
                    border-bottom: 1px solid #ccc;
                    padding: 7px;

                    .note-details,
                    .note-delete {
                        display: inline-block;
                        float: left;
                        position: relative;
                    }

                    .note-details {
                        width: 85%;

                        .note-content {
                            @include themeFont( 12px, lighter );
                            line-height: 14px;
                            padding-bottom: 10px;
                        }

                        .note-author {
                            @include themeFont( 11px, bolder );
                            @include truncate-text;
                            color: $theme-colour;
                            line-height: 11px;
                        }

                        .note-date {
                            color: #555;
                            font-size: 10px;
                            line-height: 10px;
                        }
                    }

                    .note-delete {
                        text-align: center;
                        width: 15%;

                        a {
                            color: $theme-colour;
                            transition: all 0.2s ease 0s;

                            &:hover {
                                color: #095d96;
                            }
                        }
                    }

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }
        }

        .social-buttons {
            padding: 20px 0;
            text-align: center;
        }

        .office-box {
            .delete-candidate-button {
                padding: 10px 0;
                text-align: center;
            }
        }
    }
}
