span.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

div.drop-down {
    padding: 5px;
}

button.quota-submit {
    margin-top: 20px;
    margin-left: 20px;
}

div.quota-row {
    @extend div.settings-row;

    input {
        float: none;
        width: 100px;
    }

    .row-label {
        font-weight: bold;

        span {
            margin-left: 2px;
        }
    }
}

div.quota-headers {
    @extend div.quota-row;
    height: 20px;
}

div.quota-row.error {
    border: solid 2px rgba(255, 50, 50, 1);
}

div.line.reset-settings {
    margin-top: 35px;
    background-color: rgb(229, 229, 229);
    padding: 10px;

    select {
        margin: 0;
    }
}

h4.quota-description {
    margin-top: 30px;
    margin-left: 20px;
}

.quota-bar {
    margin-bottom: 24px;
    width: 35%;
    font-size: 16px;
    z-index: 99999999;
    background-color: #f5f5f5;
    border: thin solid #DBDBDB;
}

.quota-bar > div {
    padding: 0.44em 1em;
}

.quota-success {
    color: #468847;
}

.quota-warning {
    color: #f90;
}

.quota-danger {
    color: #C11B18;
}

.quota-info {
    color: #3a87ad;
}
