div.line.response-data {
    border-bottom: solid 1px rgb(215, 215, 215);
    margin-bottom: 5px;
    div.ranking-flags {
        margin: 3px 0px 10px 0px;
        padding-left: 10px;
        i {
            font-size: 20px;
            cursor: pointer;
        }
        div.select2-container {
            width: 200px;
        }
    }
    p.jobtitle {
        strong {
            margin-left: 10px;
        }
    }
    .application-source {
        margin-left: 10px;
    }
    p.general-submission-info {
        margin: 4px 9px;
    }

    div.my-folders{
        min-width: 150px;
        position: relative;
        top: 1px;
    }
}

div.select2-flags-dropdown {
    width: auto !important; // I'm sorry
    min-width: 200px;
}

div.advert-chooser {
    div.select2-container {
        width: 90%;
        ul.select2-choices {
            border-radius: 5px;
            border: 1px solid rgb(204, 204, 204);
            li {
                height: 18px;
                input {
                    height: 15px;
                }
            }
            li.select2-search-choice {
                padding: 1px 5px 1px 18px !important;
                margin: 2px 0px 2px 5px !important;
                line-height: 18px !important;
            }
        }
    }
}
div.responses-check-line {
    margin-top: 10px;
}
input.snippet-check {
    margin-left: 20px;
}
div.adcresponses-profile-flagging {
    text-align: center;
    padding: 10px;
    div {
        font-size: 20px;
        i {
            cursor: pointer;
        }
    }
}

span.response-control-text {
    color: #4caf49;
}

div.response-history {
    padding-top: 5px;

    p {
        margin-bottom: 1px;
        float: left;

        padding-top: 6px

    }
    div.flag-history {
        float: left;
    }
}
