.result-h4 {
    margin: 3px 0px 3px;
    color: #456C01;
}

.result {
    background: white;
    border: 1px solid #CCCCCC;
    border-radius: $borderRadius;
    margin: 0 0 $componentSpacing 0;

    table {
        border: none;
        td {
            border: none;
            padding-left: 0px;
        }
    }

    .inline-action{
        margin-top: 10px;
        padding: 10px 10px 0px 10px;
        border-top: solid 1px lightGray;
       -webkit-box-shadow: 0px -5px 48px -5px rgba(0,0,0,0.2);
       -moz-box-shadow: 0px -5px 48px -5px rgba(0,0,0,0.2);
       box-shadow: 0px -5px 48px -5px rgba(0,0,0,0.2);
    }
}

.longlist-indicator{
    .opened-watchdog{
        padding-top: 3px;
        padding-bottom: 3px;
        position: relative;
        right: -2px;
        background-color: #6F6F6F;
    } 
}

.shadow-right{
-webkit-box-shadow: -3px 3px 20px -5px rgba(0,0,0,0.6);
-moz-box-shadow: -3px 3px 20px -5px rgba(0,0,0,0.6);
box-shadow: -3px 3px 20px -5px rgba(0,0,0,0.6);
}

.result-deleted {
    color: white;
    background-color: gray;
    padding: 20px;
    line-height: 4ex;
    font-size: 1.4em;
    text-align: center;
}

input.candidate-check {
    margin: 6px 5px 0px;
}
/*
   Trying to vertically align the checkbox that is within a label
   1: vertical-align: bottom is consistent across browsers
   2: star hack to target IE6 and 7 to hide the extra spacing it adds
   3: will need changing depending on the line height
 */
.vertical-check {
  display: block;
  padding-left: 15px;
  text-indent: -15px;

  input {
    $textLineHeight: 18px;
    $checkboxHeight: 13px;

    padding: 0;
    margin: 0;
    vertical-align: bottom; /* 1 */
    position: relative;
    top: ceil(($textLineHeight - $checkboxHeight) / 2); /* 3 */
    *overflow: hidden; /* 2 */
    width: $checkboxHeight;       /* 2 */
    height: $checkboxHeight;      /* 2 */
  }
}

/* TODO, sort this mess out! */
.facet-option.vertical-check {
  padding: 3px 3px 3px 18px;

  input {
    top: -1px;
  }
}

.result-check {
  float: left;
  padding-right: $componentSpacing*2;
}

.head-details {
    float: left;
}
.head-details > h4 > span {
    cursor: pointer;
}
.head-container.unviewed {
    .head-details > h4 > span {
        color: white;
    }
}
.head-container.brand-new {
    position: relative;
    background-image: url('/static/images/new-banner.png');
    background-repeat: no-repeat;
    background-position-x: 0px;
}
.result-bd {
    padding: $componentSpacing;

    em {
        background: #FFFFA9;
    }
}
td.indent {
    width: 80px;
    vertical-align: text-top;
}

div.head-container {
    overflow: hidden;
    background: none repeat scroll 0 0 #EFFBFF;
    padding: 5px 4px;
    border-radius: 5px 5px 0px 0px;
}
div.result-body, div.controls {
    padding: 5px;
}
div.head-container.selected {
    background-color: #BCD9E2;
}

/* Spinner */

.spinner {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: 60px;
  background-color: #e8e8e8;
  border-radius: 15px;
  padding: 5px;
  left: 52%;
}

.spinner-img {
  width: 50px;
  height: 50px;
}

p.result-text em, .profile-content em {
    background-color: yellow;
}

div.flag-history {
    i.icon-flag-circled {
        font-size: 15px;
    }
    margin: 5px 10px 0px;
}
