ul.saved-searches-list {
    list-style-type:none;
    margin:0;
    padding:0;
}

.saved-searches-list li {
    border-bottom: 1px dashed #ccc;
    padding: 5px;
    cursor: pointer;
    color: #0088CC;
}

.saved-searches-list li img {
    margin-left: 5px;
}

h4.saved-search-header {
    font-size: 11px;
}

.saved-searches-section {
    border-top: solid 1px #ccc;
    margin-bottom: 15px;
    .title {
        background-color: #edf5e8;
        padding: 5px;
    }
    table {
        border: none;
        margin-left: 10px;
        tr {
            th {
                font-size: 11px;
            }
            th, td {
                padding: 5px;
                border: none;
                padding-right: 30px;
            }
        }
    }
}
