@mixin chart-background {
    background-image: url(/images/reports-table-bg-1.png);
    background-repeat: no-repeat;
    background-position: right top;
}

@mixin first-row-shadow {
    background-image: linear-gradient(
        180deg,
        rgba(102, 102, 102, 0.35),
        rgba(204, 204, 204, 0.33) 20%,
        rgba(255, 255, 255, 0)
    );
}


table.data-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 100%;
    border: 1px solid #ddd;
    @include chart-background;

    thead {
        th {
            background-color: $theme-colour;
            background-image: linear-gradient($theme-colour, #3B95DB);
            color: white;
            padding: 8px;
            text-align: center;
            border: 1px solid #ddd;
            border-bottom: 1px solid #bbb;
        }
    }

    tbody {
        tr:first-child {
            @include first-row-shadow;
        }

        tr {
            background-image: linear-gradient(
                rgba(238, 238, 238, 0.5), rgba(255, 255, 255, 0.5)
            );
        }

        tr:last-child {    /* the Totals row */
            background-image: linear-gradient(
                rgba(255, 255, 221, 0.66), rgba(238, 238, 221, 0.66)
            );
            font-weight: bold;
        }

        tr:last-child:hover {
            background-color: linear-gradient(
                rgba(238, 238, 204, 0.5), rgba(221, 221, 204, 0.5)
            );
        }

        td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: center;
        }
        td:nth-child(-n+2) {
            text-align: left;
        }
    }
}

section.dated-actions {
    h4.dated-action-header {
        color: white;
        background-image:
            linear-gradient(90deg, $theme-colour, $theme-colour 80%, #fff);
        margin-bottom: 8px;
        padding: 4px 0px 2px 6px;
    }
}

section.dated-actions table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin: 12px auto 28px 16px;
    width: 90%;
    box-shadow: 2px 2px 2px #BBB;
    @include chart-background;

    thead {
        th {
            background-color: #6F6F6F;
            color: white;
            border: 1px solid #6F6F6F;
            border-right: 1px solid #fff;
            padding: 6px;
            text-align: left;
        }
        :last-of-type {
            border-right: 1px solid #6F6F6F;
        }
    }

    tbody {
        tr:first-child {
            @include first-row-shadow;
        }
        tr:nth-child(even) {
            background-color: rgba(235, 235, 235, 0.5);
            /*background-color: #f5f5f5;*/
        }
        tr:nth-child(odd) {
            background-color: rgba(255, 255, 255, 0.5);
            /*background-color: #fff;*/
        }

        td {
            padding: 6px;
            border: 1px solid #ddd;
        }
    }
}

p.reports-footer {
    border-top: 1px dashed #ddd;
    margin-top: 12px;
    padding:    10px 0;

    a.btn:first-child {
        margin-right: 4px;
    }
}