div.settings-radio-group {
    div {
        float: left;
        padding: 5px;
        border: solid 1px;
        border-left: none;
        border-right: none;
    }
    div.settings-radio-off.active {
        background-color: red;
        border-right: solid 1px;
    }
    div.settings-radio-on.active {
        background-color: green;
        border-left: solid 1px;
    }
    div.settings-radio-maybe.active {
        background-color: yellow;
    }
}

// http://www.cssflow.com/snippets/simple-toggle-switch
div.settings-toggle {
    div.toggle-switch {
        border-radius: 10px;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 18px;
        height: 18px;
        background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
        transition: left 0.15s ease-out;
    }
    span.toggle-label {
        position: relative;
        display: block;
        height: inherit;
        font-size: 10px;
        text-transform: uppercase;
        background: #c75454;
        border-radius: inherit;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
        transition: 0.15s ease-out;
        transition-property: opacity background;
        span.toggle-label-on {
            position: absolute;
            left: 11px;
            top: 1px;
            color: white;
            display: none;
        }
        span.toggle-label-off {
            position: absolute;
            right: 11px;
            top: 1px;
            color: white;
        }
    }

    position: relative;
    width: 56px;
    height: 20px;
    padding: 3px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff 25px);
    background-color: white;
    border-radius: 18px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    float: right;
}
div.settings-row {
    position: relative;
    height: 5ex;
    border-bottom: dashed 1px #ccc;
    padding-top: 2px;
    padding-left: 10px;

    div.settings-row-label {
        float: left;
        margin-top: 4px;
    }
    span.settings-confirm.show {
        opacity: 1;
        visibility: visible;
        transition-delay:0s;
    }
    span.settings-confirm {
        position: absolute;
        right: 70px;
        padding: 5px;
        z-index: 1000;
        background-color: white;
        border: 1px solid lightGray;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 0.2s,opacity 0.2s linear;
    }
    select {
        float: right;
        width: 200px;
        margin-bottom: 0px;
    }
    input {
        float: right;
        width: 200px;
        margin-bottom: 0px;
    }
}

div.settings-toggle.active {
    span.toggle-label {
        background-color: #4fb845;
        span.toggle-label-off {
            display: none;
        }
        span.toggle-label-on {
            display: block;
        }
    }
    div.toggle-switch {
        left: 40px;
    }
}

div.settings-toggle.maybe {
    span.toggle-label {
        background-color: #aab8cc;
        span.toggle-label-off, span.toggle-label-on {
            display: none;
        }
    }
    div.toggle-switch {
        left: 22px;
    }
}
div.settings-dropdown-container {
    margin-top: 18px;
    text-align: right;
}
div.setting-info {
    margin-top: 10px;
}
