#share-search-dialog {

    /* ensure this element, when focused, doesn't cover the auto-complete 
     * "popup" that appears below/above it; i.e. send it backwards
     */
    z-index:   1;
    width:     300px;
    min-width: 300px;
    max-width: 300px;
}

