.tag-flavour-hotlist {
    background-color: #F17B00;
    border: solid 1px red;
    color: white;
}
.pill.tag-flavour-hotlist:hover {
    background-color: white;
    color: black;
}
.tag-flavour-default {
    background-color: $theme-colour;
    border: solid 1px #015292;
    color: white;
    &:hover {
        @include box-shadow(0px, 0px, 5px, $theme-colour);
    }
}

.tag-flavour-shortlist {
    background-color: rgb(176, 35, 174);
    border: solid 1px rgb(186, 45, 184);
    color: white;
}
.pill.tag-flavour-shortlist:hover {
    background-color: white;
    color: black;
}


div.candidate-tags {

    background-color: transparent;
    margin-top: -2px;
    border-radius: 5px;
    width: 100%;

    ul {
        padding: 0px;
        margin: 0px;
        float: left;
        width: 100%;
        margin-top: -9px;

        li {
            list-style: none;
            font-weight: bold;
            font-size: 11px;
            cursor: pointer;
            padding: 0px 5px 1px;
            margin-top: 10px;

            span.close {
                margin-left: 10px;
            }
        }
    }
}
div.candidate-tags-container {
    max-width: 43%;
    margin-right: 5px;
    div.candidate-tags {
        float: right;
        ul {
            li {
                float: right;
            }
        }
    }
}

div.candidate-tags-container {
    width: 42%;
}

div.candidate-tags.closed {
    overflow: hidden;
    height: 24px;
    background-color: transparent;
    border: solid 1px transparent;
}
div.add-tag {
    padding: 4px 4px;
    margin-top: -1px;
    margin-right: 8px;
}
div.add-tag-container {
    &.bulk-tag {
        width: 600px;
    }
    div.tag-suggestions {
        margin-top: 15px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 5px;

        input {
            width: 100%;
            box-sizing: border-box;
            padding: 6px 5px;
            height: 32px;
        }
    }
    div.tag-suggestions > div {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        p {
            margin: 0px;
        }
    }
}

