   .searchForm {
        background: #F2F2F2 no-repeat;
        background-position: right;
        margin-bottom: 0;
        border-radius: 5px 5px 0px 0px;
        padding: 1px 10px;

        .autocomplete {
            display: inline;
        }

        .odd {
            background: none !important;
        }
       h3 {
            font-size: 12px;
        }

        a {
            color: white;
            &:hover {
                color: #C6EA69;
            }
        }

        label {
            margin-right: 5px;
            width: 100%;
        }

        .line {
            margin-top: 10px;
        }

        #location_within {
            width: 30px;
        }

        #location_id_search {
            margin-left: 5px;
            width: 250px;
        }

        #keywords, #search_name {
            width: 485px;
        }


        #salary_cur {
            width: 80px;
        }

        #salary_to, #salary_from, .salary_input {
            width: 100px;
        }

      .extra-tokens {
            border-top: 1px dashed #4C7702;
            border-bottom: 1px dashed #4C7702;
            padding: 5px 0px 5px 0px;
            margin: 5px 0px 5px 0px;

            h3 {
                font-size: 14px;
            }
        }
        #destinations {
            background: #F5F5F5;
            border-radius: 0px 0px 5px 5px;
            color: black;
            padding: 10px 10px 10px 30px;
            margin-top: 10px;
            box-shadow: 0 6px 7px #ccc inset;
            h2 {
                font-size: 12px;
                color: black;
            }

            input.destination_cb {
                display: none;
            }

            .unticked {
                opacity: 0.3;
            }
            .ticked {
                opacity: 1;
            }
            .boardCell {
                background: white;
                border-radius: 5px;
                margin: 5px;
                text-align: center;
                cursor: pointer;
                a{
                    color: #737373;
                    &:hover {
                        color: #777777;
                    }
                }
              box-shadow:inset 0 0 5px #545454;
                .hd {
                    padding: 5px;
                }
                .detailed-search-button {
                    padding: 5px;
                    background: #E8E8E8;
                    border-radius: 0px 0px 5px 5px;
                    border: 1px solid #CCC;
                }
                .boardLogo { padding: 10px; }
            }
            .boardTokens {
                position: absolute;
                background: #E8E8E8;
                border-radius: 0px 0px 5px 5px;
                margin: -10px 20px 50px 20px;
                padding: 5px 5px 5px 10px;
                label {
                    color: #737373;
                    &:hover {
                        color: #777777;
                    }
                }
                 box-shadow:inset 0 0 5px #545454;
               }

        }
    }
    table.watchdogs-list {
        border: none;
        padding: 0px 5px;
        width: 100%;

        tbody {
            tr {
                td {
                    border: none;
                    padding: 5px;
                    img {
                        cursor: pointer;
                    }
                }
                td.watchdog-result {
                    float: left;
                }
                td:first-of-type {
                    input { width: 95%; }
                    text-align: left;
                }
            }
        }
    }
    .new-results {
        color: white;
        font-weight: bold;
    }
    span.total-watchdog-results-count {
        margin: 2px;
        border-radius: 5px;
        padding: 1px 5px;
        margin-left: -20px;
    }
    .watchdog-section {
        border-top: solid 1px #ccc;
        margin-bottom: 15px;
        .title {
            background-color: #edf5e8;
            padding: 5px;
        }
        table {
            border: none;
            margin-left: 10px;
            tr {
                th {
                    font-size: 11px;
                }
                th, td {
                    padding: 5px;
                    border: none;
                    padding-right: 30px;
                }
            }
        }
    }
    .watchdog-summary-link {
        margin-top: 10px;
        border-top: solid 1px #E4E4E4;
        padding-top: 5px;
    }
    .watchdog-board-status {
        display: inline;
        padding: 0px 5px;
    }
    h4.watchdog-time-group {
        padding: 10px 20px;
        margin: 5px 0px;
        border-radius: 5px;
        border: solid 1px #ccc;
        background-color: #08c;
        color: white;
    }

    div.opened-watchdog{
        background-color: #08c;
        color: white;
        font-size: 1.1em;
        padding: 10px;
        display: inline-block;
        a{
           color: white;
        }
        p {
            margin: 5px 0px 0px 30px;
        }
    }

    div.watchdog-facet-warning {
        background-color: #08c;
        color: white;
        padding: 10px;
    }
