            <div class="unit" id="tour-action-buttons">
              <div id="candidate-history-dropdown-{{c.idx}}" class="dropdown dropdown-relative dropdown-anchor-right candidate-history-dropdown">
                <div class="dropdown-panel candidate-history-panel" style="background-color: #F6F6F6;">
                  <div class="candidate-history-container">
                    <h4 class="candidate-history-title">{{__ "Candidate Action History"}}</h4>
                    {{#each c.historic_actions as |h|}}
                    <h5 class="candidate-history-label">{{h.label}}</h5>
                    <div class="candidate-history-action-group">
                      {{#each h.data as |action|}}
                      <div class="candidate-history-action">{{isoDateToNiceDate action.datetime searchUser.timezone}} - {{action.user}}
                        {{#if (unbound searchUser.contact_details.contact_devuser)}}
                           <a href="/candidateactions/{{action.id}}">Log</a>
                        {{/if}}
                      </div>
                      {{/each}}
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>

              {{#unless (unbound controllers.application.featureExclusions.hide_download)}}
                {{#if (unbound searchUser.settings.candidate-actions-download-enabled)}}
                    {{#if searchUser.manageResponsesView}}
                        <button
                            {{ action "downloadCV" c }}
                            class="btn
                              {{if c.has_done_download 'btn-success' ''}}
                              {{if c.has_cv '' 'disabled-action-btn'}}
                              {{if c.can_downloadcv '' 'disabled-action-btn'}}"
                            title="{{c.downloadCVPlaceholder}}">
                          <i class="icon-download"></i>
                        </button>
                    {{else}}
                        <button
                          {{ action "downloadCV" c }}
                          class="btn
                            {{if c.cvEnabled '' 'disabled-action-btn'}}
                            {{if c.hasCVQuota '' 'disabled-action-btn'}}
                            {{if c.hasCV '' 'hidden'}}
                            {{if c.has_done_download 'btn-success' ''}}"
                            title="{{translations.placeholderDownloadToDesktop}}">
                          <i class="icon-download"></i>
                        </button>
                    {{/if}}
                {{/if}}
              {{/unless}}

              {{#unless (unbound controllers.application.featureExclusions.hide_forward)}}
                {{#if (unbound searchUser.settings.candidate-actions-forward-enabled)}}
                  <button
                    {{action "switchOnForward" c}}
                    class="btn
                      {{if c.forwardEnabled '' 'disabled-action-btn'}}
                      {{if c.has_done_forward 'btn-success' ''}}
                      {{if c.can_forward '' 'hidden'}}"
                      title="{{translations.placeholderForward}}">
                    <i class="icon-forward"></i>
                  </button>
                {{/if}}
              {{/unless}}

              {{#if showSaveButton}}
                  <button
                    {{ action "importCV" c }}
                    class="btn
                      {{if c.importEnabled '' 'disabled-action-btn'}}
                      {{if c.hasCVQuota '' 'disabled-action-btn'}}
                      {{if c.hasCV '' 'hidden'}}
                      {{if c.has_done_import 'btn-success' ''}}
                      {{if c.can_importcv '' 'hidden'}}"
                    title="{{translations.placeholderSaveYourDatabase}}">
                    <i class="icon-floppy"></i>
                  </button>
              {{/if}}

              {{#if (unbound searchUser.settings.candidate-actions-shortlist-enabled)}}
                {{#each controllers.search.customLists as |list|}}
                  {{short-list-button candidate=c customList=list withAction="yes" action="switchOnShortlist"}}
                {{/each}}
              {{/if}}

              {{#unless (unbound controllers.application.featureExclusions.hide_chargeable_message)}}
                {{#if (unbound searchUser.settings.candidate-actions-message-enabled)}}
                    <button
                      {{action "switchOnMessage" c}}
                      class="btn
                        {{if c.messageEnabled '' 'disabled-action-btn'}}
                        {{if c.block_message 'disabled' ''}}
                        {{if c.has_done_message 'btn-success' ''}}
                        {{if c.hasPayMessage '' 'hidden'}}
                        {{if c.hasCVQuota '' 'disabled-action-btn'}}
                        {{if c.can_paymessage '' 'hidden'}}"
                      title="{{translations.placeholderBoardMightCharge}}">
                      <i class="{{currencyIcon}}"></i>
                      <i class="icon-mail"></i>
                    </button>
                {{/if}}
              {{/unless}}

              {{#unless (unbound controllers.application.featureExclusions.hide_message)}}
                {{#if (unbound searchUser.settings.candidate-actions-message-enabled)}}
                    <button
                      {{action "switchOnMessage" c}}
                      class="btn
                        {{if c.messageEnabled '' 'disabled-action-btn'}}
                        {{if c.block_message 'disabled' ''}}
                        {{if c.has_done_message 'btn-success' ''}}
                        {{if c.hasFreeMessage '' 'hidden'}}
                        {{if c.hasCVQuota '' 'disabled-action-btn'}}
                        {{if c.can_paymessage '' 'hidden'}}"
                      title="{{translations.placeholderEmail}}">
                      <i class="icon-mail"></i>
                    </button>
                {{/if}}
              {{/unless}}

              {{#if c.future_message}}
                  <button
                      class="btn btn-warning"
                      {{action "cancelFutureActionId" c c.future_message.action_id}}
                      title="{{translations.placeholderCancelThisAction}}"
                  >
                      <i class="icon-clock"></i> {{__x 'Will send "{template_name}"' template_name=c.future_message.template_name}}
                      {{isoDateFromNow c.future_message.at_time searchUser.timezone}}
                      <i class="icon-cancel text-error"></i>
                  </button>
              {{/if}}

              {{partial 'board/result-profile-button'}}

              {{#if c.can_enhance }}
                  <div class="btn-group">
                      <button {{action "enhanceCandidate" c}} class="btn {{if c.has_done_enhancement 'btn-success' ''}}"
                              title="{{translations.placeholderCandidateEnhancement}}"
                              >
                         <i class="icon-user"></i>
                      </button>
                      {{#if c.has_done_enhancement}}
                          <button {{action "toggleEnhancements" c}} class="btn skinny {{if c.has_done_enhancement 'btn-success' ''}}" id="{{c.enhancementToggleId}}">
                              <i class="icon-angle-up"></i>
                          </button>
                      {{/if}}
                  </div>
              {{/if}}

              {{#if c.isGeneralSubmission}}
                  <button
                    {{action "switchOnDelegate" c}}
                    class="btn {{if c.has_done_delegate 'btn-success' ''}}"
                    title="{{translations.placeholderCandidateDelegate}}">
                    <i class="icon-exchange"></i>
                  </button>
              {{/if}}

             {{#if (unbound searchUser.settings.candidate-actions-longlist-enabled)}}

                        {{#if c.inLongList}}
                           <div class="btn-group">
                             <button {{action "removeFromLongList" c}} class="btn" title="{{translations.placeholderRemoveFromLongList}}">
                               <i class="icon-minus-1"></i>
                             </button>
                             <button {{ action "switchOnLongLists" c }} class="btn skinny {{if c.has_done_longlist_add 'btn-success' ''}}" title="{{translations.placeholderAddToLongList}}">
                               <i class="icon-angle-down"></i>
                             </button>
                           </div>
                        {{else}}
                          {{#if searchUser.last_used_longlist}}
                            <div class="btn-group">
                              <button {{action "addToLongList" c searchUser.last_used_longlist}}
                                       title="{{searchUser.last_used_longlist.buttonTitle}}"
                                     class="btn {{if c.has_done_longlist_add 'btn-success' ''}}"
                                     title="{{translations.placeholderAddToLongList}}">
                               <i class="icon-plus-1"></i> <small>{{searchUser.last_used_longlist.name}}</small>
                             </button>
                             <button {{ action "switchOnLongLists" c }} class="btn skinny {{if c.has_done_longlist_add 'btn-success' ''}}" title="{{translations.placeholderAddToLongList}}">
                               <i class="icon-angle-down"></i>
                             </button>
                           </div>
                          {{else}}
                            <button {{ action "switchOnLongLists" c }} class="btn {{if c.has_done_longlist_add 'btn-success' ''}} {{if searchUser.restrictUI 'restrictUI' ''}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') translations.placeholderAddToLongList}}">
                              <i class="icon-plus-1"></i>
                           </button>
                            {{/if}}
                        {{/if}}
            {{/if}}


            </div>
            <div class="control-icons unit lastUnit">
                {{#if c.notes }}
                    {{#if c.hasProfile}}
                        <img {{ action "profileNotes" c }} src="/static/images/notes-icon.png" class="notes-icon" title="{{translations.placeholderThisCandidateNotes}}" alt="{{translations.placeholderThisCandidateNotes}}" />
                    {{/if}}
                {{/if}}

                {{#if c.has_done_message}}
                    <img {{ action "profileEmailHistory" c }} src="/static/images/email-envelope-icon.png" class="candidate-history-icon" title="{{__ 'Candidate has email history'}}" alt="{{__ 'Candidate has email history'}}">
                {{/if}}

                {{#if c.hasHistory}}
                    <img {{ action "candidateHistory" c  }} src="/static/images/cand-history-icon.png" class="candidate-history-icon" title="{{translations.placeholderThisCandidateHistory}}" alt="{{translations.placeholderThisCandidateHistory}}" data-dropdown="#candidate-history-dropdown-{{c.idx}}" data-vertical-offset="-220" />
                {{/if}}
            </div>
