              {{#if (unbound searchUser.settings.candidate-actions-profile-enabled)}}
                  {{#if c.profile_link}}
                        <a href="{{ unbound c.profile_link }}" target="_blank" title="{{translations.placeholderExternalProfile}}">
                          <button class="btn">
                            <i class="icon-profile-view"></i>
                          </button></a>
                  {{else}}
                    {{#if c.hasProfile }}
                      {{#if c.profile_chargeable}}
                        <button {{ action "downloadProfile" c }} class="btn {{if c.hasProfileQuota '' 'disabled-action-btn'}} {{if c.has_done_profile 'btn-success' ''}}" title="{{translations.placeholderChargeableProfile}}">
                          <i class="{{currencyIcon}}"></i>
                          <i class="icon-profile-view"></i>
                        </button>
                      {{else}}
                        <button {{ action "downloadProfile" c }} class="btn {{if c.hasProfileQuota '' 'disabled-action-btn'}} {{if c.has_done_profile 'btn-success' ''}}" title="{{translations.placeholderPreview}}">
                          <i class="icon-profile-view"></i>
                        </button>
                      {{/if}}
                    {{/if}}
                  {{/if}}
              {{/if}}
