{{#if hasSelected}}<div class="candidate_control_float"></div>{{/if}}

<div class="unit size3of4 lastUnit" id="where_the_results_go">
    {{#if userNotices.length}}
    {{#each userNotices as |notice|}}
         <div class="alert notice-{{notice.level}}"><i class="icon-attention"></i> {{{notice.message}}}</div>
      {{/each}}
         <div class="hspacer"></div>
    {{/if}}

    {{#if content}}

    {{!-- c is candidate --}}
    {{#each model as |c|}}
        {{#unless c.has_done_delete}}
           {{partial 'board/result'}}
        {{else}}
        <div class="result result-deleted" id="candidate_{{c.id}}">
          <h5>{{c.name}} - {{c.email}}</h5>
            {{__ 'This candidate is awaiting for deletion from the source. It should disappear from these results shortly.'}}
        </div>
        {{/unless}}
    {{/each}}

    <!-- Call once results have been rendered to apply events not controlled by ember -->
    {{onRendered}}

    {{else}}
        {{#if searchFinished}}
            <p class="alert alert-error">{{__ "Your search did not return any results."}}</p>
        {{else}}
            <div class="spinner">
              <img src="/static/images/loader.gif" title="{{translations.placeholderLoadingSearchResults}}" alt="{{translations.placeholderLoadingSearchResults}}" class="spinner-img"/>
            </div>
        {{/if}}
    {{/if}}
</div>
<div style="clear:both"></div>

{{partial 'profilebox'}}
