        <div class="result searchable" id="candidate_{{c.id}}" external-candidate-id="{{c.candidate_id}}">
            <!-- 754 -->
            <div class="line head-container {{if c.isSelected 'selected' ''}} {{if c.unviewed 'unviewed' ''}} {{if c.unviewed 'badge-new' ''}} {{if c.new_result 'brand-new' ''}}">
                <div class="unit size2of5 head-details">
                    <div class="unit" style="width: 25px">
                        {{input type="checkbox" checked=c.isSelected classNames="check candidate-check"}}
                    </div>

                    <h4 class="result-h4">
                      <span>
                            {{#if c.name}}
                                <span {{action "toggleSelected" c }}>{{c.name}}</span>
                                {{#if c.email}}
                                    (<a href="mailto:{{c.email}}">{{c.email}}</a>)
                                {{/if}}
                            {{else}}
                                {{#if c.email}}
                                    <a href="mailto:{{c.email}}">{{c.email}}</a>
                                {{else}}
                                    {{c.headline}}
                                {{/if}}
                            {{/if}}
                        </span>
                    </h4>
                    <h5>
                        {{#if c.name}}
                            {{c.headline}}
                        {{else}}
                            {{#if c.email}}
                                {{c.headline}}
                            {{/if}}
                        {{/if}}
                    </h5>
                </div>

                {{#unless controllers.application.featureExclusions.hide_tagging}}
                    <div class="unit right {{if searchUser.restrictUI 'restrictUI' '' }}">
                      {{#if (unbound searchUser.settings.candidate-actions-candidate_tag-enabled)}}
                        {{#if searchUser.restrictUI}}
                          <div class="add-tag btn" id="add-tag-{{c.idx}}-trigger" title={{__ 'Contact your account manager to upgrade!'}}>
                              <i class="icon-tags"></i>
                          </div>
                        {{else}}
                          <div class="add-tag btn" id="add-tag-{{c.idx}}-trigger" data-dropdown="#add-tag-{{c.idx}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') translations.placeholderTagHotlist}}">
                              <i class="icon-tags"></i>
                          </div>
                        {{/if}}
                        <div id="add-tag-{{c.idx}}" class="dropdown dropdown-tip dropdown-relative dropdown-anchor-right" style="width: 300px">
                            <div class="dropdown-panel">
                                <div class="add-tag-container">
                                    <h4>{{__ 'Add Tag/Hotlist'}}</h4>
                                    {{add-tag-to-candidate action="addTag" candidate=c placeholderPleaseSelect=translations.placeholderPleaseSelect}}
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="unit right candidate-tags-container {{if searchUser.restrictUI 'restrictUI' ''}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">
                        {{candidate-tag-list candidate=c}}
                    </div>
                {{/unless}}
            </div>
            <!-- 1685 -->

            <div class="line">
              {{#if c.inLongList}}
                <div class="right longlist-indicator">
                  <div class="opened-watchdog shadow-right">
                    {{ c.destinationBoard.label }}
                  </div>
                </div>
              {{/if}}
              <!-- 1691 -->
              {{#if c.hasFlaggingHistory}}
                {{#unless (is-equal c.destinationBoard.name "adcresponses")}}
                  <div class="line">
                    {{candidate-flagging-history flagging_history=c.flagging_history}}
                  </div>
                {{/unless}}
              {{/if}}
            <!-- 1793 -->
            </div>
            <div class="result-body">
                {{#if c.handlebars_template}}
                    {{partial c.handlebars_template}}
                {{else}}
                    {{{c.html_body}}}

                    {{#if c.enhanceCandidateLoading}}
                        <div class='text-center loading-candidate-data'>{{__ "Please wait..." }}</div>
                    {{else if c.has_loaded_result_enhancement}}
                        <div class="enhancement-body result-bd">
                            {{#with c}}
                                {{partial c.result_enhancement_template}}
                            {{/with}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
            <!-- 3983 -->

            <div class="controls line">
              {{#if showSnippet}}
                {{partial 'board/result-actions'}}
              {{else}}
                {{partial 'board/result-profile-button'}}
              {{/if}}
            </div>
            {{#if c.hasError}}
                <div class="alert alert-error">
                    {{#if unmanagedError}}
                        {{c.error.message}}
                    {{else}}
                        {{managed-error error=c.error}}
                    {{/if}}
                </div>
            {{/if}}

            {{#if c.hasWarnings}}
              <div class="alert alert-block">
                {{#each c.warnings as |warning|}}
                    {{warning}}<br />
                {{/each}}
              </div>
            {{/if}}

            {{#if (unbound searchUser.settings.candidate-actions-forward-enabled)}}
              <div>
                {{candidate-forward-inline candidate=c shown=c.showForward}}
              </div>
            {{/if}}

            {{#if (unbound searchUser.settings.candidate-actions-shortlist-enabled)}}
                {{#each controllers.search.customLists as |list|}}
                   <div>
                     {{candidate-shortlist-inline
                     candidate=c
                     list=list
                     shown_binding_prefix="showShortlist_"
                     isInternalBoard=controllers.search.selectedBoard.isInternal}}
                   </div>
                {{/each}}
            {{/if}}

            {{#if (unbound searchUser.settings.candidate-actions-message-enabled)}}
                   {{candidate-message-inline candidate=c
                                              shown=c.showMessage
                                              customLists=controllers.search.customLists
                   }}
            {{/if}}

            {{#if c.isGeneralSubmission}}
                {{candidate-delegate-inline candidate=c shown=c.showDelegate}}
            {{/if}}

           {{candidate-longlists-inline
                   candidate=c
                   user=searchUser
                   shown=c.showLongLists
                   }}
        </div>
