{{#if hasSelected}}<div class="candidate_control_float"></div>{{/if}}
<div class="unit size3of4 lastUnit" id="where_the_results_go">
    {{#if content}}
    {{!-- c is candidate --}}
    {{#each timeGroups as |group|}}
        <h4 class="watchdog-time-group">{{ group.moment }}</h4>
        {{#each group.candidates as |c|}}
            {{partial 'board/result'}}
        {{/each}}
    {{/each}}

    <!-- Call once results have been rendered to apply events not controlled by ember -->
    {{onRendered}}

    {{else}}
        {{#if searchFinished}}
            <p class="alert alert-error">{{__ "Your search did not return any results."}}</p>
        {{else}}
            <div class="spinner">
              <img src="/static/images/loader.gif" title="{{translations.placeholderLoadingSearchResults}}" alt="{{translations.placeholderLoadingSearchResults}}" class="spinner-img"/>
            </div>
        {{/if}}
    {{/if}}
</div>
<div style="clear:both"></div>

{{partial 'profilebox'}}
