<p>
    {{__ "Too many keywords: this board wants you to be more succinct!"}}

    {{#if error.properties.limit}}
        {{__ "We have highlighted in red the supernumerous characters below:"}}
        <pre style="color: black"><span>{{_keywordsGoodString}}</span><span style="color: #f18989">{{_keywordsBadString}}</span></pre>
    {{/if}}
</p>
