<div class="line admin-section">
    <h3><i class="icon-mail"></i>{{__ "Everyone's Sent Emails"}}</h3>

    <div class="line">
        <div class="unit size2of5">
            <div class="search-icon-box">
                <i class="icon-search"></i>
                {{input type="text" classNames="text input-search input-search-md" value=keywords placeholder=translations.placeholderSearchEmails}}
            </div>
        </div>
    </div>

    <div class="hspacer"></div>

    {{dated-emails-list keywords=keywords}}

</div>
