<div class="line admin-section">
    <h3><i class="icon-flag-circled"></i> {{__ 'Response Flags'}}</h3>

    <h4 class="flag-header">{{__ "Standard Flags"}}</h4>
    <div class="flag-table-container">
        {{#each model.standardFlags as |flag|}}
            <div class="line flag-line">
                <div class="unit">
                    {{adc-response-flag flag=flag}}
                </div>
                <div class="unit size3of5 flag-description">
                    {{flag.description}}
                </div>
                <div class="lastUnit right">
                    {{#if flag.has_template_association}}
                        <p>{{#link-to 'admin.emailtemplates'}}<i class="icon-mail" title={{__ 'This flag has an associated email template'}}></i>{{/link-to}}</p>
                    {{/if}}
                    {{#if flag.hasRules }}
                        {{#if flag._showFlagRules}}
                            <p {{action 'closeFlagRulesView'}}>{{__ "Hide Rules"}}</p>
                        {{else}}
                            <p {{action 'openFlagRulesView' flag}}>{{__ "Rules"}}</p>
                        {{/if}}
                    {{/if}}
                    {{#if flag._showHierarchy}}
                        <p {{action 'closeHierarchyView'}}>{{__ "Hide Permissions"}}</p>
                    {{else}}
                        <p {{action 'openHierarchyView' flag}}>{{__ "Permissions"}}</p>
                    {{/if}}
                </div>
            </div>
            {{#if flag._showHierarchy}}
                <div class="line">
                    {{settings-toggle user=model.hierarchy updateAction="updateFlagPermissions" master=this}}
                </div>
            {{/if}}
            {{#if flag._showFlagRules}}
                <div class="line">
                    {{admin-edit-flag-rules flag=flag}}
                </div>
            {{/if}}
        {{/each}}
    </div>

    <h4 class="flag-header">{{__ "Custom Flags"}}</h4>
    <div class="flag-table-container">
        {{#each model.responseFlags as |flag|}}
            <div class="line flag-line">

                {{#if flag.editMode}}

                    {{admin-add-flag submitFlag='updateFlag' cancel='cancelEdit' flag=flag}}

                {{else}}

                    <div class="unit">
                        {{adc-response-flag flag=flag cancel='cancelEdit' submitFlag='updateFlag'}}
                    </div>
                    <div class="unit size3of5 flag-description">
                        {{flag.description}}
                    </div>
                    <div class="lastUnit right">
                        {{#if flag.has_template_association}}
                            <p>{{#link-to 'admin.emailtemplates'}}<i class="icon-mail" title={{__ 'This flag has an associated email template'}}></i>{{/link-to}}</p>
                        {{/if}}
                        <p {{action 'editFlag' flag}}>{{__ 'edit'}}</p>
                        {{#if flag._showHierarchy}}
                            <p {{action 'closeHierarchyView'}}>{{__ "Hide Permissions"}}</p>
                        {{else}}
                            <p {{action 'openHierarchyView' flag}}>{{__ "Permissions"}}</p>
                        {{/if}}
                    </div>

                {{/if}}
            </div>
            {{#if flag._showHierarchy}}
                <div class="line">
                    {{settings-toggle user=model.hierarchy updateAction="updateFlagPermissions" master=this}}
                </div>
            {{/if}}
        {{/each}}
    </div>

    <div class="flag-actions line">
        {{#if showAddForm}}
            <div class="admin-add-flag-form">
                <p>{{__ 'Add new flag'}}</p>
                {{admin-add-flag submitFlag='addFlag' cancel='cancelAdd'}}
            </div>
        {{else}}
            <div class="new-flag-button">
                <p {{action 'showAddForm'}}>+ {{__ "Add new flag"}}</p>
            </div>
        {{/if}}
    </div>


</div>
