<div class="line admin-section">
    <h3><i class="icon-search"></i> {{__ 'Search History'}}</h3>

    <div class="line">
        <div class="go-back unit size1of5">
            {{#if isFiltered}}
                {{#link-to 'admin.previoussearches' (query-params page=1 user_id=nullValue destination=nullValue)}}
                    <i class="icon-ccw"></i>
                {{/link-to}}
            {{/if}}
        </div>
        <div class="unit right">{{pager-render pager=pager route='admin.previoussearches'}}</div>
    </div>
    <div class="unit size1of5 previous-searches-facets">

        <div class="facet-container">
          <h4>User</h4>
          <div class="hspacer"></div>
          {{input value=userPrefix placeholder=translations.placeholderWhat}}
            <ul>
            {{#each shortenedUsers as |facet|}}
                <li>
                    {{#if user_id}}
                        {{#link-to 'admin.previoussearches' (query-params page=1 user_id=nullValue destination=destination) classNames='active'}}
                            {{facet.label}} ({{facet.count}})
                        {{/link-to}}
                    {{else}}
                        {{#link-to 'admin.previoussearches' (query-params page=1 user_id=facet.term destination=destination)}}
                            {{facet.label}} ({{facet.count}})
                        {{/link-to}}
                    {{/if}}
                </li>
            {{/each}}
            </ul>
                {{#if hasMoreUsers}}
                <div class="pull-right">
                  <a href="#" {{action "toggleShowAllUsers"}}>{{#if showAllUsers}}{{__ 'less'}}{{else}}{{__ 'more'}}{{/if}}</a>
                </div>
                {{/if}}
        </div>

        <div class="facet-container">
            <h4>Destination</h4>
            <ul>
            {{#each facets.destination as |facet|}}
                <li>
                    {{#if destination}}
                        {{#link-to 'admin.previoussearches' (query-params page=1 user_id=user_id destination=nullValue) classNames='active'}}
                            {{facet.label}} ({{facet.count}})
                        {{/link-to}}
                    {{else}}
                        {{#link-to 'admin.previoussearches' (query-params page=1 user_id=user_id destination=facet.term)}}
                            {{facet.label}} ({{facet.count}})
                        {{/link-to}}
                    {{/if}}
                </li>
            {{/each}}
            </ul>
        </div>

    </div>
    <div class="unit size4of5 previous-search-container">
        <div class="previous-searches">
            {{#each results as |result|}}
                {{previous-search-row result=result criteriaLists=controllers.application.criteriaLists}}
                {{#if result.lastInGroup}}
                    <div class="line group-divider">&nbsp;</div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="right">{{pager-render pager=pager route='admin.previoussearches'}}</div>
</div>
