<div class="admin-section">
  <h3><i class="icon-cog"></i> {{__ 'Quota'}}</h3>

  <div class="line">
    <div class="unit size1of4 drop-down">
      <span class="label">{{__ "Please select a board"}}:</span>
    </div>
    <div class="unit size2of4 drop-down">
      <span class="label">{{__ "Please select a quota type to set:<br>(set multiple types separately and leave irrelevant ones blank)"}}</span>
    </div>
  </div>
  <div class="line">
    <div class="unit size1of4 drop-down">
      {{select-2 content=availableBoards value=board optionValuePath="id" optionLabelPath="label" placeholder=translations.placeholderPleaseSelect}}
    </div>
    <div class="unit size1of4 drop-down">
      {{select-2 content=availableTypes value=type optionValuePath="id" optionLabelPath="label" placeholder=translations.placeholderPleaseSelect}}
    </div>
  </div>

  {{#if currentSetting.meta_data.information}}
    <div class="alert alert-info setting-info">
        {{currentSetting.meta_data.information}}
    </div>
  {{/if}}

  {{#if error}}
    <div class="alert alert-error">{{error.message}}</div>
  {{/if}}


  {{#if board}}{{#if type}}

    {{#if loading}}

        <div class="spinner">
            <img src="/static/images/loader.gif" class="spinner-img"/>
        </div>

    {{else}}

        <div class="line reset-settings">
            <span><strong>{{__ "Quota system"}}:</strong> {{__ "Reset quota"}}</span>
            {{select-list selectedValue=_resetOption optionLabelPath="label" optionValuePath="index" content=resetOptions optionGroupPath="group" action=(action (mut _resetOption))}}
            <span>{{__ "and"}}: </span>{{select-list selectedValue=_rolloverOption optionLabelPath="label" optionValuePath="value" content=rolloverOptions action=(action (mut _rolloverOption))}}
        </div>

        <h4 class="quota-description">{{__ "Enter the MAXIMUM number of quota for each Office / Team / User in their corresponding boxes and enter the number to reset to (daily, weekly or monthly)"}}</h4>

        <div class="hspacer"></div>

        <div class="line quota-headers">
            <div class="unit size1of2">&nbsp;</div>
            <div class="unit size1of3 right">
                <div class="unit size1of2 row-label"><span>{{__ "Remaining"}}</span></div>
                <div class="unit size1of2 row-label"><span>{{__ "Reset To"}}</span></div>
            </div>
        </div>
        <div class="line">
          {{settings-quota user=hierarchy master=this autoExpand=autoExpand}}
        </div>
        <div class="line">
            <button class="btn btn-success right quota-submit" {{action "updateUsers"}}>{{__ "Submit"}}</button>
            <button class="btn btn-danger right quota-submit" {{action "undoUsers"}}>{{__ "Undo"}}</button>
        </div>

    {{/if}}

  {{/if}}{{/if}}

</div>
