<div class="line admin-section">
    <h3><i class="icon-floppy"></i>{{__ "Supervised Users' Saved Searches"}}</h3>

    <div class="line">
        <div class="unit size2of5">
            <div class="search-icon-box">
                <i class="icon-search"></i>
                {{input value=textSearch classNames="text input-search input-search-md" placeholder=translations.placeholderSavedSearchName}}
            </div>
        </div>
    </div>

    <div class="hspacer"></div>

    {{#if pager}}

        <div class="unit right">{{pager-render pager=pager route='admin.savedsearches'}}</div>

        <div class="hspacer"></div>

        {{#each savedsearches}}

            <div class="line saved-searches-section">
                <div class="line title">
                    {{user}}
                    <i class="icon-cog"></i>
                    <span class="big">{{name}}</span>
                </div>

                <div class="hspacer"></div>

                <p>{{__ 'Creation Date'}}: <strong>{{insert_datetime}}</strong></p>

                {{criteria-render criteria=criteria showUpdated=''}}
            </div>

        {{/each}}

        <div class="unit right">{{pager-render pager=pager route='admin.savedsearches'}}</div>

    {{else}}

        {{partial 'admin/loading'}}

    {{/if}}

</div>
