<div class="admin-section">
  <h3><i class="icon-cog"></i> {{__ 'Settings'}}</h3>

  <div>
    {{select-2 content=availableSettings value=setting optionValuePath="id" optionLabelPath="label" placeholder=translations.placeholderPleaseSelect}}
  </div>

  {{#if currentSetting.meta_data.information}}
    <div class="alert alert-info setting-info">
        {{currentSetting.meta_data.information}}
    </div>
  {{/if}}

  <div class="hspacer"></div>
    {{#if setting}}
            <div id="settings-hierarchy-container">
                {{#if isBool}}
                    {{settings-toggle updateAction="updateUsers" user=hierarchy master=this autoExpand=autoExpand}}
                {{/if}}
                {{#if isString}}
                    {{settings-string updateAction="updateUsers" user=hierarchy master=this autoExpand=autoExpand}}
                {{/if}}
                {{#if isList}}
                    {{settings-list updateAction="updateUsers" user=hierarchy master=this autoExpand=autoExpand options=currentSetting.meta_data.options}}
                {{/if}}
            </div>
    {{/if}}
</div>
