<div class="line admin-section">
    <h3><i class="icon-tags"></i> {{__ 'Tags'}}</h3>

    <div class="line">
        <div class="unit size2of5">
            <div class="search-icon-box">
                <i class="icon-search"></i>
                {{input value=textSearch enter="addTag" classNames="text input-search input-search-md" placeholder=translations.placeholderTagName}}
            </div>
        </div>
        <div class="unit size1of5" style="padding-top: 5px;">
            {{__ 'hotlists only'}} {{input type="checkbox" class="tag-options-check" checked=hotlistsOnly}}
        </div>
        <div class="unit lastUnit right" style="padding-top: 15px;">
            <strong>{{__ 'is hotlist'}}</strong>
        </div>
    </div>
    {{#if tags}}
        <ul class="tags">
            {{#each tags as |tag|}}
                <li>
                  {{#link-to 'admin.tag.delete' tag.value}}<i class="icon-trash-1"></i>{{/link-to}}
                    <span class="pill {{tag.flavourClass}}">{{tag.label}}&nbsp;</span>
                    <div class="right">
                        {{input type="checkbox" checked=tag.isHotlist disabled=tag.flavourNotChangeable}}
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
            <div class="alert alert-info">
                {{__ 'Press the return key to add a new tag or'}} <a href="#" {{action 'addTag'}}><strong>{{__ 'click here'}}</strong></a>
            </div>
            {{#if error}}
                <div class="alert alert-error">
                  {{error.message}}
                </div>
            {{/if}}
    {{/if}}
    <div class="right" style="margin: 5px 5px 0px 0px;">
        <strong style="font-size: 12px;">
            {{__x 'displaying {first_page} to {last_page} of {total_pages}' first_page=pager.first last_page=pager.last total_pages=pager.total_entries}}
             -
            {{#each availablePages as |page|}}
                {{#link-to 'admin.tags' page}}{{page}}{{/link-to}}
            {{/each}}
        </strong>
    </div>
</div>
