<div class="line admin-section">
    <h3>Managed Users</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Consultant</th>
          <th>Team</th>
          <th>Office</th>
          <th>Company</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
    {{#each users}}
    <tr>
      <td>{{consultant}}</td>
      <td>{{team}}</td>
      <td>{{office}}</td>
      <td>{{company}}</td>
      <td><a href="/login/as/{{id}}">Log in as this user</a></td>
    </tr>
    {{/each}}
    </tbody>
    </table>
</div>
