<div class="line admin-section">
    <h3><i class="icon-history"></i>{{__ "Supervised Users' Watchdogs"}}</h3>

    <div class="line">
        <div class="unit size2of5">
            <div class="search-icon-box">
                <i class="icon-search"></i>
                {{input value=textSearch classNames="text input-search input-search-md" placeholder=translations.placeholderWatchdogName}}
            </div>
        </div>
    </div>

    <div class="hspacer"></div>

    {{#if pager}}

        <div class="unit right">{{pager-render pager=pager route='admin.watchdogs'}}</div>

        <div class="hspacer"></div>

        {{#each watchdogs}}

            <div class="line watchdog-section">
                <div class="line title">
                  {{user}}
                  <i class="icon-cog"></i>
                  <span class="big">{{name}}</span>
                  {{#if last_run_datetime}}- <span class="small">{{__ "last run:"}} {{last_run_datetime}}</span>{{/if}}
                </div>

                <div class="hspacer"></div>

                {{criteria-render criteria=criteria showUpdated=''}}

                <table>
                    <tr>
                        <th>{{__ 'Destination'}}</th>
                        <th>{{__ 'New Results'}}</th>
                        <th style="width: 130px">{{__ 'Last Ran'}}</th>
                        <th>{{__ 'Status'}}</th>
                    </tr>
                    {{#each boards as |board|}}
                        <tr>
                            <td>{{board.nice_name}}</td>
                            <td>{{formatInteger board.count}}</td>
                            {{#if board.last_run_datetime}}
                              <td>{{isoDateToNiceDate board.last_run_datetime searchUser.timezone}}</td>
                            {{else}}
                              <td>{{ __ 'Not ran yet'}}</td>
                            {{/if}}
                            <td>
                                {{#if board.last_run_datetime}}
                                    <div class="watchdog-board-status {{if board.last_run_error 'alert-error' 'alert-success'}}">
                                        {{#if board.last_run_error}}{{board.last_run_error}}{{else}}{{__ "OK"}}{{/if}}
                                    </div>
                                {{else}}
                                    <div class="watchdog-board-status alert-info">
                                        {{__ 'Waiting to be initialised'}}
                                    </div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        {{/each}}

        <div class="unit right">{{pager-render pager=pager route='admin.watchdogs'}}</div>

    {{else}}

        {{partial 'admin/loading'}}

    {{/if}}

</div>
