<h4 class="section-header">{{__ "Current Application"}}</h4>
<div class="application-history" id="current_application_information">
    <ul class="application-history-list">
        {{candidate-current-application candidate=candidate application=candidate.currentApplication}}
    </ul>
</div>
<h4 class="section-header">{{__ "Current Application Flag"}}</h4>
<div class="line adcresponses-profile-flagging">
    {{candidate-response-flagging candidate=candidate rankField='broadbean_adcresponse_rank'}}
</div>
<h4 class="section-header">{{__ "My Folders"}}</h4>
<div class="line">
  {{select-2 query="queryUsertags"
    value=candidate.usertags
    placeholder="My Folders"
    multiple=true
    typeaheadNoTerm="Enter Folder Name"
  }}

</div>
<h4 class="section-header">{{__ "Other Applications"}}</h4>
<div class="application-history" id="application_history">
    {{#if candidate.applicationHistory}}
        {{#if candidate.applicationHistory.length}}
            <ul class="application-history-list">
            {{#each candidate.applicationHistory as |application|}}
                {{candidate-application application=application itemIndex=_view.contentIndex}}
            {{/each}}
            </ul>
        {{else}}
            <div class="no-application-history">{{__ "No Other Applications"}}</div>
        {{/if}}
    {{else}}
        {{__ "Loading..."}}
    {{/if}}
</div>

{{partial 'profile/details'}}
