<h4 class="section-header">{{__ "Recent Applications"}}</h4>
<div class="application-history" id="application_history">
    {{#if candidate.applicationHistory}}
        {{#if candidate.applicationHistory.length}}
            <ul class="application-history-list">
            {{#each candidate.applicationHistory as |application|}}
                {{candidate-application application=application itemIndex=_view.contentIndex}}
            {{/each}}
            </ul>
        {{else}}
            <div class="no-application-history">{{__ "No application history"}}</div>
        {{/if}}
    {{else}}
        {{__ "Loading..."}}
    {{/if}}
</div>

<h4 class="section-header">{{__ "Details"}}</h4>
<div class="details" id="details">

    <div class="details-row">
        <div class="label">{{__ 'First Name'}}</div>
        <div class="label-value">{{editable-detail-text storedValue=candidate.first_name field="first_name"}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Last Name'}}</div>
        <div class="label-value">{{editable-detail-text storedValue=candidate.last_name field="last_name"}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Email'}}</div>
        <div class="label-value">{{editable-detail-text storedValue=candidate.email field="email"}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Phone'}}</div>
        <div class="label-value">{{editable-detail-text storedValue=candidate.phone field="phone"}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Currently Employed'}}</div>
        <div class="label-value">{{select-list controllers.application.criteriaLists.currently_employed_options selectedValue=candidate.currently_employed}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Rec. Status'}}</div>
        <div class="label-value">{{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.recruitment_status_options selectedValue=candidate.broadbean_recruitment_status}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Industry'}}</div>
        <div class="label-value">{{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.industry_options selectedValue=candidate.broadbean_advert_industry}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Avail. Date'}}</div>
        <div class="label-value"><input type="text" class="date-proxy" name="broadbean_applicant_availability_time" /></div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Notice'}}</div>
        <div class="label-value">{{select-list controllers.application.criteriaLists.notice_options selectedValue=candidate.broadbean_notice_period}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Job Type'}}</div>
        <div class="label-value">{{select-list controllers.application.criteriaLists.talentsearch_jobtype_options selectedValue=candidate.broadbean_advert_job_type}}</div>
    </div>
    <div class="details-row">
        <div class="label">{{__ 'Desired Salary'}}</div>
        <div class="label-value">
            <div class="salary-container">
                {{select-list optionLabelPath="1" optionValuePath="0" content=searchUser.maybeCurrencyList class="currency" selectedValue=candidate.broadbean_desired_salary_currency}}
                {{editable-detail-text storedValue=candidate.broadbean_desired_salary_minimum field="broadbean_desired_salary_minimum" class="salary-low"}}
                <span class="salary-low-high">to</span> 
                {{editable-detail-text storedValue=candidate.broadbean_desired_salary_range_top field="broadbean_desired_salary_range_top" class="salary-high"}}
                {{select-list optionLabelPath="1" optionValuePath="0" content=controllers.application.criteriaLists.talentsearch_salary_per_options class="time-period" selectedValue=candidate.broadbean_desired_salary_pay_period}}
            </div>
        </div>
    </div>

</div>
