.nav-links a:hover {
    text-decoration: underline !important;
}
.slogan, .search_logo img {
    display: none !important;
}
.footer-s2 .pull-right {
    display: none;
}
.search_logo {
    width: 20% !important;
    display: block;
}
.header-custom {
    padding: 0;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
}
header.bb-nav div.nav-links {
    margin-top: -20px;
    margin-left: 20%;
}
