<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/static/stylesheets/unsubscribe.css?t=[%  stream2_VERSION | html %]">
      <title>Email Blacklist</title>
    </head>
    <style type="text/css">
        h2 {
            text-align: center;
        }
        div.input-section {
            padding: 10px !important;
        }
        input {
            margin-top: 0px !important;
        }
        div.pager > a {
            text-decoration: none;
            padding: 5px;
            margin-right: 10px;
        }
        div.pager > span {
            margin-right: 10px;
        }
        div.pager {
            margin: 10px;
        }
        p.notification {
            background-color: rgb(155, 255, 155);
            padding: 20px;
        }
        p.notification.error {
            background-color: rgb(255, 155, 155);
        }
    </style>
    <body>
        [% INCLUDE "internal-welcome.tt" %]
        <div class="container">
            <h2>Email Blacklist</h2>

            <p class="description">In the event of complaints about an emails not able to be sent because of their email addresses are blocked by Search, searching here is a good place to start.</p>
            <p class="description"><strong>Currently only Soft bounce blocks are able to be deleted from this control panel.</strong></p>
            <p> There are two actions,
            <ul>
                <li>Delete Block: deletes only record from the email blacklist</li>
                <li>Full Delete Block: deletes not only record from the email blacklist but also all the bounce emails from the email notifications.</li>
            </p>

            </ul>
            <div class="input-section">
                <form method="GET">
                    <input type="text" placeholder="email@example.com" name="email">
                    <input type="submit" value="Search" />
                </form>
            </div>
            [% IF notification %]
                [% IF notification.error %]
                    <p class="notification error">[% notification.error %]</p>
                [% ELSE %]
                    <p class="notification">[% notification.email %] has been removed from the blacklist.</p>
                [% END %]
            [% END %]
            <a id='pager_top' href='#'></a>
            <div class="pager">
                [% IF pager.last_page > 1 %]
                    [% IF pager.first_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.first_page %]#pager_top">&#124;&lt;&lt;</a>
                    [% END %]
                    [% IF pager.current_page > results_per_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.current_page - results_per_page %]#pager_top">&lt;&lt;</a>
                    [% END %]
                    [% IF pager.previous_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.previous_page %]#pager_top">&lt;</a>
                    [% END %]
                    <span>[% pager.current_page %]</span>
                    [% IF pager.next_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.next_page %]#pager_top">&gt;</a>
                    [% END %]
                    [% IF (pager.last_page - pager.current_page) > results_per_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.current_page + results_per_page %]#pager_top">&gt;&gt;</a>
                    [% END %]
                    [% IF pager.last_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.last_page %]#pager_top">&gt;&gt;&#124;</a>
                    [% END %]
                [% ELSE %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% page %]">GO BACK</a>
                [% END %]
            </div>

            <table>
                <tr>
                    <th> Insert Date-Time </th>
                    <th> Delete Block </th>
                    <th> Full Delete Block</th>
                    <th> Email </th>
                    <th> Reason </th>
                </tr>
            [% FOREACH notification IN notifications %]
                <tr>
                    <td> [% notification.insert_datetime %] </td>
                    <td> <a href="/devuser/view_blacklisted_emails?delete_id=[% notification.id %]&page=[% pager.current_page %]">Delete Block</a> </td>
                    <td> <a href="/devuser/view_blacklisted_emails?delete_id=[% notification.id %]&page=[% pager.current_page %]&delete_notifications=1">Full Delete Block</a> </td>
                    <td> <strong>[% notification.email %]</strong> </td>
                    <td> [% notification.purpose %] </td>
                </tr>
            [% END %]
            </table>

            <div class="pager">
                [% IF pager.last_page > 1 %]
                    [% IF pager.first_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.first_page %]">&#124;&lt;&lt;</a>
                    [% END %]
                    [% IF pager.current_page > results_per_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.current_page - results_per_page %]">&lt;&lt;</a>
                    [% END %]
                    [% IF pager.previous_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.previous_page %]">&lt;</a>
                    [% END %]
                    <span>[% pager.current_page %]</span>
                    [% IF pager.next_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.next_page %]">&gt;</a>
                    [% END %]
                    [% IF (pager.last_page - pager.current_page) > results_per_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.current_page + results_per_page %]">&gt;&gt;</a>
                    [% END %]
                    [% IF pager.last_page %]
                        <a href="/devuser/view_blacklisted_emails?email=[% email | uri %]&page=[% pager.last_page %]">&gt;&gt;&#124;</a>
                    [% END %]
                [% END %]
            </div>
        </div>
    </body>
</html>
