<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>[% title || '' | html %] Broadbean Search</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">

      <link rel="stylesheet" href="/static/stylesheets/app.css" />
    </head>
    <body class="exception">
        <div class="exception-body">
            <img src="/static/images/sad_face.png">
            <div class="message">
                <h1>I'm sorry....</h1>
                <p>[% exception %]</p>
                <p><a href="[% link.src %]">[% link.src %]</a></p>
            </div>
        </div>
    </body>
</html>
