[% IF c.layout('default') %][% END %]
<div id="loading-screen">
    <img src="/static/images/loader.gif" class="spinner-img"/><br />
    <div class="bb-logo-large center"></div><br />
    <h4 id="loading-status1">[% i18n('Search is loading...') %]</h4>
    <h4 id="loading-status2" style="display: none">[% i18n('almost there...') %]</h4>
</div>
<div id="application"></div>
