<!DOCTYPE html>
<html>
    <head>
        <title>Search 2 - [% i18n('User Unavailable') %]</title>
        <link rel="stylesheet" href="/static/stylesheets/information.css?t=[%  stream2_VERSION | html %]">
    </head>
    <body>
        <div class="content">
            <div class="icon">?</div>
            <div class="info">
                <h1>[% i18n('User Unavailable') %]</h1>
                <p>
                    [% i18nx(
                        'Requested adcourier user id {new_user_id} is not overseen by the current user ({current_user_id} - {current_user_name}).'
                        new_user_id=new_user_id current_user_id=current_user_id current_user_name=current_user_name
                    ) %]
                </p>
                <p>
                    [% i18n( 'This may be the result of having multiple instances of Search open. Try going <a href="/">here</a> to refresh your session.' ) %]
                </p>
            </div>
        </div>
    </body>
</html>
