<div>
  {{#if macro.id}}
  <div class="pull-right">
    <button class="btn btn-danger"
            {{action "deleteMacro"}}
            ><i class="icon-trash-1"></i></button>
  </div>
  {{/if}}
  
  <div>
{{#if macro.id}}
<h3>{{__ 'Edit Macro'}}</h3>
{{else}}
<h3>{{__ 'Create new macro'}}</h3>
{{/if}}
</div>
  
</div>

<strong>{{__ 'Name'}}:</strong><span class="required-field">*</span>
<div>
{{input  classNames="input-xxlarge"  value=macro.name required="required" placeholder=translations.placeholderNameThisMacro}} 
</div>
<div class="hspacer"></div>

<strong>{{__ 'On action'}}:</strong>
<div>
    {{select-list selectedValue=macro.on_action optionLabelPath="label" optionValuePath="value" content=macroOnActionOptions}}
</div>
<div class="hspacer"></div>

<strong>{{__ 'Do this'}}:</strong><span class="required-field">*</span>
<div>
    {{blockly-program program=macro}}
</div>

<div class="hspacer"></div>

{{#if macro.error}}
<div class="alert alert-error">
  {{macro.error}}
</div>
<div class="hspacer"></div>
{{/if}}

<div>
  <div class="pull-right">
    <button class="btn btn-primary"
            {{action "saveMacro"}}
            disabled={{macro.isInvalid}}>{{__ "Save"}}</button>
  </div>
  <div>
      {{#link-to 'admin.macros.index' class='btn'}}{{__ 'Back'}}{{/link-to}}
  </div>
</div>
