<div>
  {{#link-to 'admin.macros.new' class='btn'}}<i class="icon-plus-1"></i>{{__ "New"}}{{/link-to}}
</div>

<div class="line">
  <div class="unit right">{{pager-render pager=pager route='admin.macros.index'}}</div>
</div>

<div class="hspacer"></div>

<ul class="tags">
  {{#each macros as |macro|}}
      <li>
          {{#if macro.blockly_xml}}
              {{#link-to 'admin.macros.edit' macro.id}}<b>{{macro.name}}</b>{{/link-to}}
          {{else}}
               {{__ 'System macro'}} {{macro.name}} [{{macro.id}}]
          {{/if}}
          <div class="right">
              {{__ 'Created at:'}} {{isoDateToNiceDate macro.insert_datetime searchUser.timezone}}
          </div>
  </li>
  {{/each}}
</ul>

<div class="hspacer"></div>

<div class="line">
  <div class="unit right">{{pager-render pager=pager route='admin.macros.index'}}</div>
</div>
