<h3>{{__x 'Delete this tag "{tag_name}"' tag_name=value}}</h3>

<div class="hspacer"></div>


{{#if hasNCandidates}}
  <p class="alert alert-info">{{__nx '{n_candidates} candidate is tagged with this.' '{n_candidates} candidates are tagged with this.' n_candidates n_candidates=formattedNCandidates}}
    {{__ 'Are you sure you want to delete this tag?'}}
  </p>

  <div class="hspacer"></div>

  <button {{action 'deleteTag'}} class="btn btn-primary">
    {{__ 'Delete this tag'}}
  </button>
{{else}}
  <p class="alert alert-warn">
    {{__ 'Estimating number of candidates.. Please wait.'}}
  </p>
{{/if}}
