.layout-inner, .layout-fixed {
    background-color: #000 !important;
}
.nav-links a,
.nav-links a:visited,
.logged-in-as,
.logged-in-as a,
.logged-in-as a:visited {
    color: #00ABA2 !Important;
}
.logged-in-as a:active {
    color: #bbbf13 !important;
}
.nav-links a:hover {
    text-decoration: underline !important;
}
.slogan, .search_logo img {
    display: none !important;
}
.nav-links nav {

}
.footer-s2 .pull-right {
    display: none;
}
.search_logo {
    width: 20% !important;
    display: block;
}
.header-custom {
    padding: 0;
    overflow: hidden;
    background: url("/static/groupbranding/amscont/images/ams_s2_header.png") no-repeat center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
}
header.bb-nav div.nav-links {
    margin-top: 0;
    margin-left: 20%;
}