                <li class="alert {{if error 'alert-error' ''}} {{if warnings.length 'alert-info' ''}} {{if success 'alert-success' ''}} {{if finished '' 'location_searching'}}">
                    {{#if finished}}
                        <span class="outcome-symbol">{{#if success}}&#10004;{{else}}&#x2717;{{/if}}</span>
                    {{/if}}
                    {{candidate.identity}}{{#if message}}: {{message}}{{/if}}
                    {{#each warnings as |warning|}}
                        <br> - {{warning}}
                    {{/each}}
                </li>
