<div class="darkness {{if hasPreviewCandidate '' 'hidden'}}"></div>
<div class="profile-box {{if hasPreviewCandidate '' 'hidden'}}">

   {{#with previewCandidate}}
     {{#if hasError}}
       <div class="alert alert-error">
           {{#if unmanagedError}}
               {{error.message}}
           {{else}}
               {{managed-error error=error}}
           {{/if}}
       </div>
     {{/if}}
     {{#if hasWarnings}}
         <ul class="alert alert-block">
            <li>
                {{#each warnings as |warning|}}
                    {{warning}}
                {{/each}}
            </li>
         </ul>
     {{/if}}

   {{/with}}

    <div class="line profile-container">
        <div class="unit size1of5 history-container">

          <div class="contact-details perfect-scrollbar">
            {{#with previewCandidate}}
            <h2 class="contact-name">{{name}}</h2>
            <h3 class="contact-headline">{{headline}}</h3>
            {{#if address}}
            <div class="contact-location">
              <i class="icon-location"></i>
              {{#if calculatedLatLong}}
                {{google-maps-url anchorValue=address candidate=previewCandidate }}
              {{else}}
                {{address}}
              {{/if}}
            </div>
            {{/if}}
            {{#if telephone}}
            <div class="contact-phone">
              <i class="icon-phone"></i>
              <a href="tel:{{telephone}}">{{telephone}}</a>
            </div>
            {{/if}}
            {{#if email}}
            <div class="contact-email">
              <i class="icon-mail"></i>
              <a href="mailto:{{email}}">{{email}}</a>
            </div>
            {{/if}}
            {{/with}}
          </div>


          <div class="history-content perfect-scrollbar">
                <h4 class="history-content-header">{{__ "Recent Activity"}}</h4>
                {{partial 'profilebox/history'}}
          </div>
        </div>
        <div class="unit size3of5 profile-content">
          {{partial 'profilebox/actions-panel'}}

          {{#with previewCandidate as |candidate|}}
            <div class="line profile-tabs">
              <ul class="profile-tabs-list">
                <li {{action "selectTab" candidate "profile"}} class="tab-link {{if candidate.selectedProfile 'selected' ''}}">{{__ "Profile"}}</li>
                {{#if candidate.has_other_attachments}}
                <li {{action "selectTab" candidate "otherAttachments"}} class="tab-link {{if candidate.selectedOtherAttachments 'selected' ''}}">{{candidate.has_other_attachments_name}}</li>
                {{/if}}
                <li {{action "selectTab" candidate "history"}} class="tab-link {{if candidate.selectedHistory 'selected' ''}}">{{__ "Activity Feed"}}</li>
                <li {{action "selectTab" candidate "message"}} class="tab-link {{if candidate.selectedMessage 'selected' ''}}">{{__ "Messaging History"}}</li>
              </ul>
            </div>
            <div class="profile-content perfect-scrollbar" id="profile-content">
              {{#if candidate.selectedProfile}}
                {{#if candidate.has_other_attachments }}
                    <p><a class="btn btn-success" {{action "selectTab" candidate "otherAttachments"}}>{{candidate.has_other_attachments_name}}</a></p>
                {{/if}}

                {{component candidate.profileBodyComponent candidate=candidate searchTerms=controllers.search.criteria._search_terms}}

              {{/if}}
              {{#if candidate.selectedHistory}}
                  {{partial 'profilebox/history-panel'}}
              {{/if}}
              {{#if candidate.selectedMessage}}
                  {{partial 'profilebox/messages-panel'}}
              {{/if}}
              {{#if candidate.selectedOtherAttachments}}
                  {{partial 'profilebox/otherAttachments-panel'}}
              {{/if}}
            </div>
          {{/with}}
        </div>
        <div class="unit size1of5 profile-details">
            <div class="profile-controls">
              <div class="profile-navigation">
                <div class="prev-next-container">
                  <a href="#" class="navigation-btn {{if hasPreviousProfile '' 'nav-disabled'}}" {{action 'previousProfile'}} title="[&#11013;] {{translations.titlePreviousButton}}"><i class="icon-left-open"></i></a>
                  <span class="navigation-text">{{__ "Candidates"}}</span>
                  <a href="#" class="navigation-btn {{if hasNextProfile '' 'nav-disabled'}}" {{action 'nextProfile'}} title="{{translations.titleNextButton}} [&#10145;]"><i class="icon-right-open"></i></a>
                </div>
                <div class="close-container">
                  <a href="#" class="navigation-btn profile-close" {{action 'hideProfile'}} title="{{translations.titleCloseButton}} [&#9099;]"><i class="icon-cancel"></i></a>
                </div>
              </div>
            </div>

          <div class="candidate-actions flex-container text-center">
            <div class="line">

              {{#with previewCandidate as |candidate|}}
              {{#unless controllers.application.featureExclusions.hide_download}}
              {{#if (unbound searchUser.settings.candidate-actions-download-enabled)}}
                {{#if searchUser.manageResponsesView}}
                    <div {{ action "downloadCV" candidate}}
                      class="candidate-action-btn {{if candidate.has_done_download 'success' ''}} {{if candidate.hasCV '' 'disabled-action-btn'}}"
                      title="{{candidate.downloadCVPlaceholder}}">
                        <div class="candidate-action-btn-inner">
                            <i class="icon-download"></i>
                        </div>
                    </div>
                {{else}}
                    <div {{ action "downloadCV" candidate}}
                       class="candidate-action-btn {{if candidate.has_done_download 'success' ''}} {{if candidate.hasCVQuota '' 'disabled-action-btn'}} {{if candidate.hasCV '' 'hidden'}}"
                       title="{{translations.placeholderDownloadToDesktop}}">
                         <div class="candidate-action-btn-inner">
                          <i class="icon-download"></i>
                         </div>
                    </div>
                {{/if}}
              {{/if}}
              {{/unless}}

             {{#unless controllers.application.featureExclusions.hide_forward}}
              {{#if (unbound searchUser.settings.candidate-actions-forward-enabled)}}
              <div {{action "switchOnForward" candidate "inProfile"}}
                   class="candidate-action-btn {{if candidate.has_done_forward 'success' ''}} {{if candidate.can_forward '' 'hidden'}}"
                   title="{{translations.placeholderForward}}"
                   >
                     <div class="candidate-action-btn-inner">
                       <i class="icon-forward"></i>
                      </div>
                    </div>
              {{/if}}
              {{/unless}}

              {{#unless controllers.application.featureExclusions.hide_save}}
              {{#if (unbound searchUser.settings.candidate-actions-import-enabled)}}
              <div {{ action "importCV" candidate}}
                   class="candidate-action-btn {{if candidate.has_done_import 'success' ''}} {{if candidate.hasCVQuota '' 'disabled-action-btn'}} {{if candidate.hasCV '' 'hidden'}} {{if candidate.can_importcv '' 'hidden'}}"
                   >
                     <div class="candidate-action-btn-inner">
                       <i class="icon-floppy"></i>
                      </div>
                    </div>
              {{/if}}
              {{/unless}}


              {{#if (unbound searchUser.settings.candidate-actions-shortlist-enabled)}}
              {{#each controllers.search.customLists as |list|}}
                  {{short-list-round-button candidate=candidate customList=list namespace="inProfile" withAction="yes" action="switchOnShortlist"}}
              {{/each}}
              {{/if}}

              {{#if (unbound searchUser.settings.candidate-actions-longlist-enabled)}}
              <div {{ action "switchOnLongLists" candidate "inProfile"}}
                   class="candidate-action-btn {{if candidate.has_done_longlist_add 'success' ''}} {{if searchUser.restrictUI 'restrictUI' ''}}"
                   title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') translations.placeholderAddToLongList}}"
                   >
                   {{if searchUser.restrictUI}}
                     <div class="candidate-action-btn-inner">
                       <i class="icon-plus-1"></i>
                      </div>
                    </div>
              {{/if}}

              {{#unless controllers.application.featureExclusions.hide_chargeable_message}}
              {{#if (unbound searchUser.settings.candidate-actions-message-enabled)}}
              <div {{action "switchOnMessage" candidate "inProfile"}}
                   class="candidate-action-btn {{if candidate.hasCVQuota '' 'disabled-action-btn'}} {{if candidate.block_message 'disabled' ''}} {{if candidate.has_done_message 'success' ''}} {{if candidate.hasPayMessage '' 'hidden'}} {{if candidate.can_paymessage '' 'hidden'}}"
                            title="{{translations.placeholderBoardMightCharge}}"
                   >
                     <div class="candidate-action-btn-inner">
                      <i class="icon-mail"></i>
                    </div>
              </div>
              {{/if}}
              {{/unless}}

              {{#unless controllers.application.featureExclusions.hide_message}}
              {{#if (unbound searchUser.settings.candidate-actions-message-enabled)}}
              <div {{action "switchOnMessage" candidate "inProfile"}}
                   class="candidate-action-btn {{if candidate.block_message 'disabled' ''}} {{if candidate.has_done_message 'success' ''}} {{if candidate.hasFreeMessage '' 'hidden'}} {{if candidate.can_paymessage '' 'hidden'}}"
                   title="{{translations.placeholderEmail}}"
                   >
                     <div class="candidate-action-btn-inner">
                      <i class="icon-mail"></i>
                     </div>
              </div>
              {{/if}}
              {{/unless}}

              {{#if candidate.isGeneralSubmission}}
                <div {{action "switchOnDelegate" candidate "inProfile"}}
                    class="candidate-action-btn {{if candidate.has_done_delegate 'btn-success' ''}}"
                    title="{{translations.placeholderCandidateDelegate}}">
                  <div class="candidate-action-btn-inner">
                    <i class="icon-exchange"></i>
                  </div>
                </div>
              {{/if}}

              {{/with}}
            </div>
          </div>

          <div class="profile-details-content perfect-scrollbar">
              {{#with previewCandidate as |candidate|}}

                {{partial candidate.detailsPartialName}}

                {{#unless controllers.application.featureExclusions.hide_tagging}}
                    <h4 class="section-header {{if searchUser.restrictUI 'restrictUI' ''}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">{{__ "Tags/Hotlists"}}</h4>
                    <div class="candidate-tags {{if searchUser.restrictUI 'restrictUI' ''}}" id="tags" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">
                        <div class="add-tags {{if searchUser.restrictUI 'dropdown-disabled' ''}}" id="add-tag-profile-{{candidate.idx}}-trigger" data-dropdown="#add-tag-profile-{{candidate.idx}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">
                          <i class="icon-tags"></i>
                          <span class="add-tags-hotlists">{{__ "Add Tags/Hotlists"}}</span>
                        </div>
                        <div id="add-tag-profile-{{candidate.idx}}" class="dropdown dropdown-tip dropdown-relative dropdown-anchor-right" style="width: 100%;">
                            <div class="dropdown-panel add-tag-container">
                                {{add-tag-to-candidate action="addTag" candidate=candidate placeholderPleaseSelect=translations.placeholderPleaseSelect}}
                            </div>
                        </div>
                        <ul class="candidate-tags-list">
                            {{candidate-tag-list candidate=candidate}}
                        </ul>
                        {{#if (unbound searchUser.settings.candidate-actions-candidate_tag-enabled)}}
                        <div style="clear:both;"></div>
                        {{/if}}
                    </div>
                {{/unless}}

                {{#if (unbound searchUser.settings.candidate-actions-note-enabled)}}
                    <h4 class="section-header">{{__ "Notes"}}</h4>
                    <div class="notes" id="notes">
                        {{candidate-add-note addNote="addNote" candidate=candidate}}
                        <ul class="notes-list">
                        {{#each candidate.notes as |note|}}
                            {{candidate-note deleteNote="deleteNote" note=note candidate=candidate user=searchUser class="note"}}
                        {{/each}}
                        <div style="clear:both;"></div>
                        </ul>
                    </div>
                {{/if}}

                {{#if candidate.calculatedLatLong}}
                    <div class="profile-section" id="map">
                        {{ google-maps-static-image hasLink=1 candidate=candidate}}
                    </div>
                {{/if}}

                {{#if (unbound searchUser.settings.candidate-profile-research_online_box-enabled)}}
                    {{#if candidate.name}}
                      <div class="social-buttons" id="social">
                        {{partial "profile/social"}}
                      </div>
                      {{/if}}
                {{/if}}

                {{#if searchUser.contact_details.contact_devuser}}
                    <div class="office-box">
                      <h4 class="section-header">Hello {{searchUser.contact_details.contact_devuser}}, here are some office only options:</h4>
                      {{#if candidate.broadbean_adcresponse_id}}
                        {{#if candidate.isApplicationResponse}}
                          <div class="delete-candidate-button btn-office">
                            <a href="/devuser/view_response_log/{{candidate.broadbean_adcresponse_id}}" target="_blank">view response log</a>
                          </div>
                        {{/if}}
                      {{/if}}
                      {{#if candidate.inTalentSearch}}
                      <div class="delete-candidate-button">
                        <button {{action "deleteCandidate" candidate}} class="btn-office">Delete candidate</button>
                      </div>
                      {{/if}}
                    </div>
                {{/if}}

              {{/with}}
            </div>
        </div>
    </div>
</div>
