<div id="action-details">

    {{#each datedActions as |date|}}
        <section class="dated-actions">
            <h4 class="dated-action-header">{{date.ymd}}</h4>
            <table>
                <thead>
                    <tr>
                        <th>{{__ 'Time'}}</th>
                        <th>{{__ 'Candidate Name'}}</th>
                        <th>{{__ 'Candidate Email'}}</th>
                        <th>{{__ 'Database'}}</th>
                        <th>{{__ 'Advert Link'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each date.actions as |action|}}
                        <tr>
                            <td>{{action.time}}</td>
                            <td>{{action.candidateName}}</td>
                            <td>{{action.candidateEmail}}</td>
                            <td>{{selectedCell.board}}</td>
                            <td>
                                {{#if action.advertLink}}
                                    {{action.advertLink}}
                                {{else}}
                                    N/A
                                {{/if}}
                            </td>
                        </tr>
                {{/each}}
                </tbody>
            </table>
        </section>
    {{/each}}

</div>