<div class="line admin-panel">
    <div class="line">
        <h3>{{__ 'Admin Panel'}}</h3>
    </div>
    <div class="line">
        <div class="unit size1of5 admin-navigation">
          <ul>
                <li>{{#link-to 'admin.tags' 1}}<i class="icon-tags"></i> {{__ 'Tags'}}{{/link-to}}</li>
                {{#if searchUser.manageResponsesView}}
                    <li>{{#link-to 'admin.flags'}}<i class="icon-flag-circled"></i> {{__ 'Flags'}}{{/link-to}}</li>
                {{/if}}

                <li>{{#link-to 'admin.settings'}}<i class="icon-cog"></i> {{__ 'Settings'}}{{/link-to}}</li>
                <li>{{#link-to 'admin.emailtemplates'}}<i class="icon-mail"></i> {{__ 'Email Templates'}}{{/link-to}}</li>
                {{#if searchUser.contact_details.contact_devuser}}
                    <li class="btn-office">{{#link-to 'admin.macros'}}<i class="icon-puzzle"></i> {{__ 'Macros'}}{{/link-to}}</li>
                {{/if}}
                <li>{{#link-to 'admin.previoussearches'}}<i class="icon-search"></i> {{__ 'Search History'}}{{/link-to}}</li>
                {{#unless searchUser.manageResponsesView}}
                    <li><a
                           target="_blank"
                           href="https://www.adcourier.com/cvsearch/?inactive=0;action=subscriptions_list_all;p=search_new_search"
                           ><i class="icon-link-ext"></i> {{__ 'Subscriptions'}}</a>
                    </li>
                    <li>{{#link-to 'admin.quota'}}<i class="icon-gauge"></i> {{__ 'Quota'}}{{/link-to}}</li>
                {{/unless}}
            </ul>

            <ul>
                <li>{{#link-to 'admin.reports'}}<i class="icon-table"></i>{{__ "Reports"}}{{/link-to}}</li>
                {{#unless searchUser.manageResponsesView}}
                    <li>{{#link-to 'admin.watchdogs'}}<i class="icon-history"></i>{{__ "Everyone's Watchdogs"}}{{/link-to}}</li>
                {{/unless}}
                <li>{{#link-to 'admin.savedsearches'}}<i class="icon-floppy"></i>{{__ "Everyone's Saved Searches"}}{{/link-to}}</li>
                <li>{{#link-to 'admin.emails'}}<i class="icon-mail"></i>{{__ "Everyone's Sent Emails"}}{{/link-to}}</li>

                <br />
                <li>{{#link-to 'welcome-admin'}}<i class="icon-search"></i> {{__ 'Return to Search'}}{{/link-to}}</li>
            </ul>

        </div>

        <div class="unit size4of5 lastUnit">
            {{outlet}}
        </div>
    </div>
</div>
