<div class="menu-pill-header line">
    <div class="unit size1of5 title-box">
        {{#if searchUser.manageResponsesView}}
            {{__ "<span>Responses</span> <span class='slogan'>by Broadbean</span>"}}
        {{else}}
            {{__ "<span>Search</span> <span class='slogan'>by Broadbean</span>"}}
        {{/if}}
    </div>

    <div class="unit size2of4">
        {{#if isOverseer}}
            <a href="#" data-dropdown="#search-as-options" id="search-as-options-link">{{__ "Search As"}}</a>
            {{#link-to "admin"}}{{__ "Admin Panel"}}{{/link-to}}
        {{else}}
            {{#link-to 'emails.summary'}} {{__ "Email History"}} {{/link-to}}
            {{#link-to 'search' class='v5-hide'}}{{__ "Search"}}{{/link-to}}
            {{#if originalUser}}
                <a href="/login/popuser"><i class="icon-ccw"></i> {{__ "Revert to original user"}}</a>
            {{else}}
                &nbsp;
            {{/if}}
        {{/if}}
    </div>
    {{#if showGlobalSearchActions}}
        <div class="unit lastUnit text-right">
            {{#if searchUser.isResponsesChannel}}
                <a {{action "cancelNav"}} id="tour-watchdog-dropdown" data-dropdown="{{watchdogsTarget}}" href="#" title={{__ 'Only accessible from other channels'}} class="restrictUI">
                    {{__ "Watchdogs"}} ({{ watchdogs.length }}/{{searchUser.ui_config.maxWatchdogs}})
                </a>
                <span class="total-watchdog-results-count new-results badge-new {{if totalWatchdogResults '' 'hidden'}}"
                    title={{__ 'Only accessible from other channels'}}>
                    {{formatInteger totalWatchdogResults}}
                </span>
                <a {{action "cancelNav"}} href="#" data-dropdown="{{savedSearchesTarget}}" id="saved_searches_link" class="restrictUI" title={{__ "Only accessible from other channels"}}>
                    {{__ "Saved Searches"}} ({{ savedSearches.length }})
                </a>
            {{else}}
                <a {{action "cancelNav"}} id="tour-watchdog-dropdown" data-dropdown="{{watchdogsTarget}}" href="#" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') translations.placeholderWatchdogsRunDaily}}" class="{{if searchUser.restrictUI 'restrictUI' ''}}">
                    {{__ "Watchdogs"}} ({{ watchdogs.length }}/{{searchUser.ui_config.maxWatchdogs}})
                </a>
                <span class="total-watchdog-results-count new-results badge-new {{if totalWatchdogResults '' 'hidden'}}"
                    title="{{translations.placeholderNewWatchdogResults}}">
                    {{formatInteger totalWatchdogResults}}
                </span>
                <a {{action "cancelNav"}} href="#" data-dropdown="{{savedSearchesTarget}}" id="saved_searches_link" class="{{if searchUser.restrictUI 'restrictUI' ''}}" title="{{if searchUser.restrictUI (__ 'Contact your account manager to upgrade!') ''}}">
                    {{__ "Saved Searches"}} ({{ savedSearches.length }})
                </a>
            {{/if}}
            {{#if searchUser.long_lists.length}}
                <a href="#" data-dropdown="#longlists-dropdown" id="longlists_link">{{__ "Longlists"}} ({{ searchUser.long_lists.length }}/20)</a>
            {{/if}}
        </div>
    {{/if}}
</div>
<div style="clear:both"></div>

<div class="body-content">

    {{outlet}}

    <div id="search-as-options" class="dropdown dropdown-tip downdown-anchor-left">
        <div class="saved-searches-panel dropdown-panel">
            <h5>{{__ "Search as"}}:</h5>
            <table class="watchdogs-list">
                <tbody>
                    <tr>
                        <td colspan="3">{{input value=userFilter placeholder=translations.placeholderFilterUser}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="saved-searches-container candidate-history-container">
                <table class="watchdogs-list">
                    <tbody>
                        {{#each overseenUsers}}
                            <tr>
                                <td><a href="/login/as/{{id}}"><i class="icon-login-1"></i></a></td>
                                <td>{{consultant}}</td><td>@{{team}}.{{office}}.{{company}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{#if showGlobalSearchActions}}

        <div id="longlists-dropdown" class="dropdown dropdown-tip dropdown-anchor-right">
            <div class="saved-searches-panel dropdown-panel">
                <h5><i class="icon-plus-1"></i> {{__ "Your Longlists"}}:</h5>
                <table class="watchdogs-list">
                    <tbody>
                    {{#each searchUser.long_lists as |long_list|}}
                        <tr>
                            <td>{{#link-to 'longlists.view' long_list title=long_list.displayName}}{{ellipsis long_list.name 50}}{{/link-to}}</td>
                            <td><a href="#"  {{action "unsaveLongList" long_list}} title="{{__ "Delete this Longlist"}}"><i class="icon-trash-1"></i></a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="saved-searches-dropdown" class="dropdown dropdown-tip dropdown-anchor-right">
            <div class="saved-searches-panel dropdown-panel">
                <div class="saved-searches-container">
                {{#if savedSearches }}
                    {{saved-search-panel savedSearches=savedSearches}}
                {{ else }}
                    <p class="alert"><small>{{__ "Saved searches let you quickly get back to the same search to check for new candidates."}}</small></p>
                {{/if}}
                </div>
            </div>
        </div><!--  end of saved-searches drop down -->

        <div id="watchdogs-dropdown" class="dropdown dropdown-tip dropdown-anchor-right">
            <div class="watchdogs-panel dropdown-panel">
                <div class="watchdogs-container">
                    {{#if watchdogs.length }}
                        <h5><i class="icon-history"></i> {{__ "Your Watchdogs"}}:</h5>
                        <table class="watchdogs-list">
                            <tbody>
                            {{#each watchdogs as |watchdog|}}
                                <tr>
                                    <td class="unit watchdog-result">
                                        <div class="hover-container pill new-results badge-new {{if watchdog.new_results '' 'hidden'}}">
                                            {{#if watchdog.new_results}}
                                                <a href="#" title="Mark all as read" {{action "clearWatchdogViewedResults" watchdog}}>
                                                    <i class="on-hover icon-ok-circled"></i>
                                                </a>
                                            {{/if}}
                                            {{formatInteger watchdog.new_results}}
                                        </div>
                                    </td>
                                    <td>{{#link-to 'watchdogsview' watchdog title=watchdog.displayName}}{{ellipsis watchdog.name 50}}{{/link-to}}</td>
                                    <td>
                                        <a href="#"{{action "unsaveWatchdog" watchdog}} title="{{__ "Delete this watchdog"}}"><i class="icon-trash-1"></i></a>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                        <div class="line watchdog-summary-link">
                            {{#link-to 'watchdogs.summary' title=translations.titleWatchdogSummaryLink}}
                                <span class="small">{{__ "Summary"}}</span>
                            {{/link-to}}
                        </div>
                    {{else}}
                        <p class="alert"><small>{{__ "No Watchdogs yet"}}</small></p>
                    {{/if}}
                </div>
            </div>
        </div>

    {{/if}} <!-- /"showGlobalSearchActions" -->

    {{partial 'keywords-tooltip'}}

</div><!-- /.body-content -->
