<section id="results">
<div class="line">
    <div id="stickybanner">
        <div class="unit" style="margin-left: 15px;">
            {{input type="checkbox" checked=allSelected classNames="check"}}
            {{#unless controllers.application.featureExclusions.hide_tagging}}
                {{#if (unbound searchUser.settings.candidate-actions-candidate_tag-bulk-enabled)}}
                    {{#if searchUser.restrictUI }}
                        {{#link-to 'tagging' classBinding=":btn :restrictUI" disabledWhen=disableBulkTagging title=(__ 'Contact your account manager to upgrade!')}}<i class="icon-tags"></i>{{/link-to}}
                    {{else}}
                        {{#link-to 'tagging' classBinding=":btn" disabledWhen=disableBulkTagging title=translations.titleTagHotlistSelected}}<i class="icon-tags"></i>{{/link-to}}
                    {{/if}}
                {{/if}}
            {{/unless}}
            {{#if (unbound searchUser.settings.candidate-actions-shortlist-bulk-enabled)}}
                {{#each controllers.search.customLists as |list|}}
                    {{#if searchUser.restrictUI }}
                        {{#link-to 'shortlist' list classBinding=":btn :restrictUI" disabledWhen=disableBulkShortlist title=(__ 'Contact your account manager to upgrade!')}}<i class="{{list.icon_class}}"></i>{{/link-to}}
                    {{else}}
                        {{#link-to 'shortlist' list classBinding=":btn" disabledWhen=disableBulkShortlist title=list.bulkLabel}}<i class="{{list.icon_class}}"></i>{{/link-to}}
                    {{/if}}
                {{/each}}
            {{/if}}
            {{#unless controllers.application.featureExclusions.hide_message}}
                {{#if (unbound searchUser.settings.candidate-actions-message-bulk-enabled)}}
                    {{#link-to 'message' class="btn" disabledWhen=disableBulkMessage title=translations.titleEmailSelected}}<i class="icon-mail"></i>{{/link-to}}
                {{/if}}
            {{/unless}}
            {{#unless controllers.application.featureExclusions.hide_forward}}
                {{#if (unbound searchUser.settings.candidate-actions-forward-bulk-enabled)}}
                    {{#link-to 'forward' class="btn" disabledWhen=disableBulkForward title=translations.titleForwardSelected}}<i class="icon-forward"></i>{{/link-to}}
                {{/if}}
            {{/unless}}
            {{#if searchUser.isResponsesChannel}}
                {{#link-to 'delegate' class="btn" disabledWhen=disableBulkDelegate title=translations.titleDelegateSelected}}<i class="icon-exchange"></i>{{/link-to}}
            {{/if}}
        </div>

        <div class="unit lastUnit" style="float: right">

          <div class="unit">
            {{#if sort_by.Options.length }}
                {{select-list selectedValue=sort_by.Value content=sort_by.Options optionLabelPath="0" optionValuePath="1"}}
            {{else}}
            &nbsp;
            {{/if}}
          </div>

          <div class="unit">
            <div class="pager">
              <ul>
                {{#each displayPages as |page|}}
                  {{#if page.isVisible}}
                    {{#if page.isClickable}}
                      <li class="unit page-num {{if page.isSelected 'selected' ''}}" {{action 'changePage' page}} title="{{page.label}}">{{page.label}}</li>
                    {{else}}
                      <li class="unit page-num-disabled">{{page.label}}</li>
                    {{/if}}
                  {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>
{{#if controllers.search.selectedBoard.quota.hasCandidateActionQuota}}
    <div class="line">
        {{quota-summary quota=controllers.search.selectedBoard.quota}}
    </div>
{{/if}}
<div class="line" id="bottom-bit">
    {{outlet}}
</div>
<div class="line" id="result-footer">
    <div class="unit size3of4">&nbsp;</div>
    <div class="unit size1of4 lastUnit">
        <div class="pager">
            <ul>
            {{#each displayPages as |page|}}
                {{#if page.isVisible}}
                    {{#if page.isClickable}}
                        <li class="unit page-num {{if page.isSelected 'selected' ''}}" {{action 'changePage' page}} title="{{page.label}}">{{page.label}}</li>
                    {{else}}
                        <li class="unit page-num-disabled">{{page.label}}</li>
                    {{/if}}
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>

    <div class="back-to-top-container">
        {{#if currentAjaxCount.count}}
            {{current-action-display currentAjaxCount=currentAjaxCount}}
        {{/if}}
        <div class="global-status back-to-top" title="{{__ 'Back To Top'}}"><i class="icon-up-open"></i></div>
    </div>
</div>
</section>
