<div class="unit size3of4 lastUnit messaging" id="where_the_results_go">
    {{#if delegating}}
        <button class="btn" {{action 'goBack'}}>{{__ 'Back To Results'}}</button><br><br>
        <h4 style="color: grey">{{__ 'Delegating...'}}</h4><br>

        <ul class="candidate-outcome">
            {{#each outcomes}}
                {{partial "outcome_line"}}
            {{/each}}
        </ul>
        <br>
    {{else}}
        <strong>{{__ 'Candidates'}}</strong>
        <div>
          {{candidate-chooser back="goBack" candidates=selectedCandidates}}
        </div>

        <div class="hspacer"></div>

        <div class="inline-form">
          <strong>{{__ "Select Colleague"}}:</strong>
          <div class="line">
            <div class="unit size1of2">
                {{select-2 query="queryColleagues"
                         value=colleague
                         placeholder=translations.placeholderCandidateDelegate
                         multiple=false
                         allowClear=true
                }}
            </div>
          </div>

          <div class="hspacer"></div>

          <div>
            <button class="btn btn-primary" style="float:right" {{action 'delegateBulk'}} disabled={{formInvalid}}>{{__ 'Delegate'}}</button>
            <button class="btn" {{action 'goBack'}}>{{__ 'Go Back'}}</button>
          </div>
        </div>
    {{/if}}
</div>
