{{#if alreadySent}}
    <span title=" {{__ 'You have already sent this template to this candidate!' }}" class="select2-option-email-template-sent">
        {{template.name}} ({{__ 'template already sent' }})
    </span>
{{else}}
    <span> {{template.name}} </span>
{{/if}}
