{{#if facets.length}}
    <div id="facet-box">
        {{#if controllers.search.watchdog}}
        <div class="unit size1of1 line">
            <div class="watchdog-facet-warning">
                {{__ "Changes to criteria will not affect existing watchdog results."}}
            </div>
        </div>
        {{/if}}
        {{#each facets as |facet|}}
            {{#if facet}}
                {{#if facet.isTag}}
                    {{facet-grouped facetType='tag' facet=facet facetSearch=facetSearch}}
                {{else if facet.isAdvert}}
                    {{facet-grouped facetType='advert' facet=facet facetSearch=facetSearch}}
                {{else if facet.isEmptyList}}
                    <!-- Skipping empty list -->
                {{else if facet.isFlagging}}
                    {{facet-flagging facet=facet}}
                {{else}}
                    {{facet-base facet=facet facetSearch=facetSearch}}
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}
