<div class="unit size3of4 lastUnit messaging" id="where_the_results_go">
    {{#if forwardingCVs}}
        <button class="btn" {{action 'goBack'}}>{{__ 'Back To Results'}}</button><br><br>
        <h4 style="color: grey">{{__ 'Forwarding CVs, you will receive them via email shortly...'}}</h4><br>

        <ul class="candidate-outcome">
            {{#each outcomes}}
                {{partial "outcome_line"}}
            {{/each}}
        </ul>
        <br>
    {{else}}
        <h4 style="color: grey">{{__ 'Forward candidates'}}</h4><br>
        <div class="inline-form">

          <p>
            {{input type="checkbox" classNames="bulk-check" checked=sendAsBulk}} <strong> - {{__ 'Send in a single email?'}}</strong>
          </p>

          <strong>{{__ 'Candidates'}}</strong>
          <div>
            {{candidate-chooser back="goBack" candidates=selectedCandidates}}
          </div>
          <div class="hspacer"></div>

          <strong>{{__ 'Recipients'}}</strong>
          <div>{{select-2
                 query="queryRecipients"
                 value=recipients
                 placeholder=translations.placeholderSelectRecipients2
                 stickyPlaceholder=true
                 multiple=true
               }}
          </div>
          {{#if hasRecipientDomainRestrictions}}
            <div><strong>{{__x "Forwarding is restricted to these domains: {domains}" domains=recipientDomainRestrictions}}</strong></div>
          {{/if}}
          <div class="hspacer"></div>

          <strong>{{__ 'Optional Message'}}:</strong>
          <div>
            {{textarea value=messageContent placeholder=translations.placeholderMessage}}
          </div>
          <div class="hspacer"></div>

          <div>
            <button class="btn btn-primary" style="float:right" {{action 'multiForward'}} disabled={{formInvalid}}>{{__ 'Submit'}}</button>
            <button class="btn" {{action 'goBack'}}>{{__ 'Go Back'}}</button>
          </div>
        </div>
    {{/if}}
</div>
