    <div id="keywords-tooltip" class="dropdown dropdown-tip dropdown-anchor-right">
        <div class="keywords-tooltop-panel dropdown-panel">
	        <div class="keywords-tooltip-container dropdown-relative">
	            <h4>{{__ "Tips on Boolean Searching"}}</h4>
                <ul class="keyword-boolean-tips">
                    {{__ '<li>Use AND to narrow and refine your search. i.e. Developer AND London AND Java</li>
                    <li>Use OR to broaden your search. This searches for at least one of the terms in the statement and is best used to search for different terms that mean similar things. i.e. Customer Support OR Client Services OR Customer service executive</li>
                    <li>Use AND NOT to narrow and refine your search i.e. Project Manager AND NOT Construction</li>
                    <li>Use "quotation marks" to search for an exact phrase: i.e. "Java Developer"</li>
                    <li>Use an asterisk* to search for words with the same root: i.e. admin* will return admin, administrator, administration etc</li>
                    <li>Use parentheses to enclose an OR statement i.e. Project Manager AND (PMP OR PMI OR "Project Management Professional")</li>
                    <li>For Monster only: use NEAR to search for words and phrases that are mentioned within 10 words of each other in either direction. i.e. "JAVA Developer" NEAR (jboss OR Websphere)</li>
                    <li>Monster Power Search uses semantic search, so not all boolean values are required to find the best candidates:<br>&nbsp;- If "AND" is used, the keywords will be marked as "required"<br>&nbsp;- If "OR" is used, the keywords will be marked as "nice to have"</li>'}}
                </ul>
	        </div>
        </div>
    </div>

