<div class="unit size3of4 lastUnit messaging" id="where_the_results_go">
    {{#if sendingMessage}}
        <ul class="candidate-outcome">
            <button class="btn" {{action 'goBack'}}>{{__ 'Back To Results'}}</button><br><br>
            <h4 style="color: grey">{{__ 'Message...'}}</h4><br>

            {{#each outcomes}}
                {{partial "outcome_line"}}
            {{/each}}
        </ul>
        <br>
    {{else}}
        {{#if hasPaidRecipients}}
        <div class="alert alert-warning"><i class="icon-attention"></i> {{__ 'Some recipients have no email address. We will download their CV to message them. You might incur some cost.'}}</div>
        {{/if}}

        <div class="inline-form">

          <strong>{{__ "Email Template"}}:</strong>
          <div class="line">
            <div class="unit size1of2">
                {{select-2 query="queryEmailTemplates"
                         value=emailTemplate
                         placeholder=translations.placeholderPleaseSelect
                         multiple=false
                         allowClear=true
                }}
            </div>
          </div>
          <div class="hspacer"></div>


          <strong>{{__ 'Recipients'}}</strong>
          <div>
            {{candidate-chooser back="goBack" candidates=recipients}}
          </div>
          <div class="hspacer"></div>

          <strong>{{__ 'Reply To'}}:</strong><span class="required-field">*</span>
          <div>
            {{input type="email" value=messageEmail classNames="input-xxlarge" required="required" placeholder=translations.placeholderReplyTo}}
          </div>
          <div class="hspacer"></div>

          <strong>{{__ 'Subject'}} {{__ '(Max 80 chars)'}}:</strong><span class="required-field">*</span>
          <div>
            <div class="input-prepend">
              <span class="add-on">{{messageSubjectPrefix}}</span>
              {{input value=messageSubject classNames="input-xxlarge" required="required" maxlength="80" placeholder=translations.placeholderSubject}}
            </div>
          </div>
          <div class="hspacer"></div>

          <strong>{{__ 'Body'}}:</strong><span class="required-field">*</span>
          <div>
            {{tiny-mce value=messageContent height=400 updateContent=_tinymceUpdateContent}}
          </div>

            {{#if advertsAreAllowed}}
              <strong>{{__ "Include a link to"}}:</strong>
               {{#if advertId}}(<a target="_NEW" href="{{cheeseSandwichObject.internalPreviewUrl}}">{{__ 'preview'}}</a>){{/if}}

             <div>
               {{select-2 query="queryCheeseSandwiches"
               value=cheeseSandwich
               placeholder=translations.placeholderPleaseSelect
               multiple=false
               allowClear=true
               }}
             </div>

             {{/if}}

             <div class="hspacer"></div>

             <div>
               <button class="btn btn-primary" style="float:right" {{action 'sendMessage'}} disabled={{formInvalid}}>{{__ 'Send Message'}}</button>
               <button class="btn" {{action 'goBack'}}>{{__ 'Go Back'}}</button>
             </div>
        </div>
        {{/if}}
</div>
