<div class="line" style="background-color: lightblue; padding:20px;">
    <div class="unit">
        <img src="/static/images/information.png" class="information" />
    </div>
    <div class="unit size3of4">
        <h2>{{__ 'No boards available'}}</h2>
        <p>{{__ 'In order to use Search you require some active board subscriptions.'}}</p>
        <p>{{__ 'Please contact your account administrator.'}}</p>
    </div>
</div>
