<div class="line">
    <div class="unit size1of5 facetContainer">
        <div class="facetHeader">
            <h4 id="search-activity">
                {{#if controllers.board_results.searchFinished}}
                    {{#if searchUser.manageResponsesView}}
                        {{selectedBoard.formattedTotalResults}} {{__ "Responses"}}
                    {{else}}
                        {{__x "Found {total_results} results" total_results=selectedBoard.formattedTotalResults}}
                    {{/if}}
                {{else}}
                    {{#if searchHasRun}}
                        {{__ "Searching"}}...
                    {{else}}
                        &nbsp;
                    {{/if}}
                {{/if}}
            </h4>

            {{#if searchUser.manageResponsesView}}
                {{responses-side-control
                    criteria=criteria
                    exitResponses='exitResponses'
                    clearSearch='clearSearch'}}
            {{else}}
                {{#if viewedLongList}}
                    <ul>
                        <li>
                            <a href="#" {{action 'clearLongList'}}><i class="icon-ccw"></i> {{__ "Back to Search"}}</a>
                        </li>
                    </ul>
                {{/if}}

                {{search-side-control
                    criteria=criteria
                    clearSearch='clearSearch'
                    closeWatchdog='closeWatchdog'
                    watchdog=watchdog}}

                <!-- panels -->
                <div id="save-search-dialog" class="dropdown dropdown-tip downdown-anchor-left">
                    <div class="dropdown-panel">
                        {{save-search-dialog selectedBoard=selectedBoard criteria=criteria savedSearches=controllers.application.savedSearches}}
                    </div>
                </div>
                <div id="email-campaign-dialog" class="dropdown dropdown-tip downdown-anchor-left">
                    <div class="dropdown-panel">
                        {{save-search-dialog flavour="email_campaign" selectedBoard=selectedBoard criteria=criteria savedSearches=controllers.application.savedSearches}}
                    </div>
                </div>
                <div id="share-search-dialog" class="dropdown">
                    <div class="dropdown-panel">
                        {{ share-search-dialog }}
                    </div>
                </div>
            {{/if}}
        </div>
        <div id="sticky-facet-box">
            {{outlet 'boardFacets'}}
        </div>
    </div>
    <div class="unit lastUnit right-pane">
        {{#if searchUser.manageResponsesView}}
            <div class="line">
                <div class="unit lastUnit">
                    <div id="search-main-control">
                        {{responses-criteria
                            criteria=criteria
                            toggleSnippet="toggleSnippet"
                            criteriaLists=controllers.application.criteriaLists
                            board=selectedBoard
                            submit='submit'}}
                    </div>

                    <div class="{{if hasError '' 'hidden'}}">
                        <div class="alert alert-error line">
                          <h3>{{__ 'Sorry..'}}</h3>
                          {{#if unmanagedError}}
                          <br /><p>{{__ 'There has been an unmanaged error.'}}</p>
                          <br /><p>{{__ "Need more help?"}} <font class="icon-mail"></font> {{email-report-link error=error board_id=selectedBoard.id}}</p>
                          {{else}}
                          <br /><p>{{managed-error error=error criteria=criteria}}</p>
                          {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            {{#if watchdog}}
                <div class="opened-watchdog">
                    <i class="icon-history"></i> {{__ "Watchdog"}}:
                    <strong>{{watchdog.name}}</strong>
                </div>
            {{/if}}
            {{#if viewedLongList}}
                <div class="opened-watchdog">
                    <i class="icon-plus-1"></i> {{__ "Longlist"}}:
                    <strong>{{viewedLongList.name}}</strong>
                </div>
            {{/if}}

            <div id="search-main-control">
                {{main-criteria
                    criteria=criteria
                    watchdogSave='watchdogSave'
                    hasWatchdog=hasWatchdog
                    hideMoreOptions=hideMoreOptions
                    criteriaLists=controllers.application.criteriaLists
                    showSelectedAdverts=showSelectedAdverts
                    board=selectedBoard
                    submit='submit'}}

                <!-- Board selection should be moved to separate template -->
                <div class="line">
                    {{board-control
                        boards=boards
                        changeBoard='changeBoard'
                        clearWatchdogBoardResults='clearWatchdogBoardResults'}}
                </div> <!-- end of boards line -->

            </div>

            <div class="{{if hasError '' 'hidden'}}">
                <div class="alert alert-error line">
                  <h3>{{__ 'Sorry..'}}</h3>
                  {{#if unmanagedError}}
                  <br /><p>{{__ 'There has been an unmanaged error.'}}</p>
                  <br /><p>{{__ "Need more help?"}} <font class="icon-mail"></font> {{email-report-link error=error board_id=selectedBoard.id}}</p>
                  {{else}}
                  <br /><p>{{managed-error error=error criteria=criteria}}</p>
                  {{/if}}
                </div>
            </div>
        {{/if}}
        <div class="line results-container">
            <div class="unit lastUnit">
                {{outlet}}
            </div>
        </div>
    </div>
</div>
