<div class="unit size3of4 lastUnit messaging" id="where_the_results_go">
    {{#if sendingMessage}}
        <button class="btn" {{action 'goBack'}}>{{__ 'Back To Results'}}</button><br><br>
        <h4 style="color: grey">{{__ 'Shortlist...'}}</h4><br>
    
        <ul class="candidate-outcome">
            {{#each outcomes}}
                {{partial "outcome_line"}}
            {{/each}}
        </ul>
        <br>
    {{else}}
        <table>

            {{#if hasPaidSelectedCandidates}}
            <tr>
              <td class="form form-label"></td>
              <td class="form form-input"><div class="alert alert-warning"><i class="icon-attention"></i> {{__ 'We will download these candidates\' CVs to perform this action. You might incur some cost.'}}</div></td>
            </tr>
            {{/if}}

            <tr>
                <td class="form form-label">{{__ 'Candidates'}}</td>
                <td class="form form-input">{{candidate-chooser back="goBack" candidates=selectedCandidates}}</td>
            </tr>
            <tr>
                <td class="form form-label">
                    {{list.label}} {{#if list.allowPreview}}{{#if advertId}}(<a target="_NEW" href="/api/cheesesandwiches/{{list.name}}/{{advertId}}/preview/999">{{__ 'preview'}}</a>){{/if}}{{/if}}
                </td>
                <td class="form form-input">
                  {{select-2 query="queryCheeseSandwiches"
                             value=cheeseSandwich
                             placeholder=translations.placeholderPleaseTypeJobTitle
                             multiple=false
                             allowClear=true
                  }}
                </td>
            </tr>
            <tr>
                <td class="form"></td>
                <td class="form">
                    <button class="btn btn-primary" style="float:right" {{action 'shortlist'}} disabled={{formInvalid}}>{{__ 'Submit'}}</button>
                    <button class="btn" {{action 'goBack'}}>{{__ 'Go Back'}}</button>
                </td>
            </tr>
        </table>
    {{/if}}
</div>
