<div class="unit size3of4 lastUnit messaging" id="where_the_results_go">
    {{#if sendingTags}}
        <button class="btn" {{action 'goBack'}}>{{__ 'Back To Results'}}</button><br><br>
        <h4 style="color: grey">{{__ 'Tagging...'}}</h4><br>

        <ul class="candidate-outcome">
            {{#each outcomes}}
                {{partial "outcome_line"}}
            {{/each}}
        </ul>
        <br>
    {{else}}
        <table>
            <tr>
                <td class="form form-label">{{__ 'Candidates'}}</td>
                <td class="form form-input">{{candidate-chooser back="goBack" candidates=selectedCandidates}}</td>
            </tr>
            <tr>
                <td class="form form-label">
                    {{__ 'Tag Search'}}
                </td>
                <td class="form form-input">
                    <div class="bulk-tag add-tag-container">
                        {{add-tag selectedTag=tag}}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="form"></td>
                <td class="form form-input">
                    <button class="btn btn-primary" style="float:right" {{action 'multiTag'}} disabled={{formInvalid}}>
                    {{__ 'Submit'}}</button>
                    <button class="btn" {{action 'goBack'}}>{{__ 'Go Back'}}</button>
                </td>
            </tr>
        </table>
    {{/if}}
</div>
