{{#if watchdog.criteria_id}}
{{else}}
    {{#if watchdog.error}}
        <div class="alert alert-error">
            <h4>{{ watchdog.error }}</h4>
            {{__ 'Redirecting to search...'}}
        </div>
    {{else}}
        <h4>{{__ 'Loading watchdog...'}}</h4>
    {{/if}}
{{/if}}
