<div class="line admin-panel">
    <div class="line">
        <h3><i class="icon-history"></i> {{__ 'Watchdogs'}}</h3>
    </div>
    <div class="line">
        <div class="unit size1of5 admin-navigation">
            <ul>
                <li>{{#link-to 'watchdogs.summary'}}{{__ 'Summary'}}{{/link-to}}</li>
                <li>{{#link-to 'search'}}{{__ 'Back to Search'}}{{/link-to}}</li>
            </ul>
        </div>
        <div class="unit size4of5 lastUnit">
            {{outlet}}
        </div>
    </div>
</div>
